{
  "log": {
    "_recordingName": "CarrierAccount Service/creates an Amazon carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d55a133132db5170164145dac80f93b8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account_oauth_registrations\":{\"type\":\"AmazonShippingAccount\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/register_oauth"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 904,
            "text": "{\"id\":\"ca_9c3a0be772744f33bfd6ec719740f76e\",\"object\":\"CarrierAccount\",\"type\":\"AmazonShippingAccount\",\"clone\":false,\"created_at\":\"2025-04-11T17:14:34Z\",\"updated_at\":\"2025-04-11T17:14:34Z\",\"description\":null,\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"Amazon Shipping\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3275da7467f94dfae2ca7b33005cedb7"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb38nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202504102051-85835c857e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 284c5d344a, extlb1nuq 99aac35317"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 263,
      },
      {
        "_id": "5c679e434ae156b7dbf7285198163122",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_9c3a0be772744f33bfd6ec719740f76e"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3275da7367f94dfbe2ca7b34005ceded"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb34nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202504102051-85835c857e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 284c5d344a, extlb1nuq 99aac35317"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 204,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
