{
  "log": {
    "_recordingName": "BetaReferralCustomerService/Refund a payment by a payment log ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0a76572f15f6f4bde79e3b38f8ed3db8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"payment_log_id\":\"paylog_...\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/referral_customers/refunds"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 188,
            "text": "{\"error\":{\"code\":\"TRANSACTION.DOES_NOT_EXIST\",\"message\":\"We could not find a transaction with that id.\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a17066a91085e2b873d600351337"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb34nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 157,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
