{
  "log": {
    "_recordingName": "BetaReferralCustomerService/Refund a payment by a payment log ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0a76572f15f6f4bde79e3b38f8ed3db8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"payment_log_id\":\"paylog_...\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/referral_customers/refunds"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 188,
            "text": "{\"error\":{\"code\":\"TRANSACTION.DOES_NOT_EXIST\",\"message\":\"We could not find a transaction with that id.\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a56610597df3f6258000198db4"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb35nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 177,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
