{
  "log": {
    "_recordingName": "BetaReferralCustomerService/Refund a payment by a payment log ID",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4739bfa5b6da7e1337678e2fb53abdba",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"payment_log_id\":\"paylog_...\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com//beta/referral_customers/refunds"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 195,
            "text": "{\"error\":{\"code\":\"TRANSACTION.DOES_NOT_EXIST\",\"message\":\"We could not find a transaction with that id.\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49964f8ba96e79afecd001ccbce"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb42nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 641,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
