{
  "log": {
    "_recordingName": "Pickup Resource/retrieves all pickup",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "63eab0f4b4e134e3405e3ba296a68110",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/pickups?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1315,
            "text": "{\"pickups\":[{\"id\":\"pickup_568d64c702194c0883276fedc830610b\",\"object\":\"Pickup\",\"created_at\":\"2022-09-21T18:22:42Z\",\"updated_at\":\"2022-09-21T18:22:42Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2022-09-22T00:00:00Z\",\"max_datetime\":\"2022-09-22T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"messages\":[],\"confirmation\":null,\"address\":{\"id\":\"adr_61a4409339da11edaf46ac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-09-21T18:22:42+00:00\",\"updated_at\":\"2022-09-21T18:22:42+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"carrier_accounts\":[],\"pickup_rates\":[{\"mode\":\"test\",\"service\":\"NextDay\",\"rate\":\"0.00\",\"currency\":\"USD\",\"created_at\":\"2022-09-21T18:22:42Z\",\"updated_at\":\"2022-09-21T18:22:42Z\",\"carrier\":\"USPS\",\"pickup_id\":\"pickup_568d64c702194c0883276fedc830610b\",\"id\":\"pickuprate_aef60c3ec45a4cca8d742311f691d0e3\",\"object\":\"PickupRate\"}]},{\"id\":\"pickup_74e729209e6d4269baa4bb4d5b71aaf2\",\"object\":\"Pickup\",\"created_at\":\"2022-09-21T18:22:39Z\",\"updated_at\":\"2022-09-21T18:22:39Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2022-09-22T00:00:00Z\",\"max_datetime\":\"2022-09-22T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"m[...]
