{
  "log": {
    "_recordingName": "Shipment Resource/creates a shipment when only IDs are used",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3bc4c772b53d611f3eaf3bac4d02990f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 248,
            "text": "{\"id\":\"prcl_85067f4db741490ab03c7262d2366ae2\",\"object\":\"Parcel\",\"created_at\":\"2022-08-04T18:54:42Z\",\"updated_at\":\"2022-08-04T18:54:42Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "ad6b177d62ec15f2e2b8ea6d000c4961"
            },
            {
              "name": "location",
              "value": "/api/v2/parcels.prcl_85067f4db741490ab03c7262d2366ae2"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d1048f1e65d24212c7c3790d36c3a35b\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208041820-51968cb76d-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb2nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 132,
      },
      {
        "_id": "6158617f4663713391a044eb8f0d8c19",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"test@example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 420,
            "text": "{\"id\":\"adr_b28d76d5142811eda8bfac1f6bc7b362\",\"object\":\"Address\",\"created_at\":\"2022-08-04T19:07:34+00:00\",\"updated_at\":\"2022-08-04T19:07:34+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "ad6b177d62ec18f6e2b8ff35000d7a2a"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_b28d76d5142811eda8bfac1f6bc7b362"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "val[...]
