{
  "log": {
    "_recordingName": "Error Service/pulls out error properties of an API error when using the alternative format",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "112851d4bb1a6dfaa0d19f2f35ca5225",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"damage\",\"email_evidence_attachments\":[\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg==\"],\"invoice_attachments\":[\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg==\"],\"supporting_documentation_attachments\":[\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg==\"],\"description\":\"Test description\",\"contact_email\":\"test@example.com\",\"tracking_code\":\"123\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/claims"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 208,
            "text": "{\"error\":{\"code\":\"NOT_FOUND\",\"errors\":[\"No eligible insurance found with provided tracking code.\"],\"message\":\"The requested resource could not be found.\"}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "764a527667b8f688e2b9ff510036e52d"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb36nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202502212131-cc7bde76a5-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 51d74985a2, extlb1nuq 99aac35317"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 154,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
