{
  "log": {
    "_recordingName": "EasyPost/makes an API call using the generic makeApiCall method",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a9878da2e5d1136d8c546f41eefe0364",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "1"
            }
          ],
          "url": "https://api.easypost.com/v2/addresses?page_size=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 483,
            "text": "{\"addresses\":[{\"id\":\"adr_67b8d9fd8c3d11f1820c0022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:58Z\",\"updated_at\":\"2026-07-30T17:37:58Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b766a6b8bf6e0e306d603f2af15"
            },
            {
              "name": "x-node",
              "value": "bigweb34nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 155,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
