{
  "log": {
    "_recordingName": "EasyPost/makes an API call using the generic makeApiCall method",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "834b8b7f362e8009ac3eac7fcad8be46",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "1"
            }
          ],
          "url": "https://api.easypost.com/v2//addresses?page_size=1"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 608,
            "text": "{\"addresses\":[{\"id\":\"adr_793e897dbc0611f08682ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2025-11-07T18:20:43Z\",\"updated_at\":\"2025-11-07T18:20:43Z\",\"name\":null,\"company\":\"EASYPOST\",\"street1\":\"000 UNKNOWN STREET\",\"street2\":null,\"city\":\"NOT A CITY\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null}],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null}],\"details\":{\"latitude\":null,\"longitude\":null,\"time_zone\":null}},\"verify_carrier\":\"ups\"}}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "16819983698e0f99e787ddc1011e7834"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb56nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202602121702-bfe72e7ac7-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb5nuq 0dcc3a6efb, extlb1nuq c01291cd8f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 278,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
