{
  "log": {
    "_recordingName": "Webhook Service/retrieves a webhook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b24db32e32579b942c0339426601968e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"url\":\"http://example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 216,
            "text": "{\"id\":\"hook_88dd03b44e8e11ef82a85d9c0451402c\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2024-07-30T16:12:36Z\",\"disabled_at\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a17366a910f3e2b87c8100357d36"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb32nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 245,
      },
      {
        "_id": "e5121d93e3364e76fe47681a4add6124",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks/hook_88dd03b44e8e11ef82a85d9c0451402c"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType[...]
