{
  "log": {
    "_recordingName": "Address Service/throws an error when we cannot verify an address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "875838a18e54ec7a2fa64207129ad946",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"street1\":\"invalid\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 332,
            "text": "{\"id\":\"adr_063abdc14cdd11eeadbb3cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:44:27+00:00\",\"updated_at\":\"2023-09-06T17:44:27+00:00\",\"name\":null,\"company\":null,\"street1\":\"invalid\",\"street2\":null,\"city\":null,\"state\":null,\"zip\":null,\"country\":\"US\",\"phone\":null,\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49c64f8ba7be79afe83001cc28e"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_063abdc14cdd11eeadbb3cecef1b359e"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"7740c607a33923fb7a8be79a640f44a6\""
            },
            {
              "name": "x-node",
              "value": "bigweb36nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 422,
      },
      {
        "_id": "b1cf24f4b3d442b860e37f213e6b6d51",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses/adr_063abdc14cdd11eeadbb3cecef1b359e/verify"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 292,
            "text": "{\"error\":{\"code\":\"ADDRESS.VERIFY.FAILURE\",\"message\":\"Unable to verify address.\",\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null},{\"code\":\"E.HOUSE_NUMBER.MISSING\",\"field\":\"street1\",\"message\":\"House number is missing\",\"suggestion\":null}]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49e64f8ba7be79afe84001cc2ab"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb32nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 410,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
