{
  "log": {
    "_recordingName": "Address Service/throws an error when we cannot verify an address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "875838a18e54ec7a2fa64207129ad946",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"street1\":\"invalid\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 336,
            "text": "{\"id\":\"adr_8f75bd52ae5b11ee9c23ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-01-08T19:24:36+00:00\",\"updated_at\":\"2024-01-08T19:24:36+00:00\",\"name\":null,\"company\":null,\"street1\":\"invalid\",\"street2\":null,\"city\":null,\"state\":null,\"zip\":null,\"country\":\"US\",\"phone\":null,\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d1c48c8b659c4bf4f01fd8f9000fdc18"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_8f75bd52ae5b11ee9c23ac1f6bc539ae"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb32nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202401051829-4cf193bd35-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq ab82b2e6e9, extlb1nuq 003ad9bca0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 196,
      },
      {
        "_id": "52c2d4081daea0e0880f841dc8fb9b06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses/adr_8f75bd52ae5b11ee9c23ac1f6bc539ae/verify"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 292,
            "text": "{\"error\":{\"code\":\"ADDRESS.VERIFY.FAILURE\",\"message\":\"Unable to verify address.\",\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null},{\"code\":\"E.HOUSE_NUMBER.MISSING\",\"field\":\"street1\",\"message\":\"House number is missing\",\"suggestion\":null}]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d1c48c8b659c4bf4f41b778c000fdc41"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb34nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202401051829-4cf193bd35-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq ab82b2e6e9, extlb1nuq 003ad9bca0"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 192,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
