{
  "log": {
    "_recordingName": "ScanForm Service/retrieves a scanform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0e8a36bf9911f9473993492b09d56cb4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4},\"service\":\"GroundAdvantage\",\"carrier_accounts\":[\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"],\"carrier\":\"USPS\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 6531,
            "text": "{\"id\":\"shp_59dc678533e043fe998f0cc5904fbbbe\",\"created_at\":\"2026-07-30T17:38:00Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9400100208303112554697\",\"updated_at\":\"2026-07-30T17:38:01Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_68afb7cf8c3d11f182cc0022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:38:00Z\",\"updated_at\":\"2026-07-30T17:38:00Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"100.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_ce6913ea8983476ba2d1e411f4003ee5\",\"object\":\"Parcel\",\"weight\":15.4,\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"mode\":\"test\",\"created_at\":\"2026-07-30T17:38:00Z\",\"updated_at\":\"2026-07-30T17:38:00Z\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_8ff492fb01c242a7a8da217a9ecef73e\",\"created_at\":\"2026-07-30T17:38:01Z\",\"updated_at\":\"2026-07-30T17:38:01Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2026-07-30T17:38:01Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20260730/e8c2e393a0b474446c92a43016f41d1504.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_0541c2b33af44e21a16c40db41ebd9d7\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:38:00Z\",\"updated_at\":\"2026-07-30T17:38:00Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"39.05\",\"currency\":\"USD\",\"retail_rate\":\"43.45\",\"retail_currency\":\"USD\",\"list_rate\":\"39.05\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":1,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":1,\"shipment_id\":\"shp_59dc678533e043fe998f0cc5904fbbbe\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_57f3fce10f3647d6b657967f7e724a2b\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:38:00Z\",\"updated_at\":\"2026-07-30T17:38:00Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.22\",\"currency\":\"USD\",\"retail_rate\":\"11.90\",\"retail_currency\":\"USD\",\"list_rate\":\"10.40\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_59dc678533e043fe998f0cc5904fbbbe\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_3fbf427f500a4311b33c587762d28c31\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:38:00Z\",\"updated_at\":\"2026-07-30T17:38:00Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"6.98\",\"currency\":\"USD\",\"retail_rate\":\"10.60\",\"retail_currency\":\"USD\",\"list_rate\":\"7.46\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_59dc678533e043fe998f0cc5904fbbbe\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":{\"id\":\"rate_3fbf427f500a4311b33c587762d28c31\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:38:01Z\",\"updated_at\":\"2026-07-30T17:38:01Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"6.98\",\"currency\":\"USD\",\"retail_rate\":\"10.60\",\"retail_currency\":\"USD\",\"list_rate\":\"7.46\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_59dc678533e043fe998f0cc5904fbbbe\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},\"tracker\":{\"id\":\"trk_3048dfa5440f4c579c8959475ab30523\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100208303112554697\",\"status\":\"unknown\",\"status_detail\":\"unknown\",\"created_at\":\"2026-07-30T17:38:01Z\",\"updated_at\":\"2026-07-30T17:38:01Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":null,\"shipment_id\":\"shp_59dc678533e043fe998f0cc5904fbbbe\",\"carrier\":\"USPS\",\"tracking_details\":[],\"fees\":[],\"carrier_detail\":null,\"delivery_evidence\":[],\"public_url\":\"https://track.easypost.com/djE6dHJrXzMwNDhkZmE1NDQwZjRjNTc5Yzg5NTk0NzVhYjMwNTIz\"},\"to_address\":{\"id\":\"adr_68afb7558c3d11f182cb0022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:38:00Z\",\"updated_at\":\"2026-07-30T17:38:00Z\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":\"\",\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8448,\"longitude\":-118.39278,\"time_zone\":\"America/Los_Angeles\"}}}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_68afb7cf8c3d11f182cc0022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:38:00Z\",\"updated_at\":\"2026-07-30T17:38:00Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_68afb7558c3d11f182cb0022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:38:00Z\",\"updated_at\":\"2026-07-30T17:38:00Z\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":\"\",\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8448,\"longitude\":-118.39278,\"time_zone\":\"America/Los_Angeles\"}}}},\"forms\":[],\"fees\":[{\"object\":\"Fee\",\"type\":\"LabelFee\",\"amount\":\"0.00000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"PostageFee\",\"amount\":\"6.98000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"1.00000\",\"charged\":true,\"refunded\":false}],\"object\":\"Shipment\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "location",
              "value": "/api/v2/shipments/shp_59dc678533e043fe998f0cc5904fbbbe"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b796a6b8bf8e0e306d903f2b1d5"
            },
            {
              "name": "x-node",
              "value": "bigweb43nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1341,
      },
      {
        "_id": "6e37bae41dabc9c425abb38b486890e4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"scan_form\":{\"shipments\":[{\"id\":\"shp_59dc678533e043fe998f0cc5904fbbbe\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/scan_forms"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 897,
            "text": "{\"id\":\"sf_e225bb33196342d6a948e5b5ae4836c3\",\"object\":\"ScanForm\",\"created_at\":\"2026-07-30T17:38:01Z\",\"updated_at\":\"2026-07-30T17:38:01Z\",\"tracking_codes\":[\"9400100208303112554697\"],\"address\":{\"id\":\"adr_68afb7cf8c3d11f182cc0022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:38:00Z\",\"updated_at\":\"2026-07-30T17:38:00Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20260730/e80a1427f6c1554a9e8d4cae47cf45c40c.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_01deb1e6a1194280850eaa9fe2fc774b\",\"confirmation\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b796a6b8bf9e0e306d903f2b3fd"
         [...]
