{
  "log": {
    "_recordingName": "Address Resource/retrieves an address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7a7b72a6f4babfbc9d068305deca60a1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"test@example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 416,
            "text": "{\"id\":\"adr_f33cd2be17f511eda7c1ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2022-08-09T15:14:23+00:00\",\"updated_at\":\"2022-08-09T15:14:23+00:00\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6ed1082b62f279cfe2aabe230070f537"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_f33cd2be17f511eda7c1ac1f6bc72124"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"769968ebb405ac2bee0c95b700edc073\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, intlb1wdc 403f17ff97, extlb3wdc 9ce216bfac"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 355,
      },
      {
        "_id": "88bb0c4ddf8109a60564986ca023310c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses/adr_f33cd2be17f511eda7c1ac1f6bc72124"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType[...]
