{
  "log": {
    "_recordingName": "Shipment Service/retrieves all shipments",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "8a423a5b1e9e1a8c295be106d6c754e3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/shipments?page_size=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 42168,
            "text": "{\"shipments\":[{\"id\":\"shp_219b6cc663494e699cc2710de7e3546f\",\"created_at\":\"2026-07-30T17:37:55Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9400100208303112554574\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"batch_id\":\"batch_f39a6eb264c44d6ab2edfa60a5c1216c\",\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_6598fa2b8c3d11f1950d002248041e50\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"100.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_da1f112e36b149d8b585a551347cb7f4\",\"object\":\"Parcel\",\"weight\":15.4,\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"mode\":\"test\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_eaf1b33818f94f779dae607f1936a105\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2026-07-30T17:37:55Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20260730/e8d36da64342a54e4dbb4ea6534cc4ff5c.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_93e318418bf54866ae6ac50a670b1a76\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.22\",\"currency\":\"USD\",\"retail_rate\":\"11.90\",\"retail_currency\":\"USD\",\"list_rate\":\"10.40\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_219b6cc663494e699cc2710de7e3546f\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_51ca4255c5e74ce088f66b920431c6e2\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"6.98\",\"currency\":\"USD\",\"retail_rate\":\"10.60\",\"retail_currency\":\"USD\",\"list_rate\":\"7.46\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_219b6cc663494e699cc2710de7e3546f\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_28de4120e7de4f61819f9170982fc51e\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"39.05\",\"currency\":\"USD\",\"retail_rate\":\"43.45\",\"retail_currency\":\"USD\",\"list_rate\":\"39.05\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":1,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":1,\"shipment_id\":\"shp_219b6cc663494e699cc2710de7e3546f\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":{\"id\":\"rate_51ca4255c5e74ce088f66b920431c6e2\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"6.98\",\"currency\":\"USD\",\"retail_rate\":\"10.60\",\"retail_currency\":\"USD\",\"list_rate\":\"7.46\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_219b6cc663494e699cc2710de7e3546f\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},\"tracker\":{\"id\":\"trk_96470b088fd74211b84a8f0c177680fe\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100208303112554574\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"created_at\":\"2026-07-30T17:37:56Z\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":\"2026-07-30T17:37:56Z\",\"shipment_id\":\"shp_219b6cc663494e699cc2710de7e3546f\",\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment Info Sent to USPS\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2026-06-30T17:37:56Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null},\"est_delivery_date\":null,\"datetime_local\":\"2026-06-30T17:37:56+00:00\",\"geocode_confidence\":\"LOW\"},{\"object\":\"TrackingDetail\",\"message\":\"Shipping Label Created\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2026-07-01T06:14:56Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"},\"est_delivery_date\":null,\"datetime_local\":\"2026-07-01T06:14:56+00:00\",\"geocode_confidence\":\"LOW\"}],\"fees\":[],\"carrier_detail\":{\"object\":\"CarrierDetail\",\"service\":\"First-Class Package Service\",\"container_type\":null,\"est_delivery_date_local\":null,\"est_delivery_time_local\":null,\"origin_location\":\"HOUSTON TX, 77001\",\"origin_tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"},\"destination_location\":\"CHARLESTON SC, 29401\",\"destination_tracking_location\":null,\"guaranteed_delivery_date\":null,\"alternate_identifier\":null,\"initial_delivery_attempt\":null},\"delivery_evidence\":[],\"public_url\":\"https://track.easypost.com/djE6dHJrXzk2NDcwYjA4OGZkNzQyMTFiODRhOGYwYzE3NzY4MGZl\"},\"to_address\":{\"id\":\"adr_6598f9dd8c3d11f1950c002248041e50\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8448,\"longitude\":-118.39278,\"time_zone\":\"America/Los_Angeles\"}}}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_6598fa2b8c3d11f1950d002248041e50\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_6598f9dd8c3d11f1950c002248041e50\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8448,\"longitude\":-118.39278,\"time_zone\":\"America/Los_Angeles\"}}}},\"forms\":[],\"fees\":[{\"object\":\"Fee\",\"type\":\"LabelFee\",\"amount\":\"0.00000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"PostageFee\",\"amount\":\"6.98000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"1.00000\",\"charged\":true,\"refunded\":false}],\"object\":\"Shipment\"},{\"id\":\"shp_f72b006aa76543e0b011e3dc980b671f\",\"created_at\":\"2026-07-30T17:37:54Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"statu[...]
