{
  "log": {
    "_recordingName": "Shipment Service/retrieves all shipments",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8a423a5b1e9e1a8c295be106d6c754e3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/shipments?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 5384,
            "text": "{\"shipments\":[{\"created_at\":\"2024-07-30T16:11:59Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9400100110368068953143\",\"updated_at\":\"2024-07-30T16:12:01Z\",\"batch_id\":\"batch_52defe7112ca4be0b88346ab26a531f1\",\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_7356c19b4e8e11ef818eac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:59+00:00\",\"updated_at\":\"2024-07-30T16:11:59+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"50.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_b8dbfd5648fe477388be8f7b8fe1d586\",\"object\":\"Parcel\",\"created_at\":\"2024-07-30T16:11:59Z\",\"updated_at\":\"2024-07-30T16:11:59Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_aaa2d4fc7c1c47a2a6ebbf7bf0fd5a1d\",\"created_at\":\"2024-07-30T16:12:00Z\",\"updated_at\":\"2024-07-30T16:12:00Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2024-07-30T16:12:00Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240730/e86868d135d7e34057a0e4fd85ccd14481.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_9094398399414fa7a5ec04983ed8f207\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:12:00Z\",\"updated_at\":\"2024-07-30T16:12:00Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"33.10\",\"currency\":\"USD\",\"retail_rate\":\"37.90\",\"retail_currency\":\"USD\",\"list_rate\":\"33.10\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_d26fd3969ad04f77a2fc37a59142d4fb\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_b541ed3daef9473b9f83c3a20847618c\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:12:00Z\",\"updated_at\":\"2024-07-30T16:12:00Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"6.90\",\"currency\":\"USD\",\"retail_rate\":\"9.80\",\"retail_currency\":\"USD\",\"list_rate\":\"8.25\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_d26fd3969ad04f77a2fc37a59142d4fb\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_da63dea4278949379fd5d8522f541bab\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:12:00Z\",\"updated_at\":\"2024-07-30T16:12:00Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"5.93\",\"currency\":\"USD\",\"retail_rate\":\"8.45\",\"retail_currency\":\"USD\",\"list_rate\":\"6.40\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":3,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":3,\"shipment_id\":\"shp_d26fd3969ad04f77a2fc37a59142d4fb\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"}],\"refund_status\":null,\"scan_form\":{\"id\":\"sf_da27884bf5284484a82a217c4dd76be6\",\"object\":\"ScanForm\",\"created_at\":\"2024-07-30T16:12:01Z\",\"updated_at\":\"2024-07-30T16:12:01Z\",\"tracking_codes\":[\"9400100110368068953143\"],\"address\":{\"id\":\"adr_7356c19b4e8e11ef818eac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:59+00:00\",\"updated_at\":\"2024-07-30T16:11:59+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240730/e8d9483e5dbdb64a19bd7059abcc5506a8.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_52defe7112ca4be0b88346ab26a531f1\",\"confirmation\":null},\"selected_rate\":{\"id\":\"rate_da63dea4278949379fd5d8522f541bab\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:12:00Z\",\"updated_at\":\"2024-07-30T16:12:00Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"5.93\",\"currency\":\"USD\",\"retail_rate\":\"8.45\",\"retail_currency\":\"USD\",\"list_rate\":\"6.40\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":3,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":3,\"shipment_id\":\"shp_d26fd3969ad04f77a2fc37a59142d4fb\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},\"tracker\":{\"id\":\"trk_a3e0f923789d46b58fb1dc4d9d259f4a\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100110368068953143\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"created_at\":\"2024-07-30T16:12:01Z\",\"updated_at\":\"2024-07-30T16:12:01Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":\"2024-07-30T16:12:01Z\",\"shipment_id\":\"shp_d26fd3969ad04f77a2fc37a59142d4fb\",\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment Info Sent to USPS\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2024-06-30T16:12:01Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}},{\"object\":\"TrackingDetail\",\"message\":\"Shipping Label Created\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2024-07-01T04:49:01Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"}}],\"fees\":[],\"carrier_detail\":{\"object\":\"CarrierDetail\",\"service\":\"First-Class Package Service\",\"container_type\":null,\"est_delivery_date_local\":null,\"est_delivery_time_local\":null,\"origin_location\":\"HOUSTON TX, 77001\",\"origin_tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"},\"destination_location\":\"CHARLESTON SC, 29401\",\"destination_tracking_location\":null,\"guaranteed_delivery_date\":null,\"alternate_identifier\":null,\"initial_delivery_attempt\":null},\"public_url\":\"https://track.easypost.com/djE6dHJrX2EzZTBmOTIzNzg5ZDQ2YjU4ZmIxZGM0ZDlkMjU5ZjRh\"},\"to_address\":{\"id\":\"adr_73546b334e8e11ef818dac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:59+00:00\",\"updated_at\":\"2024-07-30T16:12:00+00:00\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_7356c19b4e8e11ef818eac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:59+00:00\",\"updated_at\":\"2024-07-30T16:11:59+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_73546b334e8e11ef818dac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:59+00:00\",\"updated_at\":\"2024-07-30T16:12:00+00:00\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"forms\":[],\"fees\":[{\"object\":\"Fee\",\"type\":\"LabelFee\",\"amount\":\"0.00000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"PostageFee\",\"amount\":\"5.93000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"0.50000\",\"charged\":true,\"refunded\":false}],\"id\":\"shp_d26fd3969ad04f77a2fc37a59142d4fb\",\"object\":\"Shipment\"},{\"created_at\":\"2024-07-30T16:11:58Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"statu[...]
