{
  "log": {
    "_recordingName": "User Resource/updates the authenticated user's brand",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c721dbf57c8f152edc5d8ef81d9d6ae1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/users"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 432,
            "text": "{\"id\":\"user_2cfd34d1261a4a9b93d56c313a9a824b\",\"object\":\"User\",\"parent_id\":null,\"name\":\"New Test Name\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-05-23T17:43:47Z\",\"balance\":\"0.00000\",\"price_per_shipment\":\"0.00000\",\"recharge_amount\":null,\"secondary_recharge_amount\":null,\"recharge_threshold\":null,\"has_billing_method\":null,\"cc_fee_rate\":\"0.0325\",\"default_insurance_amount\":\"50.00\",\"insurance_fee_rate\":\"0.005\",\"insurance_fee_minimum\":\"0.25\",\"email\":\"<REDACTED>\",\"children\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "4f3afc3b62a2408aeb288d47002bac67"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6ca1c40e13b7949115a4e2c9a519268b\""
            },
            {
              "name": "x-node",
              "value": "bigweb4nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206090041-73f986ccd8-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 0910011e7e, extlb2nuq 0910011e7e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 202,
      },
      {
        "_id": "4d8f1f318cb4ab70bcb10f45047fae68",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"brand\":{\"color\":\"#123456\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/users/user_2cfd34d1261a4a9b93d56c313a9a824b/brand"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 344,
            "text": "{\"id\":\"brd_0e606e55ac73483b9ef26ba2e7dcfec5\",\"color\":\"#123456\",\"logo\":\"https://assets.easypost.com/assets/images/branding/easypost-primary-logo-7a2cf535f2.svg\",\"logo_href\":\"https://www.easypost.com\",\"name\":\"EasyPost\",\"ad\":null,\"ad_href\":null,\"object\":\"Brand\",\"user_id\":\"user_2cfd34d1261a4a9b93d56c313a9a824b\",\"background_color\":null,\"theme\":\"theme1\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "4f3afc3c62a2408aeb288d48002bac79"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1db759217d34f1d4558f723082035904\""
            },
            {
              "name": "x-node",
              "value": "bigweb3nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206090041-73f986ccd8-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 0910011e7e, extlb2nuq 0910011e7e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 111,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
