{
  "log": {
    "_recordingName": "Address Service/creates an address with verify_carrier param",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "5209807d548ad84eb9c196cf08a24b13",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"verify\":true,\"verify_carrier\":\"UPS\",\"address\":{\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 588,
            "text": "{\"id\":\"adr_78c37e14bc0611f0861fac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2025-11-07T18:20:43Z\",\"updated_at\":\"2025-11-07T18:20:43Z\",\"name\":null,\"company\":\"EASYPOST\",\"street1\":\"000 UNKNOWN STREET\",\"street2\":\"\",\"city\":\"NOT A CITY\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null}],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null}],\"details\":{\"latitude\":null,\"longitude\":null,\"time_zone\":null}},\"verify_carrier\":\"ups\"}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "e4553704690e387ae786b3da011dff25"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_78c37e14bc0611f0861fac1f6bc539ae"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb36nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202511071754-85836cab32-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0061e0a2e, extlb1nuq cbbd141214"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 799,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
