{
  "log": {
    "_recordingName": "ReferralCustomer Service/creates a referral user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "666eae5a3c4ab74ab33ebe63d6ee14dd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test Referral\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/referral_customers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 736,
            "text": "{\"id\":\"user_724a777c4d0a4a508d90f12308b3707c\",\"object\":\"User\",\"parent_id\":null,\"name\":\"Test Referral\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2025-11-17T21:01:28Z\",\"default_carbon_offset\":false,\"has_elevate_access\":false,\"balance\":\"0.00000\",\"price_per_shipment\":\"0.00000\",\"recharge_amount\":null,\"secondary_recharge_amount\":null,\"recharge_threshold\":null,\"has_billing_method\":null,\"cc_fee_rate\":\"0.0375\",\"default_insurance_amount\":\"50.00\",\"insurance_fee_rate\":\"0.01\",\"insurance_fee_minimum\":\"0.50\",\"email\":\"<REDACTED>\",\"children\":[],\"api_keys\":[{\"object\":\"ApiKey\",\"key\":\"<REDACTED>\",\"mode\":\"test\",\"created_at\":\"2025-11-17T21:01:28Z\",\"active\":true,\"id\":\"ak_8c54efd2057f4440bf61849c38c70aa3\"},{\"object\":\"ApiKey\",\"key\":\"<REDACTED>\",\"mode\":\"production\",\"created_at\":\"2025-11-17T21:01:28Z\",\"active\":true,\"id\":\"ak_34e338c8a2fb46bc95aaf84781541e60\"}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "5384288a691b8d28e787335e0179a47b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb55nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202511172009-5a977589c2-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb6nuq c0061e0a2e, extlb1nuq cbbd141214"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 983,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
