{
  "extends": ["eslint:recommended", "prettier"],

  "env": {
    "node": true,
    "mocha": true
  },

  "settings": {
    "import/extensions": ["", ".js", ".json"]
  },

  "rules": {
    "import/no-extraneous-dependencies": 0,

    // mocha syntax: expect(x).to.not.be.undefined
    "no-unused-expressions": 0,

    // @easypost/eslint-config-easypost-base assumes all tests are jest. so turn these rules off
    "jest/consistent-test-it": 0,
    "jest/valid-expect": 0,
    "global-require": "off"
  },

  "globals": {
    "expect": true
  },
  "parserOptions": {
    "ecmaVersion": 13,
    "sourceType": "module"
  }
}
