{
  "extends": ["eslint:recommended", "prettier"],

  "env": {
    "node": true,
    "es2021": true,
  },

  "rules": {
    "global-require": "off",
  },

  "globals": {
    "afterAll": true,
    "afterEach": true,
    "beforeAll": true,
    "beforeEach": true,
    "describe": true,
    "expect": true,
    "it": true,
    "vi": true,
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "rules": {
        "no-undef": "off",
        "no-unused-vars": "off",
      },
    },
  ],
  "parserOptions": {
    "ecmaVersion": 13,
  },
}
