{
  "log": {
    "_recordingName": "User Service/retrieves next page of children",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b454a3643738e79207d40fc67df8e8e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/users/children?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 464,
            "text": "{\"children\":[{\"id\":\"user_484dd58db70a4f31b4bb862998cf0e04\",\"object\":\"User\",\"parent_id\":\"user_0f6b83e3530b401cb1e8aeaa6a250d4d\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2023-05-16T22:01:20Z\"},{\"id\":\"user_14e894c0d541459395f4456e7cf4f175\",\"object\":\"User\",\"parent_id\":\"user_0f6b83e3530b401cb1e8aeaa6a250d4d\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2023-09-27T22:05:26Z\"},{\"id\":\"user_f04df3dad13848339a7975d295d6629f\",\"object\":\"User\",\"parent_id\":\"user_0f6b83e3530b401cb1e8aeaa6a250d4d\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2023-11-30T19:23:22Z\"},{\"id\":\"user_44d216445b2f4595a123a18084000d94\",\"object\":\"User\",\"parent_id\":\"user_0f6b83e3530b401cb1e8aeaa6a250d4d\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2024-07-26T18:36:54Z\"},{\"id\":\"user_f3b7021a2d924bedb080d7caa00d753e\",\"object\":\"User\",\"parent_id\":\"user_0f6b83e3530b401cb1e8aeaa6a250d4d\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2024-07-26T18:41:48Z\"}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "ea26a1c566b51e77e786ab3b00130928"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb42nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202408081823-7bbdcabd1f-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 483,
      },
      {
        "_id": "255ed9bfd949337ffa214f53bca78117",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            },
            {
              "name": "after_id",
              "value": "user_f3b7021a2d924bedb080d7caa00d753e"
     [...]
