{
  "log": {
    "_recordingName": "Report Service/retrieves next page of reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 488,
            "text": "{\"reports\":[{\"id\":\"shprep_6b5d983d5c724d2e8a377fb2f6ab4a19\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-21T18:52:01Z\",\"updated_at\":\"2023-02-21T18:52:08Z\",\"start_date\":\"2022-05-04\",\"end_date\":\"2022-05-04\",\"mode\":\"test\",\"status\":\"empty\",\"url\":null,\"url_expires_at\":null,\"include_children\":false},{\"id\":\"shprep_61d188258a634375b2a48e9ac208ac83\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-21T18:52:00Z\",\"updated_at\":\"2023-02-21T18:52:09Z\",\"start_date\":\"2022-05-04\",\"end_date\":\"2022-05-04\",\"mode\":\"test\",\"status\":\"empty\",\"url\":null,\"url_expires_at\":null,\"include_children\":false},{\"id\":\"shprep_05700560c1f74ead8491a515e024fc9d\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-21T18:51:59Z\",\"updated_at\":\"2023-02-21T18:52:03Z\",\"start_date\":\"2022-05-04\",\"end_date\":\"2022-05-04\",\"mode\":\"test\",\"status\":\"empty\",\"url\":null,\"url_expires_at\":null,\"include_children\":false},{\"id\":\"shprep_4f2cace880c248e388dcb6414579e0db\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-21T18:51:59Z\",\"updated_at\":\"2023-02-21T18:52:05Z\",\"start_date\":\"2022-05-04\",\"end_date\":\"2022-05-04\",\"mode\":\"test\",\"status\":\"empty\",\"url\":null,\"url_expires_at\":null,\"include_children\":false},{\"id\":\"shprep_82eb786d2ac84c6ab33db97f460c130c\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-21T18:47:16Z\",\"updated_at\":\"2023-02-21T18:48:25Z\",\"start_date\":\"2022-05-04\",\"end_date\":\"2022-05-04\",\"mode\":\"test\",\"status\":\"empty\",\"url\":null,\"url_expires_at\":null,\"include_children\":false}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "0a4b32f8641e0d6de798de0a000b2fcf"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"ef425bf24828e8f15ca6690dae568fd0\""
            },
            {
              "name": "x-node",
              "value": "bigweb8nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202303241807-b1b25b369f-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq a40ea751fd, extlb2nuq a29e4ad05c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 439,
      },
      {
        "_id": "560588b1b33b284312bbc83079d3ed42",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "before_id",
              "value": "shprep_82eb786d2ac84c6ab33db97f460c130c"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/undefined?before_id=shprep_82eb786d2ac84c6ab33db97f460c130c"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 160,
            "text": "{\"error\":{\"code\":\"NOT_FOUND\",\"message\":\"The requested resource could not be found.\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "355402846421c80be79a75a3001a3e50"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb4nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202303242052-9f0716f638-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq a40ea751fd, extlb1nuq a29e4ad05c"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 405,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
