{
  "log": {
    "_recordingName": "Report Service/retrieves next page of reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1174,
            "text": "{\"reports\":[{\"id\":\"shprep_32a7d36f29064d4f8cd87d2918f8038a\",\"object\":\"ShipmentReport\",\"created_at\":\"2024-07-30T16:11:57Z\",\"updated_at\":\"2024-07-30T16:11:57Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20240730/e8d52b38ba106247ed87da813f19ba3a62.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQ7T7W7W7P%2F20240730%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20240730T161157Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=af0f0e6e2ba0385a5e8797328f778be77e8bded1731545769ba2ec7ff9763642\",\"url_expires_at\":\"2024-07-30T16:12:27Z\",\"include_children\":false},{\"id\":\"shprep_dd015934e7a34cce8212399af116debe\",\"object\":\"ShipmentReport\",\"created_at\":\"2024-07-30T16:11:57Z\",\"updated_at\":\"2024-07-30T16:11:57Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20240730/e8837bcbce3a0d4d60a0105c2a2080ac6e.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQ7T7W7W7P%2F20240730%2Fus-west-2%2Fs3%2[...]
