{
  "log": {
    "_recordingName": "BetaReferralCustomerService/Refund by amount for a recent payment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a92f8186a404321b7ef1b617bf52c81b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"refund_amount\":2000}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/referral_customers/refunds"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 208,
            "text": "{\"error\":{\"code\":\"TRANSACTION.AMOUNT_INVALID\",\"message\":\"Refund amount is invalid. Please use a valid amount or escalate to finance.\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a06610597cf41b780c00198d1a"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb39nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 528,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
