{
  "log": {
    "_recordingName": "BetaReferralCustomerService/Refund by amount for a recent payment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bcd09f676a18fb79f543ff516606658a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"refund_amount\":2000}"
          },
          "queryString": [],
          "url": "https://api.easypost.com//beta/referral_customers/refunds"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 208,
            "text": "{\"error\":{\"code\":\"TRANSACTION.AMOUNT_INVALID\",\"message\":\"Refund amount is invalid. Please use a valid amount or escalate to finance.\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49b64f8ba95e79afecc001ccb6f"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb33nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 932,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
