{
  "log": {
    "_recordingName": "BetaReferralCustomerService/Refund by amount for a recent payment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bcd09f676a18fb79f543ff516606658a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"refund_amount\":2000}"
          },
          "queryString": [],
          "url": "https://api.easypost.com//beta/referral_customers/refunds"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 208,
            "text": "{\"error\":{\"code\":\"TRANSACTION.AMOUNT_INVALID\",\"message\":\"Refund amount is invalid. Please use a valid amount or escalate to finance.\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "5da06f7b6441c13bf5053e2e00130caa"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb11nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202304202133-7cd88739c5-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq a29e4ad05c, extlb1nuq a29e4ad05c"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 977,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
