{
  "log": {
    "_recordingName": "BetaReferralCustomerService/Refund by amount for a recent payment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a92f8186a404321b7ef1b617bf52c81b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"refund_amount\":2000}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/referral_customers/refunds"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 147,
            "text": "{\"error\":{\"code\":\"TRANSACTION.AMOUNT_INVALID\",\"message\":\"Refund amount is invalid. Please use a valid amount or escalate to finance.\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b756a6b8bfbe0e3071403f2b82d"
            },
            {
              "name": "x-node",
              "value": "bigweb35nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 453,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
