{
  "log": {
    "_recordingName": "CarrierType Service/retrieves the carrier account types available",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0459b18a1a7ab29b293e4b744848eba5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_types"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 5676,
            "text": "[{\"object\":\"CarrierType\",\"type\":\"AmazonMwsAccount\",\"readable\":\"Amazon MWS\",\"logo\":null,\"fields\":[]},{\"object\":\"CarrierType\",\"type\":\"ApcAccount\",\"readable\":\"APC\",\"logo\":null,\"fields\":[]},{\"object\":\"CarrierType\",\"type\":\"AsendiaUsaAccount\",\"readable\":\"Asendia USA\",\"logo\":null,\"fields\":[]},{\"object\":\"CarrierType\",\"type\":\"AustraliaPostAccount\",\"readable\":\"Australia Post\",\"logo\":null,\"fields\":[]},{\"object\":\"CarrierType\",\"type\":\"AxlehireV3Account\",\"readable\":\"AxlehireV3\",\"logo\":null,\"fields\":[]},{\"object\":\"CarrierType\",\"type\":\[...]
