{
  "log": {
    "_recordingName": "User Resource/retrieves the authenticated user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c721dbf57c8f152edc5d8ef81d9d6ae1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/users"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 592,
            "text": "{\"id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"object\":\"User\",\"parent_id\":null,\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-02-02T20:19:29Z\",\"default_carbon_offset\":false,\"balance\":\"0.00000\",\"price_per_shipment\":\"0.00000\",\"recharge_amount\":\"100.00\",\"secondary_recharge_amount\":\"100.00\",\"recharge_threshold\":\"0.00\",\"has_billing_method\":false,\"cc_fee_rate\":\"0.0325\",\"default_insurance_amount\":\"50.00\",\"insurance_fee_rate\":\"0.005\",\"insurance_fee_minimum\":\"0.25\",\"email\":\"<REDACTED>\",\"children\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "895bf83263405386e2b7ded20012f9a7"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3bc2574d4fd5c69a7260d13aebb0acf1\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210062334-76175f429e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb1nuq 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 211,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
