{
  "log": {
    "_recordingName": "CustomsInfo Service/creates a customs info",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d9c3cf3e70b28b65ae1f1aff18f456b8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_info\":{\"eel_pfc\":\"NOEEI 30.37(a)\",\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"contents_type\":\"merchandise\",\"contents_explanation\":\"\",\"restriction_type\":\"none\",\"non_delivery_option\":\"return\",\"customs_items\":[{\"description\":\"Sweet shirts\",\"quantity\":2,\"weight\":11,\"value\":23.25,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_infos"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 600,
            "text": "{\"id\":\"cstinfo_4d97728c1fe244f79600197ad80daf99\",\"object\":\"CustomsInfo\",\"created_at\":\"2024-04-05T20:05:22Z\",\"updated_at\":\"2024-04-05T20:05:22Z\",\"contents_explanation\":\"\",\"contents_type\":\"merchandise\",\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"restriction_comments\":null,\"restriction_type\":\"none\",\"mode\":\"test\",\"declaration\":null,\"customs_items\":[{\"id\":\"cstitem_767d3277672c475197a25b675cd8777f\",\"object\":\"CustomsItem\",\"created_at\":\"2024-04-05T20:05:22Z\",\"updated_at\":\"2024-04-05T20:05:22Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a766105982f42be7b0001992ff"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_infos/cstinfo_4d97728c1fe244f79600197ad80daf99"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 171,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
