{
  "log": {
    "_recordingName": "ApiKey Resource/retrieves all apiKeys",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1ef78b842c72a8e0bcddfb20fb8306aa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/api_keys"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 752,
            "text": "{\"id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"keys\":[],\"children\":[{\"id\":\"user_440324784cde4116a7df4372e7b483aa\",\"keys\":[{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"test\",\"created_at\":\"2022-03-15T20:14:01Z\",\"id\":\"ak_51cc7e6704744c41b9181b388a3eb085\"},{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"production\",\"created_at\":\"2022-03-15T20:14:01Z\",\"id\":\"ak_4b7cbcc413d7471884167d0cf1ecbafe\"}],\"children\":[]},{\"id\":\"user_9c224c5a33cb4e468a09857a5830764b\",\"keys\":[{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"test\",\"created_at\":\"2022-06-01T19:57:08Z\",\"id\":\"ak_a3e40f1d16884c3fbe551c5c1fc19c28\"},{\"obje[...]
