{
  "presets": [
    ["env", {"targets": {"node": "current" }}],
    "stage-2"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-es2015-classes",
  ],

  "env": {
    "test": {
      "presets": [["env", {"targets": {"node": "current" }}], "stage-2"],
      "plugins": [
        "transform-class-properties",
        "transform-es2015-classes",
        ["istanbul", {
          "exclude": [
            "test/**/*"
          ]
        }]
      ]
    }
  }
}
