{
  "extends": ["eslint:recommended", "prettier"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.babel.js"
      }
    },
    "import/extensions": ["", ".js", ".ejs", ".json", ".yml", ".jsx"],
    "import/ignore": [".ejs$", ".yml$", ".jsx", "node_modules"]
  },
  "rules": {
    "lines-between-class-members": "off",
    "global-require": "off"
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 13
  },
  "env": {
    "node": true,
    "es6": true
  }
}
