{
  "extends": ["prettier", "eslint:recommended"],
  "settings": {
    "import/extensions": ["", ".js", ".ejs", ".json", ".yml", ".jsx"],
    "import/ignore": [".ejs$", ".yml$", ".jsx", "node_modules"]
  },
  "rules": {
    "no-console": "off",
    "import/no-unresolved": "off",
    "no-param-reassign": "off",
    "filenames/match-regex": "off",
    "lines-between-class-members": "off",
    "global-require": "off"
  },
  "globals": {
    "window": true,
    "$": true
  },
  "parserOptions": {
    "ecmaVersion": 13,
    "requireConfigFile": false,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
      },
      "rules": {
        "no-undef": "off"
      }
    }
  ]
}
