{
  "sourceMap": false,
  "instrument": false,
  "check-coverage": true,
  "lines": 86,
  "reporter": ["lcov", "text"],
  "include": ["src/**/*.js"],
  "require": ["@babel/register", "./test/helpers/common.js"]
}
