{
  "sourceMap": false,
  "instrument": false,
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "include": [
    "src/**/*.js"
  ],
  "require": [
    "babel-register",
    "./test/common.js"
  ]
}
