{
  "log": {
    "_recordingName": "Referral Beta Resource/add a referral user credit card",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4a925291fbf04e1194556724ff10d022",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/beta/partners/stripe_public_key"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 104,
            "text": "{\"public_key\":\"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "94b9dab86340805be2b8ffbb0005f8c0"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"86cc970265a111486b443bf66ef85e91\""
            },
            {
              "name": "x-node",
              "value": "bigweb8nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210062334-76175f429e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 127,
      },
      {
        "_id": "0d70e93368e1587d1da08f8f34a2d5ba",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "card%5Bnumber%5D=4536410136126170&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=778"
          },
          "queryString": [],
          "url": "https://api.stripe.com/v1/tokens"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 719,
            "text": "{\"id\":\"tok_0LqMO0DqT4huGUvd5NrsPLci\",\"object\":\"token\",\"card\":{\"id\":\"card_0LqMO0DqT4huGUvd8ozXevHU\",\"object\":\"card\",\"address_city\":null,\"address_country\":null,\"address_line1\":null,\"address_line1_check\":null,\"address_line2\":null,\"address_state\":null,\"address_zip\":null,\"address_zip_check\":null,\"brand\":\"Visa\",\"country\":\"US\",\"cvc_check\":\"unchecked\",\"dynamic_last4\":null,\"exp_month\":5,\"exp_year\":2028,\"funding\":\"credit\",\"last4\":\"6170\",\"name\":null,\"tokenization_method\":null},\"client_ip\":\"<REDACTED>\",\"created\":1665171548,\"livemode\":true,\"type\":\"card\",\"used\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "89a8ed16-54e0-4e75-b90c-b1d139e92917"
            },
            {
              "name": "original-request",
              "value": "req_rskhRx7JXx8wVM"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2020-08-27"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 615,
      },
      {
        "_id": "88fd6880f148f5908d7f47cf2a1bf081",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"credit_card\":{\"stripe_object_id\":\"tok_0LqMO0DqT4huGUvd5NrsPLci\",\"priority\":\"primary\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/credit_cards"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 212,
            "text": "{\"id\":\"card_23ccb5b9233e4ab3ada494c53fb6a0eb\",\"disabled_at\":null,\"object\":\"CreditCard\",\"name\":null,\"last4\":\"6170\",\"exp_month\":5,\"exp_year\":2028,\"brand\":\"Visa\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "94b9dabd6340805ce2b8ffd40005f8f2"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"7e6fb60e2234fa6bd9e5931363447325\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210062334-76175f429e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 4122,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
