{
  "log": {
    "_recordingName": "Refund Service/retrieves next page of refunds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2ab677bcc63e4eeae5996e2963b4d00a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/refunds?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 340,
            "text": "{\"refunds\":[{\"id\":\"rfnd_bf0275a8a3fd4a92a375777de5fe57e7\",\"object\":\"Refund\",\"created_at\":\"2024-07-30T16:11:55Z\",\"updated_at\":\"2024-07-30T16:11:55Z\",\"tracking_code\":\"9400100110368068953068\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_d6a7ef3fbb364284a6814408a0f20269\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a16c66a910cce2b87b57003555b5"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
