{
  "log": {
    "_recordingName": "Refund Service/retrieves next page of refunds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2ab677bcc63e4eeae5996e2963b4d00a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/refunds?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 336,
            "text": "{\"refunds\":[{\"id\":\"rfnd_31869e5f07bd45a18d93a5bd9bcf075a\",\"object\":\"Refund\",\"created_at\":\"2024-04-05T20:06:14Z\",\"updated_at\":\"2024-04-05T20:06:14Z\",\"tracking_code\":\"9400100110322030272342\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_7707d86dfa8147d2ad77aae3a6a7a9ea\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a2661059b6f407c2c80019c694"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb36nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 163,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
