{
  "log": {
    "_recordingName": "Refund Service/retrieves next page of refunds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2ab677bcc63e4eeae5996e2963b4d00a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/refunds?page_size=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1509,
            "text": "{\"refunds\":[{\"id\":\"rfnd_44f7bcd5479144ba92237472a55b1f2e\",\"object\":\"Refund\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"tracking_code\":\"9400100208303112554628\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_6c2bb0cc8a3c412c901339b055e1f4af\"},{\"id\":\"rfnd_7aac20da167640e8b065b50755ce763e\",\"object\":\"Refund\",\"created_at\":\"2026-07-30T15:30:26Z\",\"updated_at\":\"2026-07-30T15:30:26Z\",\"tracking_code\":\"9400100208303112553546\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_df3f6b5c0ead49938f038165ca16649d\"},{\"id\":\"rfnd_a823a43880e3404abf93867dc48bf754\",\"object\":\"Refund\",\"created_at\":\"2026-07-30T15:30:22Z\",\"updated_at\":\"2026-07-30T15:30:22Z\",\"tracking_code\":\"9400100208303112553515\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_46f340506f67473dbcd412f0dcad07dc\"},{\"id\":\"rfnd_44bc6559d2a649afb4ac9fb14524b0cb\",\"object\":\"Refund\",\"created_at\":\"2026-07-30T15:26:36Z\",\"updated_at\":\"2026-07-30T15:26:36Z\",\"tracking_code\":\"9400100208303112553256\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_98da9f572efd4c5caee0ba6dcddd33dd\"},{\"id\":\"rfnd_0c360dd23e5541d7b98798d560188a79\",\"object\":\"Refund\",\"created_at\":\"2026-07-30T15:26:32Z\",\"updated_at\":\"2026-07-30T15:26:32Z\",\"tracking_code\":\"9400100208303112553232\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_8f2243beefe94ea48f43094de5738350\"}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b786a6b8bf7e0e306d803f2b10b"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 186,
      },
      {
        "_id": "98a5d80354ee0502d9edb411042db66f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            },
            {
              "name": "before_id",
              "value": "rfnd_0c360dd23e5541d7b98798d560188a79"
    [...]
