{
  "log": {
    "_recordingName": "Webhook Resource/retrieves a webhook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b24db32e32579b942c0339426601968e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"url\":\"http://example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 216,
            "text": "{\"id\":\"hook_c90410aee82411ecae035106f9ad88b3\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2022-06-09T18:48:43Z\",\"disabled_at\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "4f3afc3962a2408beb288d49002bac88"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"95faab73216656a1f2e8b451231589fd\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206090041-73f986ccd8-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 0910011e7e, extlb2nuq 0910011e7e"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 235,
      },
      {
        "_id": "6414a4ed69ad5be06950e1b3a75322f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks/hook_c90410aee82411ecae035106f9ad88b3"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType[...]
