{
  "log": {
    "_recordingName": "BetaCarrierMetadataService/retrieves carrier metadata based on the filters provided",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ae17fdf46245c5b7b1cf7753974678f6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "carriers",
              "value": "usps"
            },
            {
              "name": "types",
              "value": "service_levels,predefined_packages"
            }
          ],
          "url": "https://api.easypost.com//beta/metadata?carriers=usps&types=service_levels%2Cpredefined_packages"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1148,
            "text": "{\"carriers\":[{\"human_readable\":\"USPS\",\"name\":\"usps\",\"predefined_packages\":[{\"carrier\":\"usps\",\"description\":null,\"dimensions\":[\"6in x 4.5in x 0.016in\"],\"human_readable\":null,\"max_weight\":null,\"name\":\"Card\"},{\"carrier\":\"usps\",\"description\":null,\"dimensions\":[\"11.5in x 6.125in x 0.25in\"],\"human_readable\":null,\"max_weight\":null,\"name\":\"Letter\"},{\"carrier\":\"usps\",\"description\":null,\"dimensions\":[\"11.5in x 6.125in x 0.75in\"],\"human_readable\":null,\"max_weight\":null,\"name\":\"Flat\"},{\"carrier\":\"usps\",\"description\":null,\"dimensions\":[\"12.5in x 9.5in\"],\"human_readable\":null,\"max_weight\":null,\"name\":\"FlatRateEnvelope\"},{\"carrier\":\[...]
