{
  "log": {
    "_recordingName": "Event Service/retrieves next page of events",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7e4e1116b1b9e0aa9f03f42906cca863",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/events?page_size=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1108,
            "text": "{\"events\":[{\"description\":\"batch.updated\",\"id\":\"evt_65691e928c3d11f1804731ea27ab2885\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2026-07-30T17:37:54.747Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"report.available\",\"id\":\"evt_655b74868c3d11f180f91f17df82b698\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2026-07-30T17:37:54.658Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.created\",\"id\":\"evt_655b73328c3d11f1a7cc2b9b4feb6929\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2026-07-30T17:37:54.658Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_6533508c8c3d11f1a5d8451901cf86e0\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2026-07-30T17:37:54.395Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"report.new\",\"id\":\"evt_6529eae28c3d11f1aa09076b49f51e2d\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2026-07-30T17:37:54.333Z\",\"mode\":\"test\",\"object\":\"Event\"}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b786a6b8bf2e0e306af03f2a7d4"
            },
            {
              "name": "x-node",
              "value": "bigweb56nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 398,
      },
      {
        "_id": "0dec7131ae5441194e30f326842468e4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            },
            {
              "name": "before_id",
              "value": "evt_6529eae28c3d11f1aa09076b49f51e2d"
     [...]
