{
  "log": {
    "_recordingName": "Event Service/retrieves next page of events",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e4e1116b1b9e0aa9f03f42906cca863",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/events?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 400,
            "text": "{\"events\":[{\"description\":\"insurance.cancelled\",\"id\":\"evt_be084980c8d511ed96575b1c5ecd0a2f\",\"user_id\":\"user_04ad194774a54f6c97d1385715721091\",\"status\":\"pending\",\"created_at\":\"2023-03-22T17:19:46.015Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"tracker.updated\",\"id\":\"evt_a60704fcc8d511ed948b07c95113680f\",\"user_id\":\"user_04ad194774a54f6c97d1385715721091\",\"status\":\"pending\",\"created_at\":\"2023-03-22T17:19:05.742Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"tracker.created\",\"id\":\"evt_942591c2c8d511eda8217991570cda15\",\"user_id\":\"user_04ad194774a54f6c97d1385715721091\",\"status\":\"pending\",\"created_at\":\"2023-03-22T17:18:35.743Z\",\"mode\":\"test\",\"object\":\"Event\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "eb57f5c664232c89e0dc8a80001e2d8a"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"ce3c2fbcbcbf4cc5f1af6196adf42f75\""
            },
            {
              "name": "x-node",
              "value": "bigweb11nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202303271939-29966fef42-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq a40ea751fd, intlb1wdc a40ea751fd, extlb3wdc a29e4ad05c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 646,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
