{
  "log": {
    "_recordingName": "Pickup Service/retrieves all pickup",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "63eab0f4b4e134e3405e3ba296a68110",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/pickups?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1194,
            "text": "{\"pickups\":[{\"id\":\"pickup_19d7844f1e9440139dcab95387a2f264\",\"object\":\"Pickup\",\"created_at\":\"2023-09-06T17:46:18Z\",\"updated_at\":\"2023-09-06T17:46:18Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2023-09-10T00:00:00Z\",\"max_datetime\":\"2023-09-10T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"messages\":[],\"confirmation\":null,\"address\":{\"id\":\"adr_48af0c9e4cdd11ee8f78ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:46:18+00:00\",\"updated_at\":\"2023-09-06T17:46:18+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"carrier_accounts\":[],\"pickup_rates\":[{\"mode\":\"test\",\"service\":\"NextDay\",\"rate\":\"0.00\",\"currency\":\"USD\",\"created_at\":\"2023-09-06T17:46:19Z\",\"updated_at\":\"2023-09-06T17:46:19Z\",\"carrier\":\"USPS\",\"pickup_id\":\"pickup_19d7844f1e9440139dcab95387a2f264\",\"id\":\"pickuprate_461d1dd10f384603a095eaedae64ed9f\",\"object\":\"PickupRate\"}]},{\"id\":\"pickup_808fb214de124b7b91f8b061e86f279f\",\"object\":\"Pickup\",\"created_at\":\"2023-09-06T17:46:15Z\",\"updated_at\":\"2023-09-06T17:46:15Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2023-09-10T00:00:00Z\",\"max_datetime\":\"2023-09-10T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"m[...]
