{
  "log": {
    "_recordingName": "Pickup Service/retrieves all pickup",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "63eab0f4b4e134e3405e3ba296a68110",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/pickups?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1354,
            "text": "{\"pickups\":[{\"id\":\"pickup_e9d3b502747646d4824f670905b1b7ec\",\"object\":\"Pickup\",\"created_at\":\"2023-02-08T18:53:32Z\",\"updated_at\":\"2023-02-08T18:53:32Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2023-02-10T00:00:00Z\",\"max_datetime\":\"2023-02-10T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"messages\":[],\"confirmation\":null,\"address\":{\"id\":\"adr_e27c3c21a7e111ed9150ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2023-02-08T18:53:32+00:00\",\"updated_at\":\"2023-02-08T18:53:32+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"carrier_accounts\":[],\"pickup_rates\":[{\"mode\":\"test\",\"service\":\"NextDay\",\"rate\":\"0.00\",\"currency\":\"USD\",\"created_at\":\"2023-02-08T18:53:33Z\",\"updated_at\":\"2023-02-08T18:53:33Z\",\"carrier\":\"USPS\",\"pickup_id\":\"pickup_e9d3b502747646d4824f670905b1b7ec\",\"id\":\"pickuprate_60fc5e8ec6e7408bbd6b8252bb78e180\",\"object\":\"PickupRate\"}]},{\"id\":\"pickup_e0bb7b8f0d864ce596c8429f98a9b07e\",\"object\":\"Pickup\",\"created_at\":\"2023-02-08T18:53:29Z\",\"updated_at\":\"2023-02-08T18:53:29Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2023-02-10T00:00:00Z\",\"max_datetime\":\"2023-02-10T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"m[...]
