{
  "log": {
    "_recordingName": "Report Resource/retrieves all reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1122,
            "text": "{\"reports\":[{\"id\":\"shprep_be54f973929a4a6cbfc96ae9b39cd8a5\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-09T15:13:32Z\",\"updated_at\":\"2022-08-09T15:13:32Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220809/cb29a72e67eb4e6b940a494404e4af01.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220809%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220809T151332Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=59f5a79b8225433f9704be37837b54df8118d64dec45f2e2265e5168696194c2\",\"url_expires_at\":\"2022-08-09T15:14:02Z\",\"include_children\":false},{\"id\":\"shprep_14c5d619ee44473f8c128dc5f4b41fad\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-09T15:13:32Z\",\"updated_at\":\"2022-08-09T15:13:32Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220809/5302e2f3824141f9ab3310debcd438bd.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220809%2Fus-west-2%2Fs3%2Fa[...]
