{
  "log": {
    "_recordingName": "Report Resource/retrieves all reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3310d74199e85a66b3ab9953d94fa037",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1012,
            "text": "{\"reports\":[{\"id\":\"shprep_c60ba140342445eb8a8e0968b61a4227\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-05-26T22:02:36Z\",\"updated_at\":\"2022-05-26T22:02:36Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false},{\"id\":\"shprep_039ec7478d274f1f905142d5845d4a52\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-05-26T22:02:36Z\",\"updated_at\":\"2022-05-26T22:02:36Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220526/7857c1dfb37848c9b8d9320d29b0bd7e.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220526%2Fus-west-2%2Fs3%2Fa[...]
