{
  "log": {
    "_recordingName": "Report Resource/retrieves all reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1122,
            "text": "{\"reports\":[{\"id\":\"shprep_00464c387b794936b04c6963f7888044\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-07-29T22:04:18Z\",\"updated_at\":\"2022-07-29T22:04:19Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220729/20a8c38a23144e7e9c39231abd5f04ef.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220729%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220729T220419Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=d694c611a898babcf6891f86c474ebbf8190899a016e78bb0e16b901a626e887\",\"url_expires_at\":\"2022-07-29T22:04:49Z\",\"include_children\":false},{\"id\":\"shprep_df37e383e0ce4d1e8be0ce5d2cf2fa75\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-07-29T22:04:18Z\",\"updated_at\":\"2022-07-29T22:04:18Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false},{\"id\":\"shprep_424033d6421a454eb33d6ea974c68aeb\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-07-29T22:04:18Z\",\"updated_at\":\"2022-07-29T22:04:18Z\",\"start_d[...]
