{
  "log": {
    "_recordingName": "Report Resource/retrieves all reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1178,
            "text": "{\"reports\":[{\"id\":\"shprep_9d519b26d3c849e792188a18c8a741bf\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-06-01T19:48:51Z\",\"updated_at\":\"2022-06-01T19:48:51Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220601/dc0f3fe90eb94fd69c08109972cb0120.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220601%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220601T194851Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=67d325a6841eaafe249e82cb374d3b3e817f65c23d21eeb7ba1e111356928592\",\"url_expires_at\":\"2022-06-01T19:49:21Z\",\"include_children\":false},{\"id\":\"shprep_e828f0f7c0234278903f8f24bce72dde\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-06-01T19:48:51Z\",\"updated_at\":\"2022-06-01T19:48:51Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220601/ffc2b2512a524e8bbaba87304404a978.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220601%2Fus-west-2%2Fs3%2Fa[...]
