{
  "log": {
    "_recordingName": "Report Resource/retrieves all reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1166,
            "text": "{\"reports\":[{\"id\":\"shprep_1988dbed9424452481be5fcf0bd1c247\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-09T15:15:16Z\",\"updated_at\":\"2022-08-09T15:15:16Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220809/e94f1cd655264ff6a109ee6fc9cc58d1.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220809%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220809T151517Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=6734536b084af65a77e73a71ca4536e2a283637e4247c7c76e81ae5cc678501d\",\"url_expires_at\":\"2022-08-09T15:15:47Z\",\"include_children\":false},{\"id\":\"shprep_ad8c1223234e44beaaadf18715d63b89\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-09T15:15:16Z\",\"updated_at\":\"2022-08-09T15:15:16Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220809/b682de5b92f34471a266fac15b0cc2a3.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220809%2Fus-west-2%2Fs3%2Fa[...]
