{
  "log": {
    "_recordingName": "Report Resource/retrieves all reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 856,
            "text": "{\"reports\":[{\"id\":\"shprep_14a03c17e5ad4cd781fd1ba84878faf9\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-04T18:59:30Z\",\"updated_at\":\"2022-08-04T18:59:30Z\",\"start_date\":\"2022-08-01\",\"end_date\":\"2022-08-01\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false},{\"id\":\"shprep_0e5c17299bf84359a3d419626d7b8a98\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-04T18:59:30Z\",\"updated_at\":\"2022-08-04T18:59:30Z\",\"start_date\":\"2022-08-01\",\"end_date\":\"2022-08-01\",\"mode\":\"test\",\"status\":\"empty\",\"url\":null,\"url_expires_at\":null,\"include_children\":false},{\"id\":\"shprep_cd3295f716d14d6db96c28b46477efd5\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-04T18:59:30Z\",\"updated_at\":\"2022-08-04T18:59:30Z\",\"start[...]
