{
  "log": {
    "_recordingName": "Parcel Resource/creates a parcel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b25eeccb943253adcb1cd471155305d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 251,
            "text": "{\"id\":\"prcl_520d1d43900e40da865d824d6602a0e8\",\"object\":\"Parcel\",\"created_at\":\"2022-05-26T22:02:25Z\",\"updated_at\":\"2022-05-26T22:02:25Z\",\"length\":10.0,\"width\":8.0,\"height\":4.0,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3b783bbd628ff8f1e787c49d00111cad"
            },
            {
              "name": "location",
              "value": "/api/v2/parcels.prcl_520d1d43900e40da865d824d6602a0e8"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"96aa0378f678b2ae352d194c81518b45\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205262146-0562c799aa-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq fc4d5d217f"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 454,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
