{
  "log": {
    "_recordingName": "Parcel Resource/creates a parcel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3bc4c772b53d611f3eaf3bac4d02990f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 248,
            "text": "{\"id\":\"prcl_2a6fafbd9fcf4d6fbdb0872c6d970127\",\"object\":\"Parcel\",\"created_at\":\"2022-08-04T18:54:31Z\",\"updated_at\":\"2022-08-04T18:54:31Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "ad6b177b62ec15e7e2b8e9eb000c4667"
            },
            {
              "name": "location",
              "value": "/api/v2/parcels.prcl_2a6fafbd9fcf4d6fbdb0872c6d970127"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"39fb8ca18e46fbd88d667d8a75282cb7\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208041820-51968cb76d-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 403f17ff97, extlb2nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 140,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
