{
  "log": {
    "_recordingName": "Referral Beta Resource/add payment method to a referral customer account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1da7a2d3e35d0d9d92e97555d7329020",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"payment_method\":{\"stripe_customer_id\":\"cus_123\",\"payment_method_reference\":\"ba_123\",\"priority\":\"primary\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/referral_customers/payment_method"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 192,
            "text": "{\"error\":{\"code\":\"BILLING.INVALID_PAYMENT_GATEWAY_REFERENCE\",\"message\":\"Invalid Payment Gateway Reference.\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "8bfbdf7d63bc7aeae7799849000daa34"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202301092005-3309c91c2c-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 483,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
