{
  "log": {
    "_recordingName": "Billing Resource/retrieves all payment methods",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "71ace4456439a9a0117303fa79616cec",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/payment_methods"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 176,
            "text": "{\"id\":\"cust_2261a5b9801d4877b7a6774a4beb06d9\",\"object\":\"PaymentMethods\",\"primary_payment_method\":null,\"secondary_payment_method\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "ba8fdd4a63408f8fe2ba0c39000b93d4"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"769ad7a45bd2a30a9005a905979394d5\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210062334-76175f429e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, intlb2wdc 29913d444b, extlb4wdc 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 390,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
