{
  "log": {
    "_recordingName": "Referral Beta Resource/creates a referral user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6b168c83c35b0b47c381ed9ac0ad6362",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test Referral\",\"email\":\"test@example.com\",\"phone\":\"1111111111\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/referral_customers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 720,
            "text": "{\"id\":\"user_4bc997d470e44155a7cb04231c732edc\",\"object\":\"User\",\"parent_id\":null,\"name\":\"Test Referral\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-10-05T17:19:47Z\",\"default_carbon_offset\":false,\"balance\":\"0.00000\",\"price_per_shipment\":\"0.00000\",\"recharge_amount\":null,\"secondary_recharge_amount\":null,\"recharge_threshold\":null,\"has_billing_method\":null,\"cc_fee_rate\":\"0.0375\",\"default_insurance_amount\":\"50.00\",\"insurance_fee_rate\":\"0.005\",\"insurance_fee_minimum\":\"0.25\",\"email\":\"<REDACTED>\",\"children\":[],\"api_keys\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "44b58a91633dbcb3e2b86ed200186b99"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2b4ccd1dc3b1994fdce35aad8114cfdd\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210042225-6ba9df4b68-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, intlb2wdc 29913d444b, extlb4wdc 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1411,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
