{
  "log": {
    "_recordingName": "Claim Service/retrieves all claim objects",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "51ebbe35f11841c03380ff9ffba80ba5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/claims?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1690,
            "text": "{\"claims\":[{\"approved_amount\":null,\"attachments\":[\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240730/3f2b1f2346114e35b23067beee7aae25.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240730/d545aa6f77f942e79d149a5a38fccfad.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240730/80cc25d8c2ec47769c2da411f3f96efe.png\"],\"check_delivery_address\":null,\"contact_email\":\"test@example.com\",\"created_at\":\"2024-07-30T16:10:54\",\"description\":\"Test description\",\"history\":[{\"status\":\"submitted\",\"status_detail\":\"Claim was created.\",\"timestamp\":\"2024-07-30T16:10:54\"}],\"id\":\"clm_097fb37e05f140018b0ca5301d45ac42\",\"insurance_amount\":\"100.00\",\"insurance_id\":\"ins_30085a145bd342bfb73f3cbc4291a79c\",\"mode\":\"test\",\"object\":\"Claim\",\"payment_method\":\"easypost_wallet\",\"recipient_name\":null,\"requested_amount\":\"100.00\",\"salvage_value\":null,\"shipment_id\":\"shp_89110a34971f4094a952ffc420e465ef\",\"status\":\"submitted\",\"status_detail\":\"Claim was created.\",\"status_timestamp\":\"2024-07-30T16:10:54\",\"tracking_code\":\"9400100110368068952092\",\"type\":\"damage\",\"updated_at\":\"2024-07-30T16:10:54\"},{\"approved_amount\":null,\"attachments\":[\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240730/a7a48d5dde4449bb9b1007ea0bedf88a.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240730/d30c1e8ff6a64bef993fc5d8cb9b62b1.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240730/552004f738074d5a9eb8f0efeabfaf08.png\"],\"check_delivery_address\":null,\"contact_email\":\"test@example.com\",\"created_at\":\"2024-07-30T16[...]
