{
  "log": {
    "_recordingName": "Claim Service/retrieves all claim objects",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "51ebbe35f11841c03380ff9ffba80ba5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/claims?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1294,
            "text": "{\"claims\":[{\"approved_amount\":null,\"attachments\":[\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/0fd02e34a5ee48f1827c1ba3e2c31e22.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/afdeff21802f44919a508454739d0aca.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/780c05a5186944698c0066cddff86d8d.png\"],\"check_delivery_address\":null,\"contact_email\":\"test@example.com\",\"created_at\":\"2024-07-22T18:55:35\",\"description\":\"Test description\",\"history\":[{\"status\":\"cancelled\",\"status_detail\":\"Claim cancellation was requested.\",\"timestamp\":\"2024-07-22T18:55:37\"},{\"status\":\"submitted\",\"status_detail\":\"Claim was created.\",\"timestamp\":\"2024-07-22T18:55:35\"}],\"id\":\"clm_097e24d6b5984fb1a9e2e9c2b310efe8\",\"insurance_amount\":\"100.00\",\"insurance_id\":\"ins_47d51d1147864d6da7e705669c3416b7\",\"mode\":\"test\",\"object\":\"Claim\",\"payment_method\":\"easypost_wallet\",\"recipient_name\":null,\"requested_amount\":\"100.00\",\"salvage_value\":null,\"shipment_id\":\"shp_1d8ef4ccdf6c43e48ff12f72b1b4171f\",\"status\":\"cancelled\",\"status_detail\":\"Claim cancellation was requested.\",\"status_timestamp\":\"2024-07-22T18:55:37\",\"tracking_code\":\"9400100110368065947473\",\"type\":\"damage\",\"updated_at\":\"2024-07-22T18:55:36\"},{\"approved_amount\":null,\"attachments\":[\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/0fd02e34a5ee48f1827c1ba3e2c31e22.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/afdeff21802f44919a508454739d0aca.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/780c05a5186944698c0066cddff86d8d.png\"],\"check_delivery_address\":null,\"contact_email\":\"test@example.com\",\"created_at\":\"2024-07-22T18[...]
