{
  "log": {
    "_recordingName": "Claim Service/retrieves all claim objects",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "51ebbe35f11841c03380ff9ffba80ba5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/claims?page_size=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5934,
            "text": "{\"claims\":[{\"approved_amount\":null,\"attachments\":[\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260730/d351a0bbdac649659fd2b99bbb1f205e.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260730/f7f29061db654ac69fc819998e3fd161.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260730/ac9ac3d89689483880a6360de40c1422.png\"],\"check_delivery_address\":null,\"contact_email\":\"test@example.com\",\"created_at\":\"2026-07-30T17:37:59Z\",\"description\":\"Test description\",\"history\":[{\"status\":\"submitted\",\"status_detail\":\"Claim was created.\",\"timestamp\":\"2026-07-30T17:37:59Z\"}],\"id\":\"clm_0a47629cfde04d2084f115f9a9acbb6a\",\"insurance_amount\":\"100.00\",\"insurance_id\":\"ins_2100ec36795247e58306e0a2585b6028\",\"mode\":\"test\",\"object\":\"Claim\",\"payment_method\":\"easypost_wallet\",\"payout_recipient\":null,\"recipient_name\":null,\"reference\":null,\"requested_amount\":\"100.00\",\"salvage_value\":null,\"shipment_id\":\"shp_4ee2293eaf6b4befb9d9a7266a51c437\",\"status\":\"submitted\",\"status_detail\":\"Claim was created.\",\"status_timestamp\":\"2026-07-30T17:37:59Z\",\"tracking_code\":\"9400100208303112554635\",\"type\":\"damage\",\"updated_at\":\"2026-07-30T17:37:59Z\"},{\"approved_amount\":null,\"attachments\":[\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260730/413febfc9c35407eae93c3bb6d8a1199.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260730/ff6d8ce3b8614e86b2a1424a8f42c91c.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260730/31ac5f9c9dff4df5a1aadaa4954abe18.png\"],\"check_delivery_address\":null,\"contact_email\":\"test@example.com\",\"created_at\":\"2026-07-30T1[...]
