{
  "log": {
    "_recordingName": "Refund Service/retrieves a refund",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2ab677bcc63e4eeae5996e2963b4d00a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/refunds?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 708,
            "text": "{\"refunds\":[{\"id\":\"rfnd_82dc18badae646cd8f6584a3f9ab89be\",\"object\":\"Refund\",\"created_at\":\"2023-02-08T18:53:49Z\",\"updated_at\":\"2023-02-08T18:53:49Z\",\"tracking_code\":\"9400100104262179060228\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_e576bf3592be44018fa8dfc84a700f23\"},{\"id\":\"rfnd_6bc1558e531a47ceb7cd7b97d463a4d7\",\"object\":\"Refund\",\"created_at\":\"2023-02-08T00:07:31Z\",\"updated_at\":\"2023-02-08T00:07:31Z\",\"tracking_code\":\"9400100104262178737961\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_466b7032ad6349a89f750c2ad39e6f28\"},{\"id\":\"rfnd_f5b0c9359fb143fdb8a0b1b5ecdf45ba\",\"object\":\"Refund\",\"created_at\":\"2023-02-07T23:42:58Z\",\"updated_at\":\"2023-02-07T23:42:58Z\",\"tracking_code\":\"9400100104262178731945\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_75418eb4e34b4993b1677a109443eb26\"},{\"id\":\"rfnd_3e08e782587b42178ea5926934671e52\",\"object\":\"Refund\",\"created_at\":\"2023-02-07T19:01:24Z\",\"updated_at\":\"2023-02-07T19:01:24Z\",\"tracking_code\":\"9400100104262178547621\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_6398a255041a493fba12403e3cd24847\"},{\"id\":\"rfnd_fc4f7b65fc944acf8ebb52fef78201e3\",\"object\":\"Refund\",\"created_at\":\"2023-01-31T21:34:31Z\",\"updated_at\":\"2023-01-31T22:30:42Z\",\"tracking_code\":\"9400100106089176590385\",\"confirmation_number\":null,\"status\":\"rejected\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_5dd64f4722ea4dc5b1c02faf9a9bf637\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15af63e3efbde786b7dc00037734"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6cbc915ded62a8e843ccfd2b51ed7752\""
            },
            {
              "name": "x-node",
              "value": "bigweb12nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 265,
      },
      {
        "_id": "144a2a3e04060b1f403f15209c11dc07",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/refunds/rfnd_82dc18badae646cd8f6584a3f9ab89be"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType"[...]
