{
  "log": {
    "_recordingName": "Refund Service/retrieves a refund",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2ab677bcc63e4eeae5996e2963b4d00a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/refunds?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 428,
            "text": "{\"refunds\":[{\"id\":\"rfnd_68e631a111924127863ed41f0d80f649\",\"object\":\"Refund\",\"created_at\":\"2023-09-06T17:46:48Z\",\"updated_at\":\"2023-09-06T17:46:48Z\",\"tracking_code\":\"9400100105440258924312\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_f3cc059fd7ab4742b5aa100723bace81\"},{\"id\":\"rfnd_e850336a2eab44e6b6a91628c6525ac0\",\"object\":\"Refund\",\"created_at\":\"2023-09-06T17:39:38Z\",\"updated_at\":\"2023-09-06T17:39:38Z\",\"tracking_code\":\"9400100105440258920888\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_596b17913e0248988f8637c534b02ac5\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49864f8bb09e79b063f001cf60b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4e63ddf5c1dc4c9ec7135586319acb0a\""
            },
            {
              "name": "x-node",
              "value": "bigweb40nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 440,
      },
      {
        "_id": "68ad8bbfbc8a21343dfa6bcdc143cba9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/refunds/rfnd_68e631a111924127863ed41f0d80f649"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType"[...]
