{
  "log": {
    "_recordingName": "Shipment Resource/retrieves all shipments",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "197a74bc941f10186a39bba414c23d91",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/shipments?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 5580,
            "text": "{\"shipments\":[{\"created_at\":\"2022-05-23T22:51:15Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9400100109361120469945\",\"updated_at\":\"2022-05-23T22:51:16Z\",\"batch_id\":\"batch_bc0da2417077408b82893defa398b7cb\",\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_d9bca64adaea11ecb3d3ac1f6bc7bdc6\",\"object\":\"Address\",\"created_at\":\"2022-05-23T22:51:15+00:00\",\"updated_at\":\"2022-05-23T22:51:15+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"50.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_8e06e61d20fd49ee8c86853af5d81a8c\",\"object\":\"Parcel\",\"created_at\":\"2022-05-23T22:51:15Z\",\"updated_at\":\"2022-05-23T22:51:15Z\",\"length\":10.0,\"width\":8.0,\"height\":4.0,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_166f435c4cbe4405b42e6c1c652e7f90\",\"created_at\":\"2022-05-23T22:51:15Z\",\"updated_at\":\"2022-05-23T22:51:15Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2022-05-23T22:51:15Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220523/9dbf9c1e51284027ad83400ae195291e.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_7923d1246534470089ae92ef6e0dcf32\",\"object\":\"Rate\",\"created_at\":\"2022-05-23T22:51:15Z\",\"updated_at\":\"2022-05-23T22:51:15Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"7.37\",\"currency\":\"USD\",\"retail_rate\":\"8.70\",\"retail_currency\":\"USD\",\"list_rate\":\"7.37\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":1,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":1,\"shipment_id\":\"shp_7aec9121379a4f30ab4027b2cd0a74e3\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_f1413b87f4c449078461b63f6c18e822\",\"object\":\"Rate\",\"created_at\":\"2022-05-23T22:51:15Z\",\"updated_at\":\"2022-05-23T22:51:15Z\",\"mode\":\"test\",\"service\":\"First\",\"carrier\":\"USPS\",\"rate\":\"5.49\",\"currency\":\"USD\",\"retail_rate\":\"5.49\",\"retail_currency\":\"USD\",\"list_rate\":\"5.49\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false[...]
