{
  "log": {
    "_recordingName": "Shipment Resource/retrieves all shipments",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8a423a5b1e9e1a8c295be106d6c754e3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/shipments?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 5645,
            "text": "{\"shipments\":[{\"created_at\":\"2022-08-04T18:54:38Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9400100109361131620427\",\"updated_at\":\"2022-08-04T18:54:39Z\",\"batch_id\":\"batch_7ddddd526d8142d89d8d1d8ba67c5e22\",\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_e3b39607142611ed9116ac1f6bc7b362\",\"object\":\"Address\",\"created_at\":\"2022-08-04T18:54:37+00:00\",\"updated_at\":\"2022-08-04T18:54:37+00:00\",\"name\":null,\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"test@example.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"50.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_9788c87b539e45fcbd916de3dbaab792\",\"object\":\"Parcel\",\"created_at\":\"2022-08-04T18:54:38Z\",\"updated_at\":\"2022-08-04T18:54:38Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_c8d1499cb50b4d788710ef7a683f6a93\",\"created_at\":\"2022-08-04T18:54:38Z\",\"updated_at\":\"2022-08-04T18:54:38Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2022-08-04T18:54:38Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220804/ba2cc7d1c7624fbdaf6f39df943e77f7.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_ed69fc4cd4d248cfb2b69b01fa1978fb\",\"object\":\"Rate\",\"created_at\":\"2022-08-04T18:54:38Z\",\"updated_at\":\"2022-08-04T18:54:38Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"7.90\",\"currency\":\"USD\",\"retail_rate\":\"9.45\",\"retail_currency\":\"USD\",\"list_rate\":\"7.90\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_2d00da573cc043d4a4cc238ee80ffd45\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_88ff234d335e472a944756c1acd8364b\",\"object\":\"Rate\",\"created_at\":\"2022-08-04T18:54:38Z\",\"updated_at\":\"2022-08-04T18:54:38Z\",\"mode\":\"test\",\"service\":\"ParcelSelect\",\"carrier\":\"USPS\",\"rate\":\"7.75\",\"currency\":\"USD\",\"retail_rate\":\"7.75\",\"retail_currency\":\"USD\",\"list_rate\":\"7.75\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":5,\"delivery_date\":null,\"delivery_date_guaranteed\[...]
