{
  "log": {
    "_recordingName": "Shipment Resource/retrieves all shipments",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8a423a5b1e9e1a8c295be106d6c754e3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/shipments?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 5592,
            "text": "{\"shipments\":[{\"created_at\":\"2022-06-01T19:48:53Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9400100109361121892902\",\"updated_at\":\"2022-06-01T19:48:55Z\",\"batch_id\":\"batch_2630ab47b36844269bc7c2ce073e0009\",\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_ddfa6253e1e311ecab3aac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-06-01T19:48:53+00:00\",\"updated_at\":\"2022-06-01T19:48:53+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"50.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_5a9136754ba64a12beb5d434e65254da\",\"object\":\"Parcel\",\"created_at\":\"2022-06-01T19:48:53Z\",\"updated_at\":\"2022-06-01T19:48:53Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_0b9b5c318d934034bf0a628ac171d03e\",\"created_at\":\"2022-06-01T19:48:54Z\",\"updated_at\":\"2022-06-01T19:48:54Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2022-06-01T19:48:54Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220601/fb23b2f83002454aaf922835df51dcdb.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_21f33beffdfd48b193ed38d6c5c2e74b\",\"object\":\"Rate\",\"created_at\":\"2022-06-01T19:48:54Z\",\"updated_at\":\"2022-06-01T19:48:54Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"7.37\",\"currency\":\"USD\",\"retail_rate\":\"8.70\",\"retail_currency\":\"USD\",\"list_rate\":\"7.37\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":1,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":1,\"shipment_id\":\"shp_ff1f021947e0456284c73c023bc4e010\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_0da48bdd53364debb0893cb2663fbd82\",\"object\":\"Rate\",\"created_at\":\"2022-06-01T19:48:54Z\",\"updated_at\":\"2022-06-01T19:48:54Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"23.75\",\"currency\":\"USD\",\"retail_rate\":\"27.40\",\"retail_currency\":\"USD\",\"list_rate\":\"23.75\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":null,\"delivery_date\":null,\"delivery_date_guaranteed[...]
