{
  "log": {
    "_recordingName": "Shipment Resource/retrieves all shipments",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "197a74bc941f10186a39bba414c23d91",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/shipments?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 5572,
            "text": "{\"shipments\":[{\"created_at\":\"2022-05-26T22:02:39Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9400100109361121272223\",\"updated_at\":\"2022-05-26T22:02:40Z\",\"batch_id\":\"batch_f4da8df1395f475185027ee84aaba79c\",\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_8ef4e2a1dd3f11ec89a9ac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-05-26T22:02:39+00:00\",\"updated_at\":\"2022-05-26T22:02:39+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"50.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_32e0fa406ef84042a5c8acca3f0ca2d2\",\"object\":\"Parcel\",\"created_at\":\"2022-05-26T22:02:39Z\",\"updated_at\":\"2022-05-26T22:02:39Z\",\"length\":10.0,\"width\":8.0,\"height\":4.0,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_557f1f07f3ac4ce5a7781e50f5a55482\",\"created_at\":\"2022-05-26T22:02:39Z\",\"updated_at\":\"2022-05-26T22:02:40Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2022-05-26T22:02:39Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220526/ce3cb775f54547f2967e2cb327564379.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_75d39ba99b314f6686def8865e8c58a5\",\"object\":\"Rate\",\"created_at\":\"2022-05-26T22:02:39Z\",\"updated_at\":\"2022-05-26T22:02:39Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"23.75\",\"currency\":\"USD\",\"retail_rate\":\"27.40\",\"retail_currency\":\"USD\",\"list_rate\":\"23.75\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":null,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":null,\"shipment_id\":\"shp_51c6c06eb9f44cd2981d75e12c3a1d17\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_040b15baffcc4494845806a448d7ea05\",\"object\":\"Rate\",\"created_at\":\"2022-05-26T22:02:39Z\",\"updated_at\":\"2022-05-26T22:02:39Z\",\"mode\":\"test\",\"service\":\"ParcelSelect\",\"carrier\":\"USPS\",\"rate\":\"7.22\",\"currency\":\"USD\",\"retail_rate\":\"7.22\",\"retail_currency\":\"USD\",\"list_rate\":\"7.22\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\[...]
