{
  "log": {
    "_recordingName": "Shipment Service/gets the lowest smartrate from a list of smartRates",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "66a1452a15128dd58c4223dd020f429c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1430,
            "text": "{\"created_at\":\"2024-07-30T16:12:20Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"updated_at\":\"2024-07-30T16:12:20Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_7f95c2204e8e11efb27bac1f6bc53342\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:12:20+00:00\",\"updated_at\":\"2024-07-30T16:12:20+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":null,\"order_id\":null,\"parcel\":{\"id\":\"prcl_d0c91cd7929f40f986f99f822ceb3b84\",\"object\":\"Parcel\",\"created_at\":\"2024-07-30T16:12:20Z\",\"updated_at\":\"2024-07-30T16:12:20Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":null,\"rates\":[{\"id\":\"rate_de59b93357614716b5107cc6e3c92ad8\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:12:20Z\",\"updated_at\":\"2024-07-30T16:12:20Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"5.93\",\"currency\":\"USD\",\"retail_rate\":\"8.45\",\"retail_currency\":\"USD\",\"list_rate\":\"6.40\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":3,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":3,\"shipment_id\":\"shp_cfad48fd0d864b9280445017f27b737f\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_0052517c70e84fc1862ff687e2508987\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:12:20Z\",\"updated_at\":\"2024-07-30T16:12:20Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"33.10\",\"currency\":\"USD\",\"retail_rate\":\"37.90\",\"retail_currency\":\"USD\",\"list_rate\":\"33.10\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_cfad48fd0d864b9280445017f27b737f\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_dc56af46dfa548b7bcee980ff1c54e75\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:12:20Z\",\"updated_at\":\"2024-07-30T16:12:20Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"6.90\",\"currency\":\"USD\",\"retail_rate\":\"9.80\",\"retail_currency\":\"USD\",\"list_rate\":\"8.25\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_cfad48fd0d864b9280445017f27b737f\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":null,\"tracker\":null,\"to_address\":{\"id\":\"adr_7f92f8b44e8e11ef8a213cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:12:20+00:00\",\"updated_at\":\"2024-07-30T16:12:20+00:00\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_7f95c2204e8e11efb27bac1f6bc53342\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:12:20+00:00\",\"updated_at\":\"2024-07-30T16:12:20+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_7f92f8b44e8e11ef8a213cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:12:20+00:00\",\"updated_at\":\"2024-07-30T16:12:20+00:00\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"forms\":[],\"fees\":[],\"id\":\"shp_cfad48fd0d864b9280445017f27b737f\",\"object\":\"Shipment\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a16c66a910e4e2b87bfc00356e0a"
            },
            {
              "name": "location",
              "value": "/api/v2/shipments/shp_cfad48fd0d864b9280445017f27b737f"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb34nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 427,
      },
      {
        "_id": "5222209dfa0de237f2b7124db3715738",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments/shp_cfad48fd0d864b9280445017f27b737f/smartrate"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 692,
            "text": "{\"result\":[{\"carrier\":\"USPS\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"created_at\":\"2024-07-30T16:12:20Z\",\"currency\":\"USD\",\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"delivery_days\":3,\"est_delivery_days\":3,\"id\":\"rate_de59b93357614716b5107cc6e3c92ad8\",\"list_currency\":\"USD\",\"list_rate\":6.4,\"mode\":\"test\",\"object\":\"Rate\",\"rate\":5.93,\"retail_currency\":\"USD\",\"retail_rate\":8.45,\"service\":\"GroundAdvantage\",\"shipment_id\":\"shp_cfad48fd0d864b9280445017f27b737f\",\"time_in_transit\":{\"percentile_50\":1,\"percentile_75\":2,\"percentile_85\":2,\"percentile_90\":2,\"percentile_95\":2,\"percentile_97\":3,\"percentile_99\":4},\"updated_at\":\"2024-07-30T16:12:20Z\"},{\"carrier\":\"USPS\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"created_at\":\"2024-07-30T16:12:20Z\",\"currency\":\"USD\",\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"delivery_days\":2,\"est_delivery_days\":2,\"id\":\"rate_0052517c70e84fc1862ff687e2508987\",\"list_currency\":\"USD\",\"list_rate\":33.1,\"mode\":\"test\",\"object\":\"Rate\",\"rate\":33.1,\"retail_currency\":\"USD\",\"retail_rate\":37.9,\"service\":\[...]
