{
  "log": {
    "_recordingName": "Batch Service/retrieves all batches",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "505f8072551c48200e6c5d184847e4f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/batches?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1696,
            "text": "{\"batches\":[{\"id\":\"batch_a6d20544f6bb4feeb65bf2a1c576e3fc\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"purchased\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2023-09-06T17:38:53Z\",\"updated_at\":\"2023-09-06T17:39:02Z\",\"scan_form\":null,\"shipments\":[{\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"reference\":null,\"tracking_code\":\"9400100105440258920727\",\"id\":\"shp_199b7da25b494c8299b7bf662fd53cbf\"}],\"status\":{\"created\":0,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":1,\"postage_purchase_failed\":0},\"pickup\":null,\"label_url\":null},{\"id\":\"batch_5d0610fb58e2463b85e9c0b4d75b11d8\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"purchased\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2023-09-06T17:39:01Z\",\"updated_at\":\"2023-09-06T17:39:14Z\",\"scan_form\":{\"id\":\"sf_491f45cb518d4123bdd9e141eacdfee6\",\"object\":\"ScanForm\",\"created_at\":\"2023-09-06T17:39:14Z\",\"updated_at\":\"2023-09-06T17:39:14Z\",\"tracking_codes\":[\"9400100105440258920789\"],\"address\":{\"id\":\"adr_441f00664cdc11eeb990ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:39:01+00:00\",\"updated_at\":\"2023-09-06T17:39:01+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230906/e80d907289564d4f85a74f1bd83b716910.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_5d0610fb58e2463b85e9c0b4d75b11d8\",\"confirmation\":null},\"shipments\":[{\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"reference\":null,\"tracking_code\":\"9400100105440258920789\",\"id\":\"shp_9e64ef9753ca44f3b862203be28a6666\"}],\"status\":{\"created\":0,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":1,\"postage_purchase_failed\":0},\"pickup\":null,\"label_url\":null},{\"id\":\"batch_292f7b0608e544e7bcf05c71e1c6df31\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"purchased\",\"num_shipments\":1,\"r[...]
