{
  "log": {
    "_recordingName": "Address Service/creates a verified address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d3f7c8162a0cfac62543ef34fcc50549",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses/create_and_verify"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 643,
            "text": "{\"address\":{\"id\":\"adr_65d40c828c3d11f19c5b00224804dbec\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":\"\",\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8448,\"longitude\":-118.39278,\"time_zone\":\"America/Los_Angeles\"}}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_65d40c828c3d11f19c5b00224804dbec"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b766a6b8bf3e0e306b103f2a96b"
            },
            {
              "name": "x-node",
              "value": "bigweb66nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb5nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 180,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
