{
  "log": {
    "_recordingName": "Address Service/creates a verified address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d3f7c8162a0cfac62543ef34fcc50549",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses/create_and_verify"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 568,
            "text": "{\"address\":{\"id\":\"adr_281ebe36bc0611f08296ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2025-11-07T18:18:27Z\",\"updated_at\":\"2025-11-07T18:18:27Z\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":\"\",\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "bcd4371f690e37f3e786b39e02a82bd6"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_281ebe36bc0611f08296ac1f6bc539aa"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb35nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202511071754-85836cab32-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0061e0a2e, extlb2nuq cbbd141214"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 224,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
