{
  "log": {
    "_recordingName": "CustomerPortal Service/creates a portal session",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b454a3643738e79207d40fc67df8e8e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/users/children?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 288,
            "text": "{\"children\":[{\"id\":\"user_e1c6edf4711745dcbc8d6a59a64d4729\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2025-11-17T21:21:11Z\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "56d897ad691b9398e7873c1f02c0cacd"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb33nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202511172009-5a977589c2-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb6nuq c0061e0a2e, extlb2nuq cbbd141214"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 306,
      },
      {
        "_id": "18720e90969a94dcdb48a5fbd4e5c6d6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"session_type\":\"account_onboarding\",\"user_id\":\"user_e1c6edf4711745dcbc8d6a59a64d4729\",\"refresh_url\":\"https://example.com/refresh\",\"return_url\":\"https://example.com/return\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customer_portal/account_link"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 248,
            "text": "{\"link\":\"https://app.easypost.com/customer-portal/onboarding?session_id=DDEaM7UOOAJ2hZQe\",\"object\":\"CustomerPortalAccountLink\",\"expires_at\":\"2025-11-17T21:33:57Z\",\"created_at\":\"2025-11-17T21:28:57Z\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "56d897ae691b9399e7873c2002c0cb0b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb56nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202511172009-5a977589c2-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0061e0a2e, extlb2nuq cbbd141214"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 413,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
