{
  "log": {
    "_recordingName": "ReferralCustomer Service/raises an error when adding a credit card from Stripe fails",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "db8a8d46d1b1bb803bd24474df44030e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"credit_card\":{\"payment_method_id\":\"pm_0Pn6bQDqT4huGUvd0CjpRerH\",\"priority\":\"primary\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/credit_cards"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 134,
            "text": "{\"error\":{\"code\":\"CREDIT_CARD.NOT_FOUND\",\"message\":\"Stripe::PaymentMethod does not exist for the specified reference_id\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "76795b4d6a6b8b14e0e2faf403fbc284"
            },
            {
              "name": "x-node",
              "value": "bigweb56nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb6nuq 1bff4a8790, extlb2nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 682,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
