{
  "log": {
    "_recordingName": "ReferralCustomer Service/raises an error when adding a credit card from Stripe fails",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "db8a8d46d1b1bb803bd24474df44030e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"credit_card\":{\"payment_method_id\":\"pm_0Pn6bQDqT4huGUvd0CjpRerH\",\"priority\":\"primary\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/credit_cards"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 200,
            "text": "{\"error\":{\"code\":\"CREDIT_CARD.NOT_FOUND\",\"message\":\"Stripe::PaymentMethod does not exist for the specified reference_id\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "51dca88967db2a66e788dd3d002f8580"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb53nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202503182355-b9c2645d96-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 284c5d344a, extlb2nuq 99aac35317"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 714,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
