{
  "log": {
    "_recordingName": "CarrierAccount Resource/updates a carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "baa38699594daba3ccad2821eec4d786",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"type\":\"UpsAccount\",\"credentials\":{\"account_number\":\"A1A1A1\",\"user_id\":\"USERID\",\"password\":\"PASSWORD\",\"access_license_number\":\"ALN\"}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 372,
            "text": "{\"id\":\"ca_ea70f8ccf59f480c87a1ab1a4e9142c4\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"created_at\":\"2022-06-01T21:21:19Z\",\"updated_at\":\"2022-06-01T21:21:19Z\",\"description\":\"UPS Account\",\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"UPS\",\"logo\":null,\"fields\":{\"credentials\":{\"account_number\":{\"visibility\":\"readonly\",\"label\":\"UPS Account Number\",\"value\":\"A1A1A1\"}}},\"credentials\":{},\"test_credentials\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "f5a1f0496297d84fe7874903001270d9"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"e687293f18cba5ba3bf48cd1c5049c6c\""
            },
            {
              "name": "x-node",
              "value": "bigweb8nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206011908-268b477d75-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb2nuq 0910011e7e"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 323,
      },
      {
        "_id": "2333430e8063b83caf98faa206a0c3d7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_ea70f8ccf59f480c87a1ab1a4e9142c4"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mi[...]
