{
  "log": {
    "_recordingName": "ReferralCustomer Service/retrieves EasyPost Stripe API key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "74dcf9e88cc6af64e4261fe9786d644c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/partners/stripe_public_key"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 49,
            "text": "{\"public_key\":\"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "33fcc37b6ab54836e2b8f77a01413260"
            },
            {
              "name": "x-node",
              "value": "web125azw"
            },
            {
              "name": "x-proxied",
              "value": "intlb4azw f29267e751, extlb2azw 07fb4d8f06"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202609241501-949351e54f-main"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 275,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
