{
  "log": {
    "_recordingName": "Address Service/creates an address with an array verify param",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6e50cdc49421887d92e6937535024603",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 400,
            "text": "{\"id\":\"adr_c71fdf69f38711eeb2da3cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:04:58+00:00\",\"updated_at\":\"2024-04-05T20:04:58+00:00\",\"name\":null,\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"street2\":null,\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a66610596af40aef0900197829"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_c71fdf69f38711eeb2da3cecef1b359e"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb39nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 165,
      },
      {
        "_id": "f95960685b21c81e01d6b8b1a49c204f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"verify\":[true]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 528,
            "text": "{\"id\":\"adr_c73c23d5f38711ee8de1ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:04:58+00:00\",\"updated_at\":\"2024-04-05T20:04:58+00:00\",\"name\":null,\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"street2\":null,\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":false,\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null}],\"details\":null},\"delivery\":{\"success\":false,\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null}],\"details\":{}}}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a76610596af408cb2800197845"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_c73c23d5f38711ee8de1ac1f6bc539ae"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 219,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
