{
  "log": {
    "_recordingName": "Address Service/creates an address with an array verify param",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6e50cdc49421887d92e6937535024603",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 399,
            "text": "{\"id\":\"adr_27922971bc0611f0ad833cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2025-11-07T18:18:26Z\",\"updated_at\":\"2025-11-07T18:18:26Z\",\"name\":null,\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"street2\":null,\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "bcd43720690e37f2e786b39c02a82a10"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_27922971bc0611f0ad833cecef1b359e"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb58nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202511071754-85836cab32-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0061e0a2e, extlb2nuq cbbd141214"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 923,
      },
      {
        "_id": "54ac43ea33387e04e4be32a3e56f2d9d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"verify\":[true],\"address\":{\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 520,
            "text": "{\"id\":\"adr_27f735eebc0611f0ae023cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2025-11-07T18:18:27Z\",\"updated_at\":\"2025-11-07T18:18:27Z\",\"name\":null,\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"street2\":null,\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":false,\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null}],\"details\":null},\"delivery\":{\"success\":false,\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null}],\"details\":{}}}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "bcd43723690e37f3e786b39d02a82b6c"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_27f735eebc0611f0ae023cecef1b359e"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb56nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202511071655-85836cab32-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb6nuq c0061e0a2e, extlb2nuq cbbd141214"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 240,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
