{
  "log": {
    "_recordingName": "Address Service/creates an address with an array verify param",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ba84e1589a7e3599cc8131b93954961e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"verify\":[true],\"address\":{\"company\":\"EasyPost\",\"street1\":\"417 montgomery street\",\"street2\":\"FL 5\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 684,
            "text": "{\"id\":\"adr_bd089bd0a7e111edaea7ac1f6bc7b362\",\"object\":\"Address\",\"created_at\":\"2023-02-08T18:52:29+00:00\",\"updated_at\":\"2023-02-08T18:52:29+00:00\",\"name\":null,\"company\":\"EASYPOST\",\"street1\":\"417 MONTGOMERY ST FL 5\",\"street2\":\"\",\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94104-1129\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[{\"code\":\"E.SECONDARY_INFORMATION.INVALID\",\"field\":\"street2\",\"message\":\"Invalid secondary information(Apt/Suite#)\",\"suggestion\":null}],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[{\"code\":\"E.SECONDARY_INFORMATION.INVALID\",\"field\":\"street2\",\"message\":\"Invalid secondary information(Apt/Suite#)\",\"suggestion\":null}],\"details\":{\"latitude\":37.79342,\"longitude\":-122.40288,\"time_zone\":\"America/Los_Angeles\"}}}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15b563e3ef6ce786b06600035c68"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_bd089bd0a7e111edaea7ac1f6bc7b362"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"3336c9028335a1c858e2d85390bf595e\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1314,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
