{
  "log": {
    "_recordingName": "Referral Resource/add a referral user credit card",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "74dcf9e88cc6af64e4261fe9786d644c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/partners/stripe_public_key"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 104,
            "text": "{\"public_key\":\"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "ba8fdd4a63407fe4e2b8ff3100067280"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"86cc970265a111486b443bf66ef85e91\""
            },
            {
              "name": "x-node",
              "value": "bigweb8nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210062334-76175f429e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, intlb2wdc 29913d444b, extlb4wdc 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 387,
      },
      {
        "_id": "9acb6c7c7e45fb72f853826cbecbbe29",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "card",
              "value": {
                "cvc": "778",
                "exp_month": "05",
                "exp_year": "2028",
                "number": "4536410136126170"
              }
            }
          ],
          "url": "https://api.stripe.com/v1/tokens?card%5Bnumber%5D=4536410136126170&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=778"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 719,
            "text": "{\"id\":\"tok_0LqMM4DqT4huGUvdAgX6cguJ\",\"object\":\"token\",\"card\":{\"id\":\"card_0LqMM4DqT4huGUvd3OTJem2x\",\"object\":\"card\",\"address_city\":null,\"address_country\":null,\"address_line1\":null,\"address_line1_check\":null,\"address_line2\":null,\"address_state\":null,\"address_zip\":null,\"address_zip_check\":null,\"brand\":\"Visa\",\"country\":\"US\",\"cvc_check\":\"unchecked\",\"dynamic_last4\":null,\"exp_month\":5,\"exp_year\":2028,\"funding\":\"credit\",\"last4\":\"6170\",\"name\":null,\"tokenization_method\":null},\"client_ip\":\"<REDACTED>\",\"created\":1665171428,\"livemode\":true,\"type\":\"card\",\"used\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "c8c985ec-0dce-4e38-8cea-d609fe85771b"
            },
            {
              "name": "original-request",
              "value": "req_jMR2WcRbW3YC7l"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2020-08-27"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 617,
      },
      {
        "_id": "2b72ec3e6b9fbdbfdb660c812e06b68a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"credit_card\":{\"stripe_object_id\":\"tok_0LqMM4DqT4huGUvdAgX6cguJ\",\"priority\":\"primary\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/credit_cards"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 212,
            "text": "{\"id\":\"card_c772e9f1d4cc4380b0920295808fd4a4\",\"disabled_at\":null,\"object\":\"CreditCard\",\"name\":null,\"last4\":\"6170\",\"exp_month\":5,\"exp_year\":2028,\"brand\":\"Visa\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "ba8fdd4663407fe5e2b8ff33000672e5"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"5cb0141af1276164030d64b5509ff83c\""
            },
            {
              "name": "x-node",
              "value": "bigweb4nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210062334-76175f429e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, intlb2wdc 29913d444b, extlb4wdc 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 4202,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
