{
  "log": {
    "_recordingName": "Batch Resource/creates a scanform for a batch",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "48690916755d787bf9f3b52a73a77ecf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"batch\":{\"shipments\":[{\"to_address\":{\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"phone\":\"5555555555\"},\"from_address\":{\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4},\"service\":\"First\",\"carrier_accounts\":[\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"],\"carrier\":\"USPS\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/batches"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 328,
            "text": "{\"id\":\"batch_f36a6d551e69462c9abc40551f414817\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"creating\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2022-06-01T19:48:05Z\",\"updated_at\":\"2022-06-01T19:48:05Z\",\"scan_form\":null,\"shipments\":[],\"status\":{\"created\":0,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":0,\"postage_purchase_failed\":0},\"pickup\":null,\"label_url\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "f5a1f0456297c275e786c0a400096ba2"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"514c70bd09f8b1ceee1b3a1d3ff99d77\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206011908-268b477d75-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq 0910011e7e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 250,
      },
      {
        "_id": "0f1a150329087311cc7c984863ad9afa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/batches/batch_f36a6d551e69462c9abc40551f414817/buy"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 408,
            "text": "{\"id\":\"batch_f36a6d551e69462c9abc40551f414817\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"created\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2022-06-01T19:48:05Z\",\"updated_at\":\"2022-06-01T19:48:05Z\",\"scan_form\":null,\"shipments\":[{\"batch_status\":\"queued_for_purchase\",\"batch_message\":null,\"reference\":null,\"tracking_code\":null,\"id\":\"shp_25e91c677579423b981162d7ea377a7c\"}],\"status\":{\"created\":1,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":0,\"postage_purchase_failed\":0},\"pickup\":null,\"label_url\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "f5a1f0436297c275e786c0bc00096bbf"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
    [...]
