{
  "log": {
    "_recordingName": "Parcel Service/creates a parcel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3bc4c772b53d611f3eaf3bac4d02990f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 248,
            "text": "{\"id\":\"prcl_3710b9af79c445c98d1014c9e604c702\",\"object\":\"Parcel\",\"created_at\":\"2024-07-30T16:11:29Z\",\"updated_at\":\"2024-07-30T16:11:29Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a17066a910b1e2b877f800353cbb"
            },
            {
              "name": "location",
              "value": "/api/v2/parcels/prcl_3710b9af79c445c98d1014c9e604c702"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 147,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
