{
  "log": {
    "_recordingName": "Shipment Resource/one call buy a shipment with carbon offset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cc19e4472a8c202af853929b97ee6c3b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"to_address\":{\"name\":\"Dr. Steve Brule\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"dr_steve_brule@gmail.com\"},\"from_address\":{\"name\":\"EasyPost\",\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\"},\"parcel\":{\"length\":20.2,\"width\":10.9,\"height\":5,\"weight\":65.9},\"carrier_accounts\":[\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"],\"carrier\":\"USPS\",\"service\":\"Priority\"},\"carbon_offset\":true}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 2310,
            "text": "{\"created_at\":\"2022-08-03T16:39:26Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9405500109361131421027\",\"updated_at\":\"2022-08-03T16:39:27Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_d67a6d0f134a11edaf7eac1f6bc7bdc6\",\"object\":\"Address\",\"created_at\":\"2022-08-03T16:39:26+00:00\",\"updated_at\":\"2022-08-03T16:39:26+00:00\",\"name\":\"EasyPost\",\"company\":null,\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"50.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_b8a6d87a17434c10b49a94bd69e44707\",\"object\":\"Parcel\",\"created_at\":\"2022-08-03T16:39:26Z\",\"updated_at\":\"2022-08-03T16:39:26Z\",\"length\":20.2,\"width\":10.9,\"height\":5,\"predefined_package\":null,\"weight\":65.9,\"mode\":\"test\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_942cf84a7d7243d587767748fb729d4c\",\"created_at\":\"2022-08-03T16:39:27Z\",\"updated_at\":\"2022-08-03T16:39:27Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2022-08-03T16:39:27Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220803/259594e24858402babc470d9de7cb349.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_e884b88378934b719902e7e36dccfa71\",\"object\":\"Rate\",\"created_at\":\"2022-08-03T16:39:26Z\",\"updated_at\":\"2022-08-03T16:39:26Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.82\",\"currency\":\"USD\",\"retail_rate\":\"13.15\",\"retail_currency\":\"USD\",\"list_rate\":\"9.82\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_62f5b87c05fd43c4b858b4b6daa2d040\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"carbon_offset\":{\"object\":\"CarbonOffset\",\"grams\":154,\"price\":\"0.11\",\"currency\":\"USD\"}},{\"id\":\"rate_d4dfc02a6ddb40a28c96ff92d9830c61\",\"object\":\"Rate\",\"created_at\":\"2022-08-03T16:39:26Z\",\"updated_at\":\"2022-08-03T16:39:26Z\",\"mode\":\"test\",\"service\":\"ParcelSelect\",\"carrier\":\"USPS\",\"rate\":\"8.91\",\"currency\":\"USD\",\"retail_rate\":\"8.91\",\"retail_currency\":\"USD\",\"list_rate\":\"8.91\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":5,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":5,\"shipment_id\":\"shp_62f5b87c05fd43c4b858b4b6daa2d040\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"carbon_offset\":{\"object\":\"CarbonOffset\",\"grams\":154,\"price\":\"0.11\",\"currency\":\"USD\"}},{\"id\":\"rate_482aa5f6677641a882bf7293e45de8ce\",\"object\":\"Rate\",\"created_at\":\"2022-08-03T16:39:26Z\",\"updated_at\":\"2022-08-03T16:39:26Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"44.30\",\"currency\":\"USD\",\"retail_rate\":\"51.00\",\"retail_currency\":\"USD\",\"list_rate\":\"44.30\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":null,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":null,\"shipment_id\":\"shp_62f5b87c05fd43c4b858b4b6daa2d040\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"carbon_offset\":{\"object\":\"CarbonOffset\",\"grams\":154,\"price\":\"0.11\",\"currency\":\"USD\"}}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":{\"id\":\"rate_e884b88378934b719902e7e36dccfa71\",\"object\":\"Rate\",\"created_at\":\"2022-08-03T16:39:27Z\",\"updated_at\":\"2022-08-03T16:39:27Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.82\",\"currency\":\"USD\",\"retail_rate\":\"13.15\",\"retail_currency\":\"USD\",\"list_rate\":\"9.82\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_62f5b87c05fd43c4b858b4b6daa2d040\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},\"tracker\":{\"id\":\"trk_34879fafab5840a8bee91f3509f8459f\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9405500109361131421027\",\"status\":\"unknown\",\"status_detail\":\"unknown\",\"created_at\":\"2022-08-03T16:39:27Z\",\"updated_at\":\"2022-08-03T16:39:27Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":null,\"shipment_id\":\"shp_62f5b87c05fd43c4b858b4b6daa2d040\",\"carrier\":\"USPS\",\"tracking_details\":[],\"fees\":[],\"carrier_detail\":null,\"public_url\":\"https://track.easypost.com/djE6dHJrXzM0ODc5ZmFmYWI1ODQwYThiZWU5MWYzNTA5Zjg0NTlm\"},\"to_address\":{\"id\":\"adr_d678517e134a11ed9617ac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-08-03T16:39:26+00:00\",\"updated_at\":\"2022-08-03T16:39:26+00:00\",\"name\":\"DR. STEVE BRULE\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"DR_STEVE_BRULE@GMAIL.COM\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_d67a6d0f134a11edaf7eac1f6bc7bdc6\",\"object\":\"Address\",\"created_at\":\"2022-08-03T16:39:26+00:00\",\"updated_at\":\"2022-08-03T16:39:26+00:00\",\"name\":\"EasyPost\",\"company\":null,\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_d678517e134a11ed9617ac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-08-03T16:39:26+00:00\",\"updated_at\":\"2022-08-03T16:39:26+00:00\",\"name\":\"DR. STEVE BRULE\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"DR_STEVE_BRULE@GMAIL.COM\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"forms\":[],\"fees\":[{\"object\":\"Fee\",\"type\":\"LabelFee\",\"amount\":\"0.00000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"PostageFee\",\"amount\":\"9.82000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"0.25000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"CarbonOffsetFee\",\"amount\":\"0.11000\",\"charged\":true,\"refunded\":false}],\"id\":\"shp_62f5b87c05fd43c4b858b4b6daa2d040\",\"object\":\"Shipment\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "e4c648b662eaa4bee786a33c001651c9"
            },
            {
              "name": "location",
              "value": "/api/v2/shipments/shp_62f5b87c05fd43c4b858b4b6daa2d040"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"32c95cc8dc96758ad25a56e5353c1adc\""
            },
            {
              "name": "x-node",
              "value": "bigweb5nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208022334-d655c257b8-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb2nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1532,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
