{
  "log": {
    "_recordingName": "CarrierAccount Service/updates a carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1f1143bec068c03dcfacefcac4771057",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"type\":\"DhlEcsAccount\",\"credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"},\"test_credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 544,
            "text": "{\"id\":\"ca_cdb8ea24d2a84b03a5a467d4aa7d2b23\",\"object\":\"CarrierAccount\",\"type\":\"DhlEcsAccount\",\"clone\":false,\"created_at\":\"2023-09-06T17:44:59Z\",\"updated_at\":\"2023-09-06T17:44:59Z\",\"description\":\"DHL eCommerce Solutions Account\",\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"DHL eCommerce Solutions\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49d64f8ba9be79b01e3001ccd2b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"990f1f7c90f86dd5bb3500a64b6d6131\""
            },
            {
              "name": "x-node",
              "value": "bigweb40nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 674,
      },
      {
        "_id": "f022c0154d97c29b49a2c01107c5cbd4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_cdb8ea24d2a84b03a5a467d4aa7d2b23"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mi[...]
