{
  "log": {
    "_recordingName": "CarrierAccount Service/updates a carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1f1143bec068c03dcfacefcac4771057",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"type\":\"DhlEcsAccount\",\"credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"},\"test_credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 548,
            "text": "{\"id\":\"ca_55f9a9d5690e474fb2225349e44e736b\",\"object\":\"CarrierAccount\",\"type\":\"DhlEcsAccount\",\"clone\":false,\"created_at\":\"2023-02-08T18:52:53Z\",\"updated_at\":\"2023-02-08T18:52:53Z\",\"description\":\"DHL eCommerce Solutions Account\",\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"DHL eCommerce Solutions\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15b563e3ef85e786b3e000036425"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"410d72083dd9270f4d28579fdae69033\""
            },
            {
              "name": "x-node",
              "value": "bigweb7nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 424,
      },
      {
        "_id": "350aeb10bc8d9bbbb2719f527aa40792",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_55f9a9d5690e474fb2225349e44e736b"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mi[...]
