{
  "log": {
    "_recordingName": "CarrierAccount Service/updates a carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1f1143bec068c03dcfacefcac4771057",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"type\":\"DhlEcsAccount\",\"credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"},\"test_credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 544,
            "text": "{\"id\":\"ca_cbc835809eec4dbb80a21fc34db01ea7\",\"object\":\"CarrierAccount\",\"type\":\"DhlEcsAccount\",\"clone\":false,\"created_at\":\"2024-07-09T22:30:59Z\",\"updated_at\":\"2024-07-09T22:30:59Z\",\"description\":\"DHL eCommerce Solutions Account\",\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"DHL eCommerce Solutions\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "67540320668dba23f441496b0037139c"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb32nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407092204-225a75da0e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq fa152d4755, extlb1nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 243,
      },
      {
        "_id": "a819d7c8cd7a60894f5d42fbe6bad9fe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_cbc835809eec4dbb80a21fc34db01ea7"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mi[...]
