{
  "log": {
    "_recordingName": "Tracker Service/creates a tracker",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "71df7d97a4b5e028a84d5b53b02adc06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tracker\":{\"tracking_code\":\"EZ1000000001\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/trackers"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1835,
            "text": "{\"id\":\"trk_cfe0ae7e8cf64a66ae2a54c1deac0e90\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"EZ1000000001\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"created_at\":\"2026-07-30T15:30:22Z\",\"updated_at\":\"2026-07-30T15:30:22Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":\"2026-07-30T15:30:22Z\",\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment Info Sent to USPS\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2026-06-30T15:30:22Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null},\"est_delivery_date\":null,\"datetime_local\":\"2026-06-30T15:30:22+00:00\",\"geocode_confidence\":\"LOW\"},{\"object\":\"TrackingDetail\",\"message\":\"Shipping Label Created\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2026-07-01T04:07:22Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"},\"est_delivery_date\":null,\"datetime_local\":\"2026-07-01T04:07:22+00:00\",\"geocode_confidence\":\"LOW\"}],\"carrier_detail\":{\"object\":\"CarrierDetail\",\"service\":\"First-Class Package Service\",\"container_type\":null,\"est_delivery_date_local\":null,\"est_delivery_time_local\":null,\"origin_location\":\"HOUSTON TX, 77001\",\"origin_tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"},\"destination_location\":\"CHARLESTON SC, 29401\",\"destination_tracking_location\":null,\"guaranteed_delivery_date\":null,\"alternate_identifier\":null,\"initial_delivery_attempt\":null},\"delivery_evidence\":[],\"finalized\":true,\"is_return\":false,\"public_url\":\"https://track.easypost.com/djE6dHJrX2NmZTBhZTdlOGNmNjRhNjZhZTJhNTRjMWRlYWMwZTkw\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "location",
              "value": "/api/v2/trackers/trk_cfe0ae7e8cf64a66ae2a54c1deac0e90"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b736a6b8bf1e0e306b303f2a5c9"
            },
            {
              "name": "x-node",
              "value": "bigweb59nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb6nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 552,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
