{
  "log": {
    "_recordingName": "Tracker Service/creates a tracker",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "71df7d97a4b5e028a84d5b53b02adc06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tracker\":{\"tracking_code\":\"EZ1000000001\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/trackers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 720,
            "text": "{\"id\":\"trk_a1da8f338d614862a26df2fdcca0d0c2\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"EZ1000000001\",\"status\":\"pre_transit\",\"status_detail\":\"unknown\",\"created_at\":\"2023-02-08T18:54:32Z\",\"updated_at\":\"2023-02-08T18:54:32Z\",\"signed_by\":null,\"weight\":17.6,\"est_delivery_date\":\"2023-02-08T18:54:32Z\",\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment information received\",\"description\":null,\"status\":\"pre_transit\",\"status_detail\":null,\"datetime\":\"2023-01-08T18:54:32Z\",\"source\":\"EasyPost\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}},{\"object\":\"TrackingDetail\",\"message\":\"Shipping label created\",\"description\":null,\"status\":\"pre_transit\",\"status_detail\":null,\"datetime\":\"2023-01-09T13:43:32Z\",\"source\":\"EasyPost\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}}],\"carrier_detail\":null,\"finalized\":true,\"is_return\":false,\"public_url\":\"https://track.easypost.com/djE6dHJrX2ExZGE4ZjMzOGQ2MTQ4NjJhMjZkZjJmZGNjYTBkMGMy\",\"fees\":[{\"object\":\"Fee\",\"type\":\"TrackerFee\",\"amount\":\"0.02000\",\"charged\":false,\"refunded\":false}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15af63e3efe8e786b8c500038608"
            },
            {
              "name": "location",
              "value": "/api/v2/trackers/trk_a1da8f338d614862a26df2fdcca0d0c2"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"10756e6356f52585c6dd611fc1aab3cc\""
            },
            {
              "name": "x-node",
              "value": "bigweb11nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 374,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
