{
  "log": {
    "_recordingName": "Tracker Resource/creates a tracker",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c09f77d7f7348b46c0d2f1fa07375db1",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tracker\":{\"tracking_code\":\"EZ1000000001\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/trackers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 720,
            "text": "{\"id\":\"trk_c79c1dd8603c4a46ab5aacc69ac08d9e\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"EZ1000000001\",\"status\":\"pre_transit\",\"status_detail\":\"unknown\",\"created_at\":\"2022-05-23T22:51:40Z\",\"updated_at\":\"2022-05-23T22:51:40Z\",\"signed_by\":null,\"weight\":17.6,\"est_delivery_date\":\"2022-05-23T22:51:40Z\",\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment information received\",\"description\":null,\"status\":\"pre_transit\",\"status_detail\":null,\"datetime\":\"2022-04-23T22:51:40Z\",\"source\":\"EasyPost\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}},{\"object\":\"TrackingDetail\",\"message\":\"Shipping label created\",\"description\":null,\"status\":\"pre_transit\",\"status_detail\":null,\"datetime\":\"2022-04-24T17:40:40Z\",\"source\":\"EasyPost\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}}],\"carrier_detail\":null,\"finalized\":true,\"is_return\":false,\"public_url\":\"https://track.easypost.com/djE6dHJrX2M3OWMxZGQ4NjAzYzRhNDZhYjVhYWNjNjlhYzA4ZDll\",\"fees\":[{\"object\":\"Fee\",\"type\":\"TrackerFee\",\"amount\":\"0.02000\",\"charged\":false,\"refunded\":false}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "7e75eefa628c0ffce79a6544000a890c"
            },
            {
              "name": "location",
              "value": "/api/v2/trackers/trk_c79c1dd8603c4a46ab5aacc69ac08d9e"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d2b1b47755cb62bdc7b6d8a0cc1c12bc\""
            },
            {
              "name": "x-node",
              "value": "bigweb8nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205232148-f798679516-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb2nuq c51cdb8bf2"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 287,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
