{
  "log": {
    "_recordingName": "Tracker Resource/creates a tracker",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "71df7d97a4b5e028a84d5b53b02adc06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tracker\":{\"tracking_code\":\"EZ1000000001\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/trackers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 724,
            "text": "{\"id\":\"trk_720f9808730f42f9926b33b5891696bd\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"EZ1000000001\",\"status\":\"pre_transit\",\"status_detail\":\"unknown\",\"created_at\":\"2022-08-04T18:55:11Z\",\"updated_at\":\"2022-08-04T18:55:11Z\",\"signed_by\":null,\"weight\":17.6,\"est_delivery_date\":\"2022-08-04T18:55:11Z\",\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment information received\",\"description\":null,\"status\":\"pre_transit\",\"status_detail\":null,\"datetime\":\"2022-07-04T18:55:11Z\",\"source\":\"EasyPost\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}},{\"object\":\"TrackingDetail\",\"message\":\"Shipping label created\",\"description\":null,\"status\":\"pre_transit\",\"status_detail\":null,\"datetime\":\"2022-07-05T13:44:11Z\",\"source\":\"EasyPost\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}}],\"carrier_detail\":null,\"finalized\":true,\"is_return\":false,\"public_url\":\"https://track.easypost.com/djE6dHJrXzcyMGY5ODA4NzMwZjQyZjk5MjZiMzNiNTg5MTY5NmJk\",\"fees\":[{\"object\":\"Fee\",\"type\":\"TrackerFee\",\"amount\":\"0.02000\",\"charged\":false,\"refunded\":false}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "ad6b177b62ec160fe2b8eb13000c4fce"
            },
            {
              "name": "location",
              "value": "/api/v2/trackers/trk_720f9808730f42f9926b33b5891696bd"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"a3fdc6fce89d351eb819a7f189ab9855\""
            },
            {
              "name": "x-node",
              "value": "bigweb7nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208041820-51968cb76d-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb2nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 209,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
