{
  "log": {
    "_recordingName": "Tracker Resource/creates a tracker",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "71df7d97a4b5e028a84d5b53b02adc06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"tracker\":{\"tracking_code\":\"EZ1000000001\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/trackers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 720,
            "text": "{\"id\":\"trk_0c4850ae0c9645e491b40d07aefa8bd6\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"EZ1000000001\",\"status\":\"pre_transit\",\"status_detail\":\"unknown\",\"created_at\":\"2022-08-09T15:15:50Z\",\"updated_at\":\"2022-08-09T15:15:50Z\",\"signed_by\":null,\"weight\":17.6,\"est_delivery_date\":\"2022-08-09T15:15:50Z\",\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment information received\",\"description\":null,\"status\":\"pre_transit\",\"status_detail\":null,\"datetime\":\"2022-07-09T15:15:50Z\",\"source\":\"EasyPost\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}},{\"object\":\"TrackingDetail\",\"message\":\"Shipping label created\",\"description\":null,\"status\":\"pre_transit\",\"status_detail\":null,\"datetime\":\"2022-07-10T10:04:50Z\",\"source\":\"EasyPost\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}}],\"carrier_detail\":null,\"finalized\":true,\"is_return\":false,\"public_url\":\"https://track.easypost.com/djE6dHJrXzBjNDg1MGFlMGM5NjQ1ZTQ5MWI0MGQwN2FlZmE4YmQ2\",\"fees\":[{\"object\":\"Fee\",\"type\":\"TrackerFee\",\"amount\":\"0.02000\",\"charged\":false,\"refunded\":false}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "03fa247362f27a26e2aac61e00747e89"
            },
            {
              "name": "location",
              "value": "/api/v2/trackers/trk_0c4850ae0c9645e491b40d07aefa8bd6"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"73e55a89822e95fe719bced9aeac5f0e\""
            },
            {
              "name": "x-node",
              "value": "bigweb7nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb1nuq 9ce216bfac"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 218,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
