{
  "log": {
    "_recordingName": "Order Service/retrieves an order",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "71317d359e69e2912b5c70966e95fa0e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"order\":{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"shipments\":[{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/orders"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1727,
            "text": "{\"mode\":\"test\",\"reference\":null,\"is_return\":false,\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"}},\"messages\":[],\"created_at\":\"2023-09-06T17:45:48Z\",\"updated_at\":\"2023-09-06T17:45:48Z\",\"customs_info\":null,\"from_address\":{\"id\":\"adr_36fc5ac64cdd11ee8b513cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:45:48+00:00\",\"updated_at\":\"2023-09-06T17:45:48+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"to_address\":{\"id\":\"adr_36faa0da4cdd11ee8034ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:45:48+00:00\",\"updated_at\":\"2023-09-06T17:45:48+00:00\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_36faa0da4cdd11ee8034ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:45:48+00:00\",\"updated_at\":\"2023-09-06T17:45:48+00:00\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"return_address\":{\"id\":\"adr_36fc5ac64cdd11ee8b513cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:45:48+00:00\",\"updated_at\":\"2023-09-06T17:45:48+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"shipments\":[{\"created_at\":\"2023-09-06T17:45:48Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"updated_at\":\"2023-09-06T17:45:48Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_36fc5ac64cdd11ee8b513cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:45:48+00:00\",\"updated_at\":\"2023-09-06T17:45:48+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":null,\"order_id\":\"order_9d04417b8cf3447bbc507b610535337a\",\"parcel\":{\"id\":\"prcl_b0a2f9da79b746d281ed4437e9f01f2f\",\"object\":\"Parcel\",\"created_at\":\"2023-09-06T17:45:48Z\",\"updated_at\":\"2023-09-06T17:45:48Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":null,\"rates\":[{\"id\":\"rate_db918e6648e641d985d174dcdbb50b70\",\"object\":\"Rate\",\"created_at\":\"2023-09-06T17:45:53Z\",\"updated_at\":\"2023-09-06T17:45:53Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"6.95\",\"currency\":\"USD\",\"retail_rate\":\"10.20\",\"retail_currency\":\"USD\",\"list_rate\":\"8.24\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_ccf7c04719524c02aa97ca59cb7fc1c1\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_7a3ca2f23bc540fd9ba908fe01434c82\",\"object\":\"Rate\",\"created_at\":\"2023-09-06T17:45:53Z\",\"updated_at\":\"2023-09-06T17:45:53Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"6.07\",\"currency\":\"USD\",\"retail_rate\":\"8.00\",\"retail_currency\":\"USD\",\"list_rate\":\"6.07\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":3,\"delivery_date\":null,\"delivery_date_guarante[...]
