{
  "log": {
    "_recordingName": "Order Service/retrieves an order",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "46167ff45ba88bcf313eaf89e16b4cb3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"order\":{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"shipments\":[{\"parcel\":{\"weight\":10.2}},{\"parcel\":{\"weight\":17.5}}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/orders"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 13225,
            "text": "{\"object\":\"Order\",\"id\":\"order_e10aee4c0ac849358fe4414094fdf88e\",\"mode\":\"test\",\"is_return\":false,\"reference\":\"\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"}},\"messages\":[{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_3abe58dbb6c6463cbbc8d00a733634e8\",\"type\":\"rate_error\",\"message\":\"Account numbers should be 6 characters or less.\"},{\"carrier\":\"DhlEcs\",\"carrier_account_id\":\"ca_ce3eac507a414e6292b7b54c9b2563f0\",\"type\":\"rate_error\",\"message\":\"Invalid credentials\"},{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_3abe58dbb6c6463cbbc8d00a733634e8\",\"type\":\"rate_message\",\"message\":\"UPS multi-shipment rate includes this shipment.\"}],\"created_at\":\"2026-07-30T17:37:57Z\",\"updated_at\":\"2026-07-30T17:37:57Z\",\"customs_info\":null,\"from_address\":{\"id\":\"adr_66bcd9648c3d11f19629002248041e50\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:56Z\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"to_address\":{\"id\":\"adr_66ba00048c3d11f181480022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:56Z\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_66ba00048c3d11f181480022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:56Z\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"return_address\":{\"id\":\"adr_66bcd9648c3d11f19629002248041e50\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:56Z\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"shipments\":[{\"id\":\"shp_155b9359ae9741e1abab92021f6d9682\",\"created_at\":\"2026-07-30T17:37:57Z\",\"is_return\":false,\"messages\":[{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_3abe58dbb6c6463cbbc8d00a733634e8\",\"type\":\"rate_error\",\"message\":\"Account numbers should be 6 characters or less.\"},{\"carrier\":\"DhlEcs\",\"carrier_account_id\":\"ca_ce3eac507a414e6292b7b54c9b2563f0\",\"type\":\"rate_error\",\"message\":\"Invalid credentials\"}],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"updated_at\":\"2026-07-30T17:37:57Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_66bcd9648c3d11f19629002248041e50\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:56Z\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":null,\"order_id\":\"order_e10aee4c0ac849358fe4414094fdf88e\",\"parcel\":{\"id\":\"prcl_3ea602cbc43548a4b4c596b425840092\",\"object\":\"Parcel\",\"weight\":10.2,\"length\":null,\"width\":null,\"height\":null,\"predefined_package\":null,\"mode\":\"test\",\"created_at\":\"2026-07-30T17:37:57Z\",\"updated_at\":\"2026-07-30T17:37:57Z\"},\"postage_label\":null,\"rates\":[{\"id\":\"rate_e827b65fe2a049d3ac11f750fd5aa8b9\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:37:57Z\",\"updated_at\":\"2026-07-30T17:37:57Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"6.25\",\"currency\":\"USD\",\"retail_rate\":\"10.60\",\"retail_currency\":\"USD\",\"list_rate\":\"7.46\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_155b9359ae9741e1abab92021f6d9682\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_318a71d42b104593b29b230d912a545a\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:37:57Z\",\"updated_at\":\"2026-07-30T17:37:57Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"39.05\",\"currency\":\"USD\",\"retail_rate\":\"43.45\",\"retail_currency\":\"USD\",\"list_rate\":\"39.05\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":1,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":1,\"shipment_id\":\"shp_155b9359ae9741e1abab92021f6d9682\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_037e1d34535e451999f3c19f56b3e499\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:37:57Z\",\"updated_at\":\"2026-07-30T17:37:57Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.22\",\"currency\":\"USD\",\"retail_rate\":\"11.90\",\"retail_currency\":\"USD\",\"list_rate\":\"10.40\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_155b9359ae9741e1abab92021f6d9682\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":null,\"tracker\":null,\"to_address\":{\"id\":\"adr_66ba00048c3d11f181480022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:56Z\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_66bcd9648c3d11f19629002248041e50\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:56Z\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_66ba00048c3d11f181480022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:56Z\",\"updated_at\":\"2026-07-30T17:37:56Z\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"forms\":[],\"fees\":[],\"object\":\"Shipment\"},{\"id\":\"shp_d231c6f0db174b428a7d772c6cf33acd\",\"created_at\":\"2026-07-30T17:37:57Z\",\"is_return\":false,\"messages\":[{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_3abe58dbb6c6463cbbc8d00a733634e8\",\"type\":\"rate_message\",\"message\":\"UPS multi-shipment rate includes this shipment.\"}],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"[...]
