{
  "log": {
    "_recordingName": "Batch Resource/buys a batch",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "107334a70bc3bc7beeb3281e7d95f33e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"batch\":{\"shipments\":[{\"to_address\":{\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"phone\":\"5555555555\"},\"from_address\":{\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4},\"service\":\"First\",\"carrier_accounts\":[\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"],\"carrier\":\"USPS\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/batches"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 328,
            "text": "{\"id\":\"batch_6a044f5b30304965bdfebe8601ad233c\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"creating\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2022-05-23T22:43:06Z\",\"updated_at\":\"2022-05-23T22:43:06Z\",\"scan_form\":null,\"shipments\":[],\"status\":{\"created\":0,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":0,\"postage_purchase_failed\":0},\"pickup\":null,\"label_url\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "79329040628c0dfae799fb27000b4c4b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"af091c73840e27e3060232e7395b08fb\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205232148-f798679516-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb1nuq c51cdb8bf2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 220,
      },
      {
        "_id": "dec2b4a673dd3161e60d57de1f889ade",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/batches/batch_6a044f5b30304965bdfebe8601ad233c/buy"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 408,
            "text": "{\"id\":\"batch_6a044f5b30304965bdfebe8601ad233c\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"created\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2022-05-23T22:43:06Z\",\"updated_at\":\"2022-05-23T22:43:06Z\",\"scan_form\":null,\"shipments\":[{\"batch_status\":\"queued_for_purchase\",\"batch_message\":null,\"reference\":null,\"tracking_code\":null,\"id\":\"shp_936900e4cba1429c81e00c97413c5d6c\"}],\"status\":{\"created\":1,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":0,\"postage_purchase_failed\":0},\"pickup\":null,\"label_url\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "79329041628c0dfae799fb28000b4c5b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"552f8306aef48ee80e96118eb54ca243\""
            },
            {
              "name": "x-node",
              "value": "bigweb6nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205232148-f798679516-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb1nuq c51cdb8bf2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 287,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
