{
  "log": {
    "_recordingName": "Webhook Service/creates a webhook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2a57ffd447af01cde4323b22ffcc51d4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"url\":\"http://example.com\",\"webhook_secret\":\"sécret\",\"custom_headers\":[{\"name\":\"test\",\"value\":\"header\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 213,
            "text": "{\"id\":\"hook_673814a88c3d11f1a7ee7b53c220bf63\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2026-07-30T17:37:58Z\",\"disabled_at\":null,\"custom_headers\":[{\"name\":\"test\",\"value\":\"header\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b776a6b8bf5e0e306d503f2ad4a"
            },
            {
              "name": "x-node",
              "value": "bigweb40nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb5nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 500,
      },
      {
        "_id": "73cd25ff3243b609984df161e21b7ec9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks/hook_673814a88c3d11f1a7ee7b53c220bf63"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=u[...]
