{
  "log": {
    "_recordingName": "Webhook Service/creates a webhook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2a57ffd447af01cde4323b22ffcc51d4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"url\":\"http://example.com\",\"webhook_secret\":\"sécret\",\"custom_headers\":[{\"name\":\"test\",\"value\":\"header\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 252,
            "text": "{\"id\":\"hook_44ee3fcaeef111ef870e4d9e9d5f0747\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2025-02-19T18:42:28Z\",\"disabled_at\":null,\"custom_headers\":[{\"name\":\"test\",\"value\":\"header\"}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3c3ed33467b62614e2b8f7110006b6d7"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb57nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202502191732-9cdc8ea15b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 51d74985a2, extlb2nuq 99aac35317"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 655,
      },
      {
        "_id": "0c08e7b3c6b33504822a4f211b673522",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks/hook_44ee3fcaeef111ef870e4d9e9d5f0747"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeT[...]
