{
  "log": {
    "_recordingName": "Webhook Service/creates a webhook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7c475b60939d3d6be0ebc04e66487b9d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"url\":\"http://example.com\",\"webhook_secret\":\"sécret\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 216,
            "text": "{\"id\":\"hook_fdb0eb06ee2011ef9f0c730db9d11046\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2025-02-18T17:51:33Z\",\"disabled_at\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "83524fe567b4c8a5e787412500185470"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb58nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202502142320-7e87f21aad-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 51d74985a2, extlb2nuq 99aac35317"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 529,
      },
      {
        "_id": "6f10ef5bccaa184490c58924abc3f85d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks/hook_fdb0eb06ee2011ef9f0c730db9d11046"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "83524fe467b4c8a5e787412600185528"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb58nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202502142320-7e87f21aad-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 51d74985a2, extlb2nuq 99aac35317"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 558,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
