{
  "log": {
    "_recordingName": "Address Resource/creates a verified address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4e4ab001c018a21fe319ea74626f1931",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"company\":\"EasyPost\",\"street1\":\"417 montgomery street\",\"street2\":\"FL 5\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\",\"verify\":true}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses/create_and_verify"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 692,
            "text": "{\"address\":{\"id\":\"adr_f3abb28717f511edba59ac1f6bc7bdc6\",\"object\":\"Address\",\"created_at\":\"2022-08-09T15:14:24+00:00\",\"updated_at\":\"2022-08-09T15:14:24+00:00\",\"name\":null,\"company\":\"EASYPOST\",\"street1\":\"417 MONTGOMERY ST FL 5\",\"street2\":\"\",\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94104-1129\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"TEST@EXAMPLE.COM\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[{\"code\":\"E.SECONDARY_INFORMATION.INVALID\",\"field\":\"street2\",\"message\":\"Invalid secondary information(Apt/Suite#)\",\"suggestion\":null}],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[{\"code\":\"E.SECONDARY_INFORMATION.INVALID\",\"field\":\"street2\",\"message\":\"Invalid secondary information(Apt/Suite#)\",\"suggestion\":null}],\"details\":{\"latitude\":37.79342,\"longitude\":-122.40288,\"time_zone\":\"America/Los_Angeles\"}}}}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "5cd2ea5662f279d0e2aabe3d007714e5"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_f3abb28717f511edba59ac1f6bc7bdc6"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"23ffeb8c4f917e8898bae01427a710f4\""
            },
            {
              "name": "x-node",
              "value": "bigweb3nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb2nuq 9ce216bfac"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 153,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
