{
  "log": {
    "_recordingName": "Order Service/gets the lowest rate",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "71317d359e69e2912b5c70966e95fa0e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"order\":{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"shipments\":[{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/orders"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1699,
            "text": "{\"mode\":\"test\",\"reference\":\"\",\"is_return\":false,\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"}},\"messages\":[],\"created_at\":\"2024-04-05T20:05:49Z\",\"updated_at\":\"2024-04-05T20:05:49Z\",\"customs_info\":null,\"from_address\":{\"id\":\"adr_e5939525f38711ee995fac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:05:49+00:00\",\"updated_at\":\"2024-04-05T20:05:49+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"to_address\":{\"id\":\"adr_e590a942f38711ee995dac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:05:49+00:00\",\"updated_at\":\"2024-04-05T20:05:49+00:00\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_e590a942f38711ee995dac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:05:49+00:00\",\"updated_at\":\"2024-04-05T20:05:49+00:00\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"return_address\":{\"id\":\"adr_e5939525f38711ee995fac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:05:49+00:00\",\"updated_at\":\"2024-04-05T20:05:49+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"shipments\":[{\"created_at\":\"2024-04-05T20:05:49Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"updated_at\":\"2024-04-05T20:05:49Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_e5939525f38711ee995fac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:05:49+00:00\",\"updated_at\":\"2024-04-05T20:05:49+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":null,\"order_id\":\"order_42b03db0f17944fdbb502a3e0e9656a5\",\"parcel\":{\"id\":\"prcl_4d6764b199bd4ac0a143c686a0066b1e\",\"object\":\"Parcel\",\"created_at\":\"2024-04-05T20:05:49Z\",\"updated_at\":\"2024-04-05T20:05:49Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":null,\"rates\":[{\"id\":\"rate_767e287d59434cbb8b29d421e3012b7e\",\"object\":\"Rate\",\"created_at\":\"2024-04-05T20:05:49Z\",\"updated_at\":\"2024-04-05T20:05:49Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"33.10\",\"currency\":\"USD\",\"retail_rate\":\"37.90\",\"retail_currency\":\"USD\",\"list_rate\":\"33.10\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":null,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":null,\"shipment_id\":\"shp_4f0cbcae11c14153ade874f40da15b0e\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_1b534877b3014ac49505820c347a78f0\",\"object\":\"Rate\",\"created_at\":\"2024-04-05T20:05:49Z\",\"updated_at\":\"2024-04-05T20:05:49Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"6.88\",\"currency\":\"USD\",\"retail_rate\":\"9.80\",\"retail_currency\":\"USD\",\"list_rate\":\"8.25\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":fa[...]
