{
  "log": {
    "_recordingName": "SmartRate Service/estimate delivery date",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "a31ece2f3ebea7bcfbb888ba66d22fab",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_zip\":\"94107\",\"to_zip\":\"90277\",\"planned_ship_date\":\"2026-08-01\",\"carriers\":[\"USPS\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/smartrate/deliver_by"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2331,
            "text": "{\"carriers_without_tint_estimates\":null,\"from_zip\":\"94107\",\"planned_ship_date\":\"2026-08-01\",\"results\":[{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":3,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":6},\"easypost_estimated_delivery_date\":\"2026-08-04\"},\"service\":\"dhlparcelexpedited\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":3,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":5,\"percentile_95\":5,\"percentile_97\":6,\"percentile_99\":6},\"easypost_estimated_delivery_date\":\"2026-08-04\"},\"service\":\"dhlparcelground\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":2,\"percentile_75\":2,\"percentile_85\":3,\"percentile_90\":4,\"percentile_[...]
