{
  "log": {
    "_recordingName": "SmartRate Service/estimate delivery date",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "44e77fd9d1aa4a719290c831b29d1c1c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_zip\":\"94107\",\"to_zip\":\"90277\",\"planned_ship_date\":\"2024-07-14\",\"carriers\":[\"USPS\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/smartrate/deliver_by"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 416,
            "text": "{\"carriers_without_tint_estimates\":null,\"from_zip\":\"94107\",\"planned_ship_date\":\"2024-07-14\",\"results\":[{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":1,\"percentile_75\":2,\"percentile_85\":3,\"percentile_90\":4,\"percentile_95\":4,\"percentile_97\":5,\"percentile_99\":7},\"easypost_estimated_delivery_date\":\"2024-07-15\"},\"service\":\"express\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":1,\"percentile_75\":2,\"percentile_85\":3,\"percentile_90\":4,\"percentile_95\":4,\"percentile_97\":5,\"percentile_99\":8},\"easypost_estimated_delivery_date\":\"2024-07-15\"},\"service\":\"groundadvantage\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":1,\"percentile_75\":2,\"percentile_85\":3,\"percentile_90\":3,\"percentile_95\":4,\"percentile_97\":4,\"percentile_99\":8},\"easypost_estimated_delivery_date\":\"2024-07-15\"},\"service\":\"librarymail\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":1,\"percentile_75\":3,\"percentile_85\":3,\"percentile_90\":4,\"percentile_95\":4,\"percentile_97\":5,\"percentile_99\":8},\"easypost_estimated_delivery_date\":\"2024-07-15\"},\"service\":\"mediamail\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":1,\"percentile_75\":3,\"percentile_85\":3,\"percentile_90\":4,\"percentile_95\":4,\"percentile_97\":5,\"percentile_99\":8},\"easypost_estimated_delivery_date\":\"2024-07-15\"},\"service\":\"priority\"}],\"saturday_delivery\":null,\"to_zip\":\"90277\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "39ae9c0066904a3cf3f63b9100345378"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407111940-3cb16a3462-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq fa152d4755, extlb1nuq fa152d4755"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 232,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
