{
  "log": {
    "_recordingName": "SmartRate Service/estimate delivery date",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "447ebe13f34d2106db6ff47babe9281f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_zip\":\"94107\",\"to_zip\":\"90277\",\"planned_ship_date\":\"2024-08-01\",\"carriers\":[\"USPS\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/smartrate/deliver_by"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 452,
            "text": "{\"carriers_without_tint_estimates\":null,\"from_zip\":\"94107\",\"planned_ship_date\":\"2024-08-01\",\"results\":[{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":1,\"percentile_75\":2,\"percentile_85\":2,\"percentile_90\":2,\"percentile_95\":4,\"percentile_97\":4,\"percentile_99\":6},\"easypost_estimated_delivery_date\":\"2024-08-02\"},\"service\":\"express\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":4,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":8},\"easypost_estimated_delivery_date\":\"2024-08-03\"},\"service\":\"groundadvantage\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":2,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":4,\"percentile_97\":5,\"percentile_99\":8},\"easypost_estimated_delivery_date\":\"2024-08-03\"},\"service\":\"librarymail\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":2,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":8},\"easypost_estimated_delivery_date\":\"2024-08-03\"},\"service\":\"mediamail\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":4,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":4,\"percentile_97\":5,\"percentile_99\":7},\"easypost_estimated_delivery_date\":\"2024-08-05\"},\"service\":\"priority\"}],\"saturday_delivery\":null,\"to_zip\":\"90277\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a16e66a910ede2b87c3b0035772d"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb42nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 158,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
