{
  "log": {
    "_recordingName": "CustomsItem Service/creates a customs item",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f7d8f75d4ec96a131547deba4ed2722a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_item\":{\"description\":\"Sweet shirts\",\"quantity\":2,\"weight\":11,\"value\":23.25,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_items"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 364,
            "text": "{\"id\":\"cstitem_f7ec9ca0909c4719a17c921773e0c156\",\"object\":\"CustomsItem\",\"created_at\":\"2023-02-08T18:52:57Z\",\"updated_at\":\"2023-02-08T18:52:57Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15b263e3ef89e786b40100036541"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_items/cstitem_f7ec9ca0909c4719a17c921773e0c156"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"1e25496c517aa263aa9df3b987f2b3a4\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 266,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
