{
  "log": {
    "_recordingName": "CustomsItem Service/creates a customs item",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f7d8f75d4ec96a131547deba4ed2722a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_item\":{\"description\":\"Sweet shirts\",\"quantity\":2,\"weight\":11,\"value\":23.25,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_items"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 398,
            "text": "{\"id\":\"cstitem_9d20a02995bc4c6292db2f14f8fcc5e1\",\"object\":\"CustomsItem\",\"created_at\":\"2026-07-30T17:38:02Z\",\"updated_at\":\"2026-07-30T17:38:02Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null,\"export_license\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_items/cstitem_9d20a02995bc4c6292db2f14f8fcc5e1"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b736a6b8bfae0e3071203f2b684"
            },
            {
              "name": "x-node",
              "value": "bigweb54nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 406,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
