{
  "log": {
    "_recordingName": "Insurance Service/retrieves next page of insurances",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4da480322f61bd3bdc44f8e2cb8fcfb2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/insurances?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 2946,
            "text": "{\"insurances\":[{\"id\":\"ins_1daf9df753694da2b90f6fb489766050\",\"object\":\"Insurance\",\"mode\":\"test\",\"reference\":null,\"status\":\"pending\",\"amount\":\"100.00000\",\"provider\":\"easypost\",\"provider_id\":null,\"to_address\":{\"id\":\"adr_5bafb9614e8e11efa241ac1f6bc53342\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:20+00:00\",\"updated_at\":\"2024-07-30T16:11:20+00:00\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"from_address\":{\"id\":\"adr_5bb567454e8e11efbeffac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:20+00:00\",\"updated_at\":\"2024-07-30T16:11:20+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":true,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":37.77551,\"longitude\":-122.39697,\"time_zone\":\"America/Los_Angeles\"}}}},\"shipment_id\":null,\"tracker\":{\"id\":\"trk_c743ef2a7eb24a36835f63695bc1281b\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100110368068952542\",\"status\":\"error\",\"status_detail\":null,\"created_at\":\"2024-07-30T16:11:20Z\",\"updated_at\":\"2024-07-30T16:11:20Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":null,\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"In test mode, only test tracking numbers are valid. Test tracking numbers are EZ1000000001, EZ2000000002, ... , EZ7000000007\",\"description\":\"\",\"status\":\"error\",\"status_detail\":null,\"datetime\":\"2024-07-30T16:11:20Z\",\"source\":\"ProcessingError\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}}],\"carrier_detail\":null,\"finalized\":true,\"is_return\":false,\"public_url\":\"https://track.easypost.com/djE6dHJrX2M3NDNlZjJhN2ViMjRhMzY4MzVmNjM2OTViYzEyODFi\",\"fees\":[]},\"tracking_code\":\"9400100110368068952542\",\"fee\":{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"0.50000\",\"charged\":true,\"refunded\":false},\"messages\":[],\"created_at\":\"2024-07-30T16:11:20Z\",\"updated_at\":\"2024-07-30T16:11:20Z\"},{\"id\":\"ins_a339220cfce44fc8af743967cbb9e94d\",\"object\":\"Insurance\",\"mode\":\"test\",\"reference\":null,\"status\":\"purchased\",\"amount\":\"50.00000\",\"provider\":\"easypost\",\"provider_id\":null,\"to_address\":{\"id\":\"adr_5ae48fd74e8e11efbe86ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:18+00:00\",\"updated_at\":\"2024-07-30T16:11:19+00:00\",\"name\":\"ELIZABETH SWAN\",\"co[...]
