{
  "log": {
    "_recordingName": "Insurance Service/retrieves next page of insurances",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4da480322f61bd3bdc44f8e2cb8fcfb2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/insurances?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 2948,
            "text": "{\"insurances\":[{\"id\":\"ins_9a043280c1104f359cf2cafac0b10133\",\"object\":\"Insurance\",\"mode\":\"test\",\"reference\":null,\"status\":\"pending\",\"amount\":\"100.00000\",\"provider\":\"easypost\",\"provider_id\":null,\"to_address\":{\"id\":\"adr_2f8787534cdd11eebbbcac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:45:36+00:00\",\"updated_at\":\"2023-09-06T17:45:36+00:00\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"from_address\":{\"id\":\"adr_2f8c96754cdd11ee8024ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:45:36+00:00\",\"updated_at\":\"2023-09-06T17:45:36+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":true,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":37.77551,\"longitude\":-122.39697,\"time_zone\":\"America/Los_Angeles\"}}}},\"shipment_id\":null,\"tracker\":{\"id\":\"trk_2bfe6ef0be1748c8b5ced0395e79aad4\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100105440258923643\",\"status\":\"error\",\"status_detail\":null,\"created_at\":\"2023-09-06T17:45:36Z\",\"updated_at\":\"2023-09-06T17:45:36Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":null,\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"In test mode, only test tracking numbers are valid. Test tracking numbers are EZ1000000001, EZ2000000002, ... , EZ7000000007\",\"description\":\"\",\"status\":\"error\",\"status_detail\":null,\"datetime\":\"2023-09-06T17:45:36Z\",\"source\":\"ProcessingError\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}}],\"carrier_detail\":null,\"finalized\":true,\"is_return\":false,\"public_url\":\"https://track.easypost.com/djE6dHJrXzJiZmU2ZWYwYmUxNzQ4YzhiNWNlZDAzOTVlNzlhYWQ0\",\"fees\":[]},\"tracking_code\":\"9400100105440258923643\",\"fee\":{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"0.50000\",\"charged\":true,\"refunded\":false},\"messages\":[],\"created_at\":\"2023-09-06T17:45:36Z\",\"updated_at\":\"2023-09-06T17:45:36Z\"},{\"id\":\"ins_00dd4043da054988b89ecab14d1aabdf\",\"object\":\"Insurance\",\"mode\":\"test\",\"reference\":null,\"status\":\"purchased\",\"amount\":\"50.00000\",\"provider\":\"easypost\",\"provider_id\":null,\"to_address\":{\"id\":\"adr_2e70cfe24cdd11eebb14ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:45:34+00:00\",\"updated_at\":\"2023-09-06T17:45:35+00:00\",\"name\":\"ELIZABETH SWAN\",\"co[...]
