{
  "log": {
    "_recordingName": "Insurance Service/retrieves next page of insurances",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4da480322f61bd3bdc44f8e2cb8fcfb2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/insurances?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1420,
            "text": "{\"insurances\":[{\"id\":\"ins_3c21477902ab4ad8a40af02276409b7c\",\"object\":\"Insurance\",\"mode\":\"test\",\"reference\":\"1\",\"status\":\"pending\",\"amount\":\"100.00000\",\"provider\":\"easypost\",\"provider_id\":null,\"to_address\":{\"id\":\"adr_82258a32c8d511ed87afac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2023-03-22T17:18:05+00:00\",\"updated_at\":\"2023-03-22T17:18:05+00:00\",\"name\":null,\"company\":\"EASYPOST\",\"street1\":\"417 MONTGOMERY ST FL 5\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94104-1129\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[{\"code\":\"E.SECONDARY_INFORMATION.INVALID\",\"field\":\"street2\",\"message\":\"Invalid secondary information(Apt/Suite#)\",\"suggestion\":null}],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[{\"code\":\"E.SECONDARY_INFORMATION.INVALID\",\"field\":\"street2\",\"message\":\"Invalid secondary information(Apt/Suite#)\",\"suggestion\":null}],\"details\":{\"latitude\":37.79342,\"longitude\":-122.40288,\"time_zone\":\"America/Los_Angeles\"}}}},\"from_address\":{\"id\":\"adr_822ac797c8d511ed87b2ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2023-03-22T17:18:05+00:00\",\"updated_at\":\"2023-03-22T17:18:05+00:00\",\"name\":null,\"company\":\"EASYPOST\",\"street1\":\"417 MONTGOMERY ST FL 2\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94104-1129\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[{\"code\":\"E.SECONDARY_INFORMATION.INVALID\",\"field\":\"street2\",\"message\":\"Invalid secondary information(Apt/Suite#)\",\"suggestion\":null}],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[{\"code\":\"E.SECONDARY_INFORMATION.INVALID\",\"field\":\"street2\",\"message\":\"Invalid secondary information(Apt/Suite#)\",\"suggestion\":null}],\"details\":{\"latitude\":37.79342,\"longitude\":-122.40288,\"time_zone\":\"America/Los_Angeles\"}}}},\"shipment_id\":null,\"tracker\":{\"id\":\"trk_e1e33a61f02846cb80905b1a50ea5ba0\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400110898825022579493\",\"status\":\"error\",\"status_detail\":null,\"created_at\":\"2023-03-22T17:18:05Z\",\"updated_at\":\"2023-03-22T17:18:05Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":null,\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"In test mode, only test tracking numbers are valid. Test tracking numbers are EZ1000000001, EZ2000000002, ... , EZ7000000007\",\"description\":null,\"status\":\"error\",\"status_detail\":null,\"datetime\":\"2023-03-22T17:18:05Z\",\"source\":\"ProcessingError\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}}],\"carrier_detail\":null,\"finalized\":true,\"is_return\":false,\"public_url\":\"https://track.easypost.com/djE6dHJrX2UxZTMzYTYxZjAyODQ2Y2I4MDkwNWIxYTUwZWE1YmEw\",\"fees\":[]},\"tracking_code\":\"9400110898825022579493\",\"fee\":{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"0.50000\",\"charged\":true,\"refunded\":false},\"messages\":[],\"created_at\":\"2023-03-22T17:18:05Z\",\"updated_at\":\"2023-03-22T17:18:05Z\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "eb57f5c564232c89e0dc8a81001e2dc7"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"85d4c36eb2536a20c3745da19f4bb044\""
            },
            {
              "name": "x-node",
              "value": "bigweb11nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202303271939-29966fef42-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq a40ea751fd, intlb1wdc a40ea751fd, extlb3wdc a29e4ad05c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 325,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
