{
  "log": {
    "_recordingName": "Insurance Service/retrieves next page of insurances",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4da480322f61bd3bdc44f8e2cb8fcfb2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/insurances?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 2942,
            "text": "{\"insurances\":[{\"id\":\"ins_dacdb8b016bf436fb128c07012d9af0b\",\"object\":\"Insurance\",\"mode\":\"test\",\"reference\":null,\"status\":\"pending\",\"amount\":\"100.00000\",\"provider\":\"easypost\",\"provider_id\":null,\"to_address\":{\"id\":\"adr_e256064df38711ee9805ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:05:43+00:00\",\"updated_at\":\"2024-04-05T20:05:43+00:00\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"from_address\":{\"id\":\"adr_e25b0bd1f38711eeaba4ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:05:43+00:00\",\"updated_at\":\"2024-04-05T20:05:43+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":true,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":37.77551,\"longitude\":-122.39697,\"time_zone\":\"America/Los_Angeles\"}}}},\"shipment_id\":null,\"tracker\":{\"id\":\"trk_0188c818369945d5a40a0f998f802d87\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100110322030272236\",\"status\":\"error\",\"status_detail\":null,\"created_at\":\"2024-04-05T20:05:43Z\",\"updated_at\":\"2024-04-05T20:05:43Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":null,\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"In test mode, only test tracking numbers are valid. Test tracking numbers are EZ1000000001, EZ2000000002, ... , EZ7000000007\",\"description\":\"\",\"status\":\"error\",\"status_detail\":null,\"datetime\":\"2024-04-05T20:05:43Z\",\"source\":\"ProcessingError\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}}],\"carrier_detail\":null,\"finalized\":true,\"is_return\":false,\"public_url\":\"https://track.easypost.com/djE6dHJrXzAxODhjODE4MzY5OTQ1ZDVhNDBhMGY5OThmODAyZDg3\",\"fees\":[]},\"tracking_code\":\"9400100110322030272236\",\"fee\":{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"0.50000\",\"charged\":true,\"refunded\":false},\"messages\":[],\"created_at\":\"2024-04-05T20:05:43Z\",\"updated_at\":\"2024-04-05T20:05:43Z\"},{\"id\":\"ins_6f10b3d0f7054a59a39bdf3c944db8de\",\"object\":\"Insurance\",\"mode\":\"test\",\"reference\":null,\"status\":\"purchased\",\"amount\":\"50.00000\",\"provider\":\"easypost\",\"provider_id\":null,\"to_address\":{\"id\":\"adr_e1822561f38711ee97caac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:05:42+00:00\",\"updated_at\":\"2024-04-05T20:05:42+00:00\",\"name\":\"ELIZABETH SWAN\",\"co[...]
