{
  "log": {
    "_recordingName": "CarrierAccount Resource/deletes a carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "baa38699594daba3ccad2821eec4d786",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"type\":\"UpsAccount\",\"credentials\":{\"account_number\":\"A1A1A1\",\"user_id\":\"USERID\",\"password\":\"PASSWORD\",\"access_license_number\":\"ALN\"}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 376,
            "text": "{\"id\":\"ca_d4f9bad142b84ad3a17040e23681847c\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"created_at\":\"2022-06-01T22:06:19Z\",\"updated_at\":\"2022-06-01T22:06:19Z\",\"description\":\"UPS Account\",\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"UPS\",\"logo\":null,\"fields\":{\"credentials\":{\"account_number\":{\"visibility\":\"readonly\",\"label\":\"UPS Account Number\",\"value\":\"A1A1A1\"}}},\"credentials\":{},\"test_credentials\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "77ca7e7f6297e2dbe7874dc700150a4b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8c8134401e53b749ba3c602f9dee0670\""
            },
            {
              "name": "x-node",
              "value": "bigweb7nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206010206-f8352cdc94-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb1nuq 0910011e7e"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 326,
      },
      {
        "_id": "20650b24cfe353945021ea8dda2030e8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_d4f9bad142b84ad3a17040e23681847c"
        },
        "response": {
          "content": {
            "encoding": "base64",
            [...]
