{
  "log": {
    "_recordingName": "Shipment Resource/rerate a shipment with carbon offset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d7021f7d50c54f169bd56e0f5da37f2f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"to_address\":{\"name\":\"Dr. Steve Brule\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"dr_steve_brule@gmail.com\"},\"from_address\":{\"name\":\"EasyPost\",\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\"},\"parcel\":{\"length\":20.2,\"width\":10.9,\"height\":5,\"weight\":65.9},\"carrier_accounts\":[\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"],\"carrier\":\"USPS\",\"service\":\"Priority\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 2231,
            "text": "{\"created_at\":\"2022-07-29T15:29:48Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9405500109361130633339\",\"updated_at\":\"2022-07-29T15:29:49Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_48444e370f5311edb525ac1f6bc7b362\",\"object\":\"Address\",\"created_at\":\"2022-07-29T15:29:48+00:00\",\"updated_at\":\"2022-07-29T15:29:48+00:00\",\"name\":\"EasyPost\",\"company\":null,\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"50.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_e0dcc84a1876412f8e45531e2b848b36\",\"object\":\"Parcel\",\"created_at\":\"2022-07-29T15:29:48Z\",\"updated_at\":\"2022-07-29T15:29:48Z\",\"length\":20.2,\"width\":10.9,\"height\":5,\"predefined_package\":null,\"weight\":65.9,\"mode\":\"test\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_90214bee93a6494b972c70c7608f6c1a\",\"created_at\":\"2022-07-29T15:29:49Z\",\"updated_at\":\"2022-07-29T15:29:49Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2022-07-29T15:29:49Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220729/eee1d596edcf4bf98bcb3464ef7019b7.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_56054905b1c542b682470efc1f3ad135\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T15:29:48Z\",\"updated_at\":\"2022-07-29T15:29:48Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"44.30\",\"currency\":\"USD\",\"retail_rate\":\"51.00\",\"retail_currency\":\"USD\",\"list_rate\":\"44.30\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":null,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":null,\"shipment_id\":\"shp_f149d025b36d4eb4bd17977543a07a1b\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_7573ae96b6de4477a6b2dc1ec87e5d6b\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T15:29:48Z\",\"updated_at\":\"2022-07-29T15:29:48Z\",\"mode\":\"test\",\"service\":\"ParcelSelect\",\"carrier\":\"USPS\",\"rate\":\"8.91\",\"currency\":\"USD\",\"retail_rate\":\"8.91\",\"retail_currency\":\"USD\",\"list_rate\":\"8.91\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":5,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":5,\"shipment_id\":\"shp_f149d025b36d4eb4bd17977543a07a1b\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_449b1f92effa417289190b7d3c76e3b3\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T15:29:48Z\",\"updated_at\":\"2022-07-29T15:29:48Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.82\",\"currency\":\"USD\",\"retail_rate\":\"13.15\",\"retail_currency\":\"USD\",\"list_rate\":\"9.82\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_f149d025b36d4eb4bd17977543a07a1b\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":{\"id\":\"rate_449b1f92effa417289190b7d3c76e3b3\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T15:29:49Z\",\"updated_at\":\"2022-07-29T15:29:49Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.82\",\"currency\":\"USD\",\"retail_rate\":\"13.15\",\"retail_currency\":\"USD\",\"list_rate\":\"9.82\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_f149d025b36d4eb4bd17977543a07a1b\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},\"tracker\":{\"id\":\"trk_8074b34c3201415cabe247225c7e2183\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9405500109361130633339\",\"status\":\"unknown\",\"status_detail\":\"unknown\",\"created_at\":\"2022-07-29T15:29:49Z\",\"updated_at\":\"2022-07-29T15:29:49Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":null,\"shipment_id\":\"shp_f149d025b36d4eb4bd17977543a07a1b\",\"carrier\":\"USPS\",\"tracking_details\":[],\"fees\":[],\"carrier_detail\":null,\"public_url\":\"https://track.easypost.com/djE6dHJrXzgwNzRiMzRjMzIwMTQxNWNhYmUyNDcyMjVjN2UyMTgz\"},\"to_address\":{\"id\":\"adr_4842ae3c0f5311edbbccac1f6bc7bdc6\",\"object\":\"Address\",\"created_at\":\"2022-07-29T15:29:48+00:00\",\"updated_at\":\"2022-07-29T15:29:48+00:00\",\"name\":\"DR. STEVE BRULE\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"DR_STEVE_BRULE@GMAIL.COM\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_48444e370f5311edb525ac1f6bc7b362\",\"object\":\"Address\",\"created_at\":\"2022-07-29T15:29:48+00:00\",\"updated_at\":\"2022-07-29T15:29:48+00:00\",\"name\":\"EasyPost\",\"company\":null,\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_4842ae3c0f5311edbbccac1f6bc7bdc6\",\"object\":\"Address\",\"created_at\":\"2022-07-29T15:29:48+00:00\",\"updated_at\":\"2022-07-29T15:29:48+00:00\",\"name\":\"DR. STEVE BRULE\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"DR_STEVE_BRULE@GMAIL.COM\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"forms\":[],\"fees\":[{\"object\":\"Fee\",\"type\":\"LabelFee\",\"amount\":\"0.00000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"PostageFee\",\"amount\":\"9.82000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"0.25000\",\"charged\":true,\"refunded\":false}],\"id\":\"shp_f149d025b36d4eb4bd17977543a07a1b\",\"object\":\"Shipment\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "676acead62e3fcecff02eafd000dd079"
            },
            {
              "name": "location",
              "value": "/api/v2/shipments/shp_f149d025b36d4eb4bd17977543a07a1b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2397c0d01280713e47b9a109742e8c89\""
            },
            {
              "name": "x-node",
              "value": "bigweb3nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202207282305-ef64fb0c25-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb2nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1537,
      },
      {
        "_id": "9012cc518068c72d15aaebc29d3297a6",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carbon_offset\":true}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments/shp_f149d025b36d4eb4bd17977543a07a1b/rerate"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 660,
            "text": "{\"rates\":[{\"id\":\"rate_3c96b26f5a4849da97c88a0f75ef4274\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T15:29:50Z\",\"updated_at\":\"2022-07-29T15:29:50Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"44.30\",\"currency\":\"USD\",\"retail_rate\":\"51.00\",\"retail_currency\":\"USD\",\"list_rate\":\"44.30\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":null,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":null,\"shipment_id\":\"shp_f149d025b36d4eb4bd17977543a07a1b\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"carbon_offset\":{\"object\":\"CarbonOffset\",\"grams\":154,\"price\":\"0.11\",\"currency\":\"USD\"}},{\"id\":\"rate_20634ae794ca4f57ae8030c5ce4272d7\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T15:29:50Z\",\"updated_at\":\"2022-07-29T15:29:50Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.82\",\"currency\":\"USD\",\"retail_rate\":\"13.15\",\"retail_currency\":\"USD\",\"list_rate\":\"9.82\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"es[...]
