{
  "log": {
    "_recordingName": "Shipment Resource/rerate a shipment with carbon offset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "58fbcd8f6cef6e1960120d09d9f55d09",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}},\"carbon_offset\":false}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1735,
            "text": "{\"created_at\":\"2022-08-09T15:15:48Z\",\"is_return\":false,\"messages\":[{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_84eb72b6170b4b9db15419601139c436\",\"type\":\"rate_error\",\"message\":\"Invalid Access License number\"},{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_37788b00b3df4564a501d743b81236d5\",\"type\":\"rate_error\",\"message\":\"Invalid Access License number\"},{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_40a4125ae168494f98c4ab6913740713\",\"type\":\"rate_error\",\"message\":\"Invalid Access License number\"},{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_785407083c0c43b2b74270c7962be6c7\",\"type\":\"rate_error\",\"message\":\"Invalid Access License number\"},{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_52401f808d204a939b7273d0ff2a86d0\",\"type\":\"rate_error\",\"message\":\"Invalid Access License number\"}],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"updated_at\":\"2022-08-09T15:15:49Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_2623c41d17f611ed9849ac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-08-09T15:15:48+00:00\",\"updated_at\":\"2022-08-09T15:15:48+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"test@example.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":null,\"order_id\":null,\"parcel\":{\"id\":\"prcl_23b653d32bcf4c4b842ca9921fc5a7e2\",\"object\":\"Parcel\",\"created_at\":\"2022-08-09T15:15:48Z\",\"updated_at\":\"2022-08-09T15:15:48Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":null,\"rates\":[{\"id\":\"rate_7dece01419f64b2da29b5395bab6b9ae\",\"object\":\"Rate\",\"created_at\":\"2022-08-09T15:15:49Z\",\"updated_at\":\"2022-08-09T15:15:49Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"7.90\",\"currency\":\"USD\",\"retail_rate\":\"9.45\",\"retail_currency\":\"USD\",\"list_rate\":\"7.90\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_a9acfb0139f84c7fac2a65def2f002b7\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_3a8ae10c15944a80a384f73a18209d16\",\"object\":\"Rate\",\"created_at\":\"2022-08-09T15:15:49Z\",\"updated_at\":\"2022-08-09T15:15:49Z\",\"mode\":\"test\",\"service\":\"ParcelSelect\",\"carrier\":\"USPS\",\"rate\":\"7.75\",\"currency\":\"USD\",\"retail_rate\":\"7.75\",\"retail_currency\":\"USD\",\"list_rate\":\"7.75\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"deli[...]
