{
  "log": {
    "_recordingName": "Shipment Resource/rerate a shipment with carbon offset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "46dc5bd29fdb500741346f21a911240a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"to_address\":{\"name\":\"Dr. Steve Brule\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"dr_steve_brule@gmail.com\"},\"from_address\":{\"name\":\"EasyPost\",\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\"},\"parcel\":{\"length\":20.2,\"width\":10.9,\"height\":5,\"weight\":65.9},\"carrier_accounts\":[\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"],\"carrier\":\"USPS\",\"service\":\"Priority\"},\"carbon_offset\":false}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 2235,
            "text": "{\"created_at\":\"2022-07-29T22:03:19Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9405500109361130689473\",\"updated_at\":\"2022-07-29T22:03:20Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_4192db470f8a11ed9d07ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2022-07-29T22:03:19+00:00\",\"updated_at\":\"2022-07-29T22:03:19+00:00\",\"name\":\"EasyPost\",\"company\":null,\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"50.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_9e1a94f5640e4c8da7eb5ac2defa4c82\",\"object\":\"Parcel\",\"created_at\":\"2022-07-29T22:03:19Z\",\"updated_at\":\"2022-07-29T22:03:19Z\",\"length\":20.2,\"width\":10.9,\"height\":5,\"predefined_package\":null,\"weight\":65.9,\"mode\":\"test\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_a7a3ad66125049fa984dd8e67af3932d\",\"created_at\":\"2022-07-29T22:03:20Z\",\"updated_at\":\"2022-07-29T22:03:20Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2022-07-29T22:03:20Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220729/0241de79491e404288bf28eb22f7d5ca.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_8be360763db841b58d5f3f5359f319f0\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T22:03:20Z\",\"updated_at\":\"2022-07-29T22:03:20Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.82\",\"currency\":\"USD\",\"retail_rate\":\"13.15\",\"retail_currency\":\"USD\",\"list_rate\":\"9.82\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_631ec50708b344e691aa471c77839ba4\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_52d1fd8cd10144e0afac5cd845a853a2\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T22:03:20Z\",\"updated_at\":\"2022-07-29T22:03:20Z\",\"mode\":\"test\",\"service\":\"ParcelSelect\",\"carrier\":\"USPS\",\"rate\":\"8.91\",\"currency\":\"USD\",\"retail_rate\":\"8.91\",\"retail_currency\":\"USD\",\"list_rate\":\"8.91\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":5,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":5,\"shipment_id\":\"shp_631ec50708b344e691aa471c77839ba4\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_ab91d434a44b4818918dfd0fc42600e6\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T22:03:20Z\",\"updated_at\":\"2022-07-29T22:03:20Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"44.30\",\"currency\":\"USD\",\"retail_rate\":\"51.00\",\"retail_currency\":\"USD\",\"list_rate\":\"44.30\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":null,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":null,\"shipment_id\":\"shp_631ec50708b344e691aa471c77839ba4\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":{\"id\":\"rate_8be360763db841b58d5f3f5359f319f0\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T22:03:20Z\",\"updated_at\":\"2022-07-29T22:03:20Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.82\",\"currency\":\"USD\",\"retail_rate\":\"13.15\",\"retail_currency\":\"USD\",\"list_rate\":\"9.82\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_631ec50708b344e691aa471c77839ba4\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},\"tracker\":{\"id\":\"trk_fe690671a418461485fcd8b100f1ca31\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9405500109361130689473\",\"status\":\"unknown\",\"status_detail\":\"unknown\",\"created_at\":\"2022-07-29T22:03:20Z\",\"updated_at\":\"2022-07-29T22:03:20Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":null,\"shipment_id\":\"shp_631ec50708b344e691aa471c77839ba4\",\"carrier\":\"USPS\",\"tracking_details\":[],\"fees\":[],\"carrier_detail\":null,\"public_url\":\"https://track.easypost.com/djE6dHJrX2ZlNjkwNjcxYTQxODQ2MTQ4NWZjZDhiMTAwZjFjYTMx\"},\"to_address\":{\"id\":\"adr_41911bb30f8a11eda494ac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-07-29T22:03:19+00:00\",\"updated_at\":\"2022-07-29T22:03:20+00:00\",\"name\":\"DR. STEVE BRULE\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"DR_STEVE_BRULE@GMAIL.COM\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_4192db470f8a11ed9d07ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2022-07-29T22:03:19+00:00\",\"updated_at\":\"2022-07-29T22:03:19+00:00\",\"name\":\"EasyPost\",\"company\":null,\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_41911bb30f8a11eda494ac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-07-29T22:03:19+00:00\",\"updated_at\":\"2022-07-29T22:03:20+00:00\",\"name\":\"DR. STEVE BRULE\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":null,\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"DR_STEVE_BRULE@GMAIL.COM\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"forms\":[],\"fees\":[{\"object\":\"Fee\",\"type\":\"LabelFee\",\"amount\":\"0.00000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"PostageFee\",\"amount\":\"9.82000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"0.25000\",\"charged\":true,\"refunded\":false}],\"id\":\"shp_631ec50708b344e691aa471c77839ba4\",\"object\":\"Shipment\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "999d146c62e45927e788dd80000fe7be"
            },
            {
              "name": "location",
              "value": "/api/v2/shipments/shp_631ec50708b344e691aa471c77839ba4"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2d0aa23c72989a64de24052426bafd9e\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202207291722-ecd5579616-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 403f17ff97, extlb2nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1602,
      },
      {
        "_id": "6ee76257a47d2848c5a22d7f07acc3a5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carbon_offset\":true}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments/shp_631ec50708b344e691aa471c77839ba4/rerate"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 668,
            "text": "{\"rates\":[{\"id\":\"rate_b1527a9569854ca783c93421950b470f\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T22:03:21Z\",\"updated_at\":\"2022-07-29T22:03:21Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.82\",\"currency\":\"USD\",\"retail_rate\":\"13.15\",\"retail_currency\":\"USD\",\"list_rate\":\"9.82\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_631ec50708b344e691aa471c77839ba4\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"carbon_offset\":{\"object\":\"CarbonOffset\",\"grams\":154,\"price\":\"0.11\",\"currency\":\"USD\"}},{\"id\":\"rate_eb70c3b800cb475d817164acd5bc6478\",\"object\":\"Rate\",\"created_at\":\"2022-07-29T22:03:21Z\",\"updated_at\":\"2022-07-29T22:03:21Z\",\"mode\":\"test\",\"service\":\"ParcelSelect\",\"carrier\":\"USPS\",\"rate\":\"8.91\",\"currency\":\"USD\",\"retail_rate\":\"8.91\",\"retail_currency\":\"USD\",\"list_rate\":\"8.91\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":5,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\[...]
