{
  "log": {
    "_recordingName": "Referral Resource/creates a referral user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6b168c83c35b0b47c381ed9ac0ad6362",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test Referral\",\"email\":\"test@example.com\",\"phone\":\"1111111111\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/referral_customers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 696,
            "text": "{\"id\":\"user_0b0d8c8d2cc84e0e8c7d0fc7ab3471f8\",\"object\":\"User\",\"parent_id\":null,\"name\":\"Test Referral\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-06-01T19:52:16Z\",\"balance\":\"0.00000\",\"price_per_shipment\":\"0.00000\",\"recharge_amount\":null,\"secondary_recharge_amount\":null,\"recharge_threshold\":null,\"has_billing_method\":null,\"cc_fee_rate\":\"0.0325\",\"default_insurance_amount\":\"50.00\",\"insurance_fee_rate\":\"0.005\",\"insurance_fee_minimum\":\"0.25\",\"email\":\"<REDACTED>\",\"children\":[],\"api_keys\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "f5a1f0436297c370e786c5c50009fe06"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"68b030a5a3ce60abd9d45fcf296e2dc7\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206011908-268b477d75-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq 0910011e7e"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1212,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
