{
  "log": {
    "_recordingName": "Referral Resource/creates a referral user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6b168c83c35b0b47c381ed9ac0ad6362",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test Referral\",\"email\":\"test@example.com\",\"phone\":\"1111111111\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/referral_customers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 700,
            "text": "{\"id\":\"user_bed51a6d6933461c8a61b5a737ab96b7\",\"object\":\"User\",\"parent_id\":null,\"name\":\"Test Referral\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-08-05T18:00:35Z\",\"balance\":\"0.00000\",\"price_per_shipment\":\"0.00000\",\"recharge_amount\":null,\"secondary_recharge_amount\":null,\"recharge_threshold\":null,\"has_billing_method\":null,\"cc_fee_rate\":\"0.0375\",\"default_insurance_amount\":\"50.00\",\"insurance_fee_rate\":\"0.005\",\"insurance_fee_minimum\":\"0.25\",\"email\":\"<REDACTED>\",\"children\":[],\"api_keys\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1cc3f58662ed5ac3e787d0e40000263c"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"655b075032e605be752c3b8a421ca9e5\""
            },
            {
              "name": "x-node",
              "value": "bigweb6nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208042341-a652c79591-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb2nuq 9ce216bfac"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1335,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
