{
  "log": {
    "_recordingName": "Referral Resource/creates a referral user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6b168c83c35b0b47c381ed9ac0ad6362",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test Referral\",\"email\":\"test@example.com\",\"phone\":\"1111111111\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/referral_customers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 696,
            "text": "{\"id\":\"user_d0bbfa7011104716baf23b9438f3b848\",\"object\":\"User\",\"parent_id\":null,\"name\":\"Test Referral\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-09-19T18:23:49Z\",\"balance\":\"0.00000\",\"price_per_shipment\":\"0.00000\",\"recharge_amount\":null,\"secondary_recharge_amount\":null,\"recharge_threshold\":null,\"has_billing_method\":null,\"cc_fee_rate\":\"0.0375\",\"default_insurance_amount\":\"50.00\",\"insurance_fee_rate\":\"0.005\",\"insurance_fee_minimum\":\"0.25\",\"email\":\"<REDACTED>\",\"children\":[],\"api_keys\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d262fa416328b3b5e2b8f7760000bda3"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c20ee14bda581b2d33d23c833f1fd2c8\""
            },
            {
              "name": "x-node",
              "value": "bigweb4nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202209191743-ee88444977-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 6aa9972c1e, intlb1wdc 6aa9972c1e, extlb3wdc 9ce216bfac"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1248,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
