{
  "log": {
    "_recordingName": "Claim Service/retrieves next page of claims",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e426f94a49361f9e01df7278827ebea9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/beta/claims?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 776,
            "text": "{\"claims\":[{\"approved_amount\":null,\"attachments\":[\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/8dc9b0c3cfc9464c86defd6db3a8286c.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/2659e2a0a42747d8b349c12b8a0c796a.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240722/b3d3a22d60ee437cb63c85f54c59952e.png\"],\"check_delivery_address\":null,\"contact_email\":\"test@example.com\",\"created_at\":\"2024-07-22T18:30:35\",\"description\":\"Test description\",\"history\":[{\"status\":\"submitted\",\"status_detail\":\"Claim was created.\",\"timestamp\":\"2024-07-22T18:30:35\"}],\"id\":\"clm_097e7e997bd74d7f8ae1fc23a6defbb9\",\"insurance_amount\":\"100.00\",\"insurance_id\":\"ins_34bb643cf03a432496c857b4fd48b795\",\"mode\":\"test\",\"object\":\"Claim\",\"payment_method\":\"easypost_wallet\",\"recipient_name\":null,\"requested_amount\":\"100.00\",\"salvage_value\":null,\"shipment_id\":\"shp_151cb617c4d540b2a6bf924469dcf4a3\",\"status\":\"submitted\",\"status_detail\":\"Claim was created.\",\"status_timestamp\":\"2024-07-22T18:30:35\",\"tracking_code\":\"9400100110368065942225\",\"type\":\"damage\",\"updated_at\":\"2024-07-22T18:30:35\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "9bf8e479669ea6f7e78ba8080006970a"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb43nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407221758-7acbce7c21-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0f5e722d1, extlb1nuq fa152d4755"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 440,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
