{
  "log": {
    "_recordingName": "Claim Service/retrieves next page of claims",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "51ebbe35f11841c03380ff9ffba80ba5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/claims?page_size=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 6059,
            "text": "{\"claims\":[{\"approved_amount\":null,\"attachments\":[\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260812/6004b795e20b4017aa68a1b90a6d09e6.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260812/8524ce2e5f014df68f1684a4a5095a2e.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260812/a2347a9da9134ef28aedba6c84684a3c.png\"],\"check_delivery_address\":null,\"contact_email\":\"test@example.com\",\"created_at\":\"2026-08-12T17:19:43Z\",\"description\":\"Test description\",\"history\":[{\"status\":\"submitted\",\"status_detail\":\"Claim was created.\",\"timestamp\":\"2026-08-12T17:19:43Z\"}],\"id\":\"clm_0a4911d20fde48e99dc5e91b295943db\",\"insurance_amount\":\"100.00\",\"insurance_id\":\"ins_655fcc189c14446eb51d3b28df6b4cdb\",\"mode\":\"test\",\"object\":\"Claim\",\"payment_method\":\"easypost_wallet\",\"payout_recipient\":null,\"recipient_name\":null,\"reference\":null,\"requested_amount\":\"100.00\",\"salvage_value\":null,\"shipment_id\":\"shp_dddfb11b28a34d2cb80a0b0e3b5b2dd8\",\"status\":\"submitted\",\"status_detail\":\"Claim was created.\",\"status_timestamp\":\"2026-08-12T17:19:43Z\",\"tracking_code\":\"9400100208303112624024\",\"type\":\"damage\",\"updated_at\":\"2026-08-12T17:19:43Z\"},{\"approved_amount\":null,\"attachments\":[\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260812/f757002ac89a48859b0b6ee1156ab3ae.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260812/f100eb11cc9745bab454b2d02a7fc682.png\",\"https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20260812/b268e68d30e54e45896a43ef6b6f9a88.png\"],\"check_delivery_address\":null,\"contact_email\":\"test@example.com\",\"created_at\":\"2026-08-12T1[...]
