{
  "log": {
    "_recordingName": "Address Service/creates an address with verify param",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "6e50cdc49421887d92e6937535024603",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 400,
            "text": "{\"id\":\"adr_3b92da4b4e8e11ef9140ac1f6bc53342\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:10:26+00:00\",\"updated_at\":\"2024-07-30T16:10:26+00:00\",\"name\":null,\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"street2\":null,\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a17366a91072e2b8733600350074"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_3b92da4b4e8e11ef9140ac1f6bc53342"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb32nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 158,
      },
      {
        "_id": "c3e0e1f0cb882294f8a37b62871cf701",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"verify\":true}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 532,
            "text": "{\"id\":\"adr_3bac3d134e8e11efa716ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:10:26+00:00\",\"updated_at\":\"2024-07-30T16:10:26+00:00\",\"name\":null,\"company\":\"EasyPost\",\"street1\":\"000 unknown street\",\"street2\":null,\"city\":\"Not A City\",\"state\":\"ZZ\",\"zip\":\"00001\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":false,\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null}],\"details\":null},\"delivery\":{\"success\":false,\"errors\":[{\"code\":\"E.ADDRESS.NOT_FOUND\",\"field\":\"address\",\"message\":\"Address not found\",\"suggestion\":null}],\"details\":{}}}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a17266a91072e2b873370035009e"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_3bac3d134e8e11efa716ac1f6bc539aa"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb35nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 165,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
