{
  "log": {
    "_recordingName": "Tracker Service/retrieves all trackers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "668c2f412433bc90021ad9c7e03a4f26",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/trackers?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1616,
            "text": "{\"trackers\":[{\"id\":\"trk_905a772b8f6346c1bdaabaec4aa51ed2\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"EZ1000000001\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"created_at\":\"2024-04-05T20:06:47Z\",\"updated_at\":\"2024-04-05T20:06:48Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":\"2024-04-05T20:06:48Z\",\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment Info Sent to USPS\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2024-03-05T20:06:48Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}},{\"object\":\"TrackingDetail\",\"message\":\"Shipping Label Created\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2024-03-06T08:43:48Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"}}],\"fees\":[{\"object\":\"Fee\",\"type\":\"TrackerFee\",\"amount\":\"0.02000\",\"charged\":false,\"refunded\":false}],\"carrier_detail\":{\"object\":\"CarrierDetail\",\"service\":\"First-Class Package Service\",\"container_type\":null,\"est_delivery_date_local\":null,\"est_delivery_time_local\":null,\"origin_location\":\"HOUSTON TX, 77001\",\"origin_tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"},\"destination_location\":\"CHARLESTON SC, 29401\",\"destination_tracking_location\":null,\"guaranteed_delivery_date\":null,\"alternate_identifier\":null,\"initial_delivery_attempt\":null},\"public_url\":\"https://track.easypost.com/djE6dHJrXzkwNWE3NzJiOGY2MzQ2YzFiZGFhYmFlYzRhYTUxZWQy\"},{\"id\":\"trk_9eda1a9797994cf1b888ca6197cef5f5\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100110322030272571\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"created_at\":\"2024-04-05T20:06:47Z\",\"updated_at\":\"2024-04-05T20:06:47Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":\"2024-04-05T20:06:47Z\",\"shipment_id\":\"shp_b37ace7d47954b99a52fd5da50e9a04b\[...]
