{
  "log": {
    "_recordingName": "Carrier Metadata Service/retrieve metadata based on the filters provided",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d653ccc73a4e6e7ec5cdd04ca7781ba5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "carriers",
              "value": "usps"
            },
            {
              "name": "types",
              "value": "service_levels,predefined_packages"
            }
          ],
          "url": "https://api.easypost.com/beta/metadata?carriers=usps&types=service_levels%2Cpredefined_packages"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 696,
            "text": "{\"carriers\":[{\"human_readable\":\"USPS\",\"name\":\"usps\",\"predefined_packages\":[{\"carrier\":\"usps\",\"description\":null,\"dimensions\":[],\"human_readable\":null,\"max_weight\":null,\"name\":\"Card\"},{\"carrier\":\"usps\",\"description\":null,\"dimensions\":[],\"human_readable\":null,\"max_weight\":null,\"name\":\"Letter\"},{\"carrier\":\"usps\",\"description\":null,\"dimensions\":[],\"human_readable\":null,\"max_weight\":null,\"name\":\"Flat\"},{\"carrier\":\"usps\",\"description\":null,\"dimensions\":[],\"human_readable\":null,\"max_weight\":null,\"name\":\"FlatRateEnvelope\"},{\"carrier\":\"usps\",\"description\":null,\"dimensions\":[],\"human_readable\":null,\"max[...]
