{
  "log": {
    "_recordingName": "Parcel Resource/retrieves a parcel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b25eeccb943253adcb1cd471155305d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 248,
            "text": "{\"id\":\"prcl_5b0573d831e14d9d964a2965cd0f1440\",\"object\":\"Parcel\",\"created_at\":\"2022-05-23T22:51:01Z\",\"updated_at\":\"2022-05-23T22:51:01Z\",\"length\":10.0,\"width\":8.0,\"height\":4.0,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "7e75eef9628c0fd5e79a6168000a7f31"
            },
            {
              "name": "location",
              "value": "/api/v2/parcels.prcl_5b0573d831e14d9d964a2965cd0f1440"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"a57f759b6ffb1427b6e894e1defe8877\""
            },
            {
              "name": "x-node",
              "value": "bigweb5nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205232148-f798679516-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb2nuq c51cdb8bf2"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 208,
      },
      {
        "_id": "361decb8676daff724dce48a63a2bceb",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels/prcl_5b0573d831e14d9d964a2965cd0f1440"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType"[...]
