{
  "log": {
    "_recordingName": "Parcel Resource/retrieves a parcel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b25eeccb943253adcb1cd471155305d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 248,
            "text": "{\"id\":\"prcl_0a190690e7f64b42b57e5dfe992cd8ec\",\"object\":\"Parcel\",\"created_at\":\"2022-05-26T22:02:26Z\",\"updated_at\":\"2022-05-26T22:02:26Z\",\"length\":10.0,\"width\":8.0,\"height\":4.0,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3b783bbb628ff8f2e787c49e00111cd1"
            },
            {
              "name": "location",
              "value": "/api/v2/parcels.prcl_0a190690e7f64b42b57e5dfe992cd8ec"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2ed93d3fb698e85df860be94c3742a80\""
            },
            {
              "name": "x-node",
              "value": "bigweb5nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205261913-2cb17df73f-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb2nuq fc4d5d217f"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 226,
      },
      {
        "_id": "889be0ce7cf641cbe418b18b800f8109",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels/prcl_0a190690e7f64b42b57e5dfe992cd8ec"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType"[...]
