{
  "log": {
    "_recordingName": "User Service/creates a child user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eeac783445761852d803b6ce2db060bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test User\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/users"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 532,
            "text": "{\"id\":\"user_de12f50ddecd46459db203fd148c9308\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2024-07-30T16:12:32Z\",\"default_carbon_offset\":false,\"has_elevate_access\":false,\"children\":[],\"api_keys\":[{\"object\":\"ApiKey\",\"key\":\"<REDACTED>\",\"mode\":\"test\",\"created_at\":\"2024-07-30T16:12:32Z\",\"active\":true,\"id\":\"ak_00d2d60edfd84178bcc5c20c75675218\"},{\"object\":\"ApiKey\",\"key\":\"<REDACTED>\",\"mode\":\"production\",\"created_at\":\"2024-07-30T16:12:32Z\",\"active\":true,\"id\":\"ak_583c0cbd7d0841b38fc441a95b9e8cf4\"}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a17066a910efe2b87c5b00357929"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb40nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 760,
      },
      {
        "_id": "f69a9f3a19af78d910c46cd266f5482e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/users/user_de12f50ddecd46459db203fd148c9308"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a16c66a910f0e2b87c5c003579df"
            },
            {
              "name": "x-node",
              "value": "bigweb32nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 172,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
