{
  "log": {
    "_recordingName": "User Service/creates a child user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eeac783445761852d803b6ce2db060bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test User\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/users"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 532,
            "text": "{\"id\":\"user_682f8636470949a285302610ccb96c03\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2023-09-06T17:48:41Z\",\"default_carbon_offset\":false,\"has_elevate_access\":false,\"children\":[],\"api_keys\":[{\"object\":\"ApiKey\",\"key\":\"<REDACTED>\",\"mode\":\"test\",\"created_at\":\"2023-09-06T17:48:41Z\",\"active\":true,\"id\":\"ak_a39d1b07751b44f5b82a2b32f2eafa1f\"},{\"object\":\"ApiKey\",\"key\":\"<REDACTED>\",\"mode\":\"production\",\"created_at\":\"2023-09-06T17:48:41Z\",\"active\":true,\"id\":\"ak_3c5c8d56736740f0ab34f08a12ce1088\"}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "df2a5b8264f8bb79e79b0a5e001d31d5"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d232399eee1f9228480c448fc6c406fc\""
            },
            {
              "name": "x-node",
              "value": "bigweb34nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2bcb349163, extlb1nuq 003ad9bca0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1144,
      },
      {
        "_id": "56dacd8d69d442fc3e4b6968f36ec51f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/users/user_682f8636470949a285302610ccb96c03"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "df2a5b7c64f8bb7ae79b0a5f001d3232"
            },
            {
              "name": "x-node",
              "value": "bigweb42nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2bcb349163, extlb1nuq 003ad9bca0"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 1018,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
