{
  "log": {
    "_recordingName": "Error Service/pulls out error properties of an API error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9549ce6455e0881656f5ef3cf1eca93b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 139,
            "text": "{\"error\":{\"code\":\"PARAMETER.REQUIRED\",\"message\":\"Missing required parameter.\",\"errors\":[{\"field\":\"shipment\",\"message\":\"cannot be blank\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b766a6b8bf9e0e306f403f2b4bd"
            },
            {
              "name": "x-node",
              "value": "bigweb34nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb5nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 413,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
