{
  "log": {
    "_recordingName": "Error Service/pulls out error properties of an API error",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9549ce6455e0881656f5ef3cf1eca93b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 196,
            "text": "{\"error\":{\"code\":\"PARAMETER.REQUIRED\",\"message\":\"Missing required parameter.\",\"errors\":[{\"field\":\"shipment\",\"message\":\"cannot be blank\"}]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "32e015f965690261f41e473900308c5d"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb38nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202311301748-2efb918c5f-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq b3de2c47ef, extlb1nuq 003ad9bca0"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 394,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
