{
  "log": {
    "_recordingName": "ApiKey Service/throws FilteringError when trying to retrieve child user's API keys",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1ef78b842c72a8e0bcddfb20fb8306aa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/api_keys"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 392,
            "text": "{\"id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"keys\":[{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"production\",\"created_at\":\"2022-02-02T20:19:29Z\",\"id\":\"ak_7ad5c167b49e4cd79ed29e0f6e572d78\"},{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"test\",\"created_at\":\"2022-02-28T19:10:59Z\",\"id\":\"ak_72ed963e848048a6936590c5ab3caa0f\"}],\"children\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a06610596df3f5a1c800197a7c"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb32nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 313,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
