{
  "log": {
    "_recordingName": "ApiKey Service/throws FilteringError when trying to retrieve child user's API keys",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1ef78b842c72a8e0bcddfb20fb8306aa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/api_keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1390,
            "text": "{\"id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"keys\":[{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"production\",\"created_at\":\"2022-02-02T20:19:29Z\",\"id\":\"ak_7ad5c167b49e4cd79ed29e0f6e572d78\"},{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"test\",\"created_at\":\"2024-12-30T19:50:39Z\",\"id\":\"ak_8cf2fe656188446780a00d1def20f374\"}],\"children\":[{\"id\":\"user_e1c6edf4711745dcbc8d6a59a64d4729\",\"keys\":[{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"test\",\"created_at\":\"2025-11-17T21:21:11Z\",\"id\":\"ak_e3c00177dea84406ada5e62c8e70e9cc\"},{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"production\",\"created_at\":\"2025-11-17T21:21:11Z\",\"id\":\"ak_d92f89b8f5a14409be83ae16c9f4a0da\"}],\"children\":[]},{\"id\":\"user_f162e5e6fe964660adf29790a4dfd482\",\"keys\":[{\"object\":\"ApiKe[...]
