{
  "log": {
    "_recordingName": "BetaReferralCustomerService/returns a client secret for bank accounts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "25919e1de1ea7fb2a3a25ab8d9f01563",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/financial_connections_sessions"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 65,
            "text": "{\"client_secret\":\"fcsess_client_secret_urzeorbaeALXXpiXraSavWCy\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "66a5ceec6a970bf2e2cc201b01aaab07"
            },
            {
              "name": "x-node",
              "value": "web106azw"
            },
            {
              "name": "x-proxied",
              "value": "intlb1azw 9e5fc37155, extlb3azw afee027586"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202608312207-0e8c86cf17-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 573,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
