{
  "log": {
    "_recordingName": "BetaReferralCustomerService/returns a client secret for bank accounts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fd86d71aec904eeda772e0872fade10b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/financial_connections_sessions"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 112,
            "text": "{\"client_secret\":\"fcsess_client_secret_espPtMl3Ujz0osMjwQ3qggrc\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "51dca88967db24cce788657e00277a16"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb55nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202503182355-b9c2645d96-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 284c5d344a, extlb2nuq 99aac35317"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 671,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
