{
  "log": {
    "_recordingName": "BetaReferralCustomerService/returns a client secret for bank accounts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fd86d71aec904eeda772e0872fade10b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/financial_connections_sessions"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 65,
            "text": "{\"client_secret\":\"fcsess_client_secret_j4Xu997KSVQbgsty7UGQZA4q\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b756a6b8bfce0e3071403f2ba1a"
            },
            {
              "name": "x-node",
              "value": "bigweb42nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 479,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
