{
  "log": {
    "_recordingName": "Report Service/creates a report with additional columns",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "058886267d42d819b8cdd4a60e8b2d22",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"start_date\":\"2026-07-30\",\"end_date\":\"2026-07-30\",\"type\":\"shipment\",\"additional_columns\":[\"from_name\",\"from_company\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shipment"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 795,
            "text": "{\"columns\":\"created_at,id,tracking_code,status,from_address_id,from_name,from_company,from_street1,from_street2,from_city,from_state,from_zip,from_country,from_residential,to_address_id,to_name,to_company,to_street1,to_street2,to_city,to_state,to_zip,to_country,to_residential,parcel_id,length,width,height,weight,predefined_package,postage_label_created_at,rate_id,service,carrier,rate,insured_value,is_return,refund_status,reference,label_fee,postage_fee,insurance_fee,options,usps_zone,from_name,from_company\",\"created_at\":\"2026-07-30T17:44:08Z\",\"end_date\":\"2026-07-30\",\"id\":\"shprep_166fc200601b442b9563db777eb5efa9\",\"include_children\":null,\"mode\":\"test\",\"object\":\"ShipmentReport\",\"start_date\":\"2026-07-30\",\"status\":\"new\",\"updated_at\":null,\"url\":null,\"url_expires_at\":null,\"utc_offset\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b786a6b8d68e0e317fb03f53417"
            },
            {
              "name": "x-node",
              "value": "bigweb53nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 225,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
