{
  "log": {
    "_recordingName": "Report Service/creates a report with additional columns",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "8e523fd9b328c8ef3d405273a69df60d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"type\":\"shipment\",\"additional_columns\":[\"from_name\",\"from_company\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shipment"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 276,
            "text": "{\"id\":\"shprep_9c506e646e764a559d34fec32fde363f\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-08T18:53:51Z\",\"updated_at\":\"2023-02-08T18:53:51Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15b063e3efbee786b7e000037797"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d7394be672ea12cdca479726b6217cda\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 278,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
