{
  "log": {
    "_recordingName": "ReferralCustomer Service/raises an error when adding a bank account from Stripe fails",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6c47ce9872d0c1b20a6d3e22c7b52d12",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"financial_connections_id\":\"fca_0QAc7sDqT4huGUvdf6BahYa9\",\"mandate_data\":{\"ip_address\":\"127.0.0.1\",\"user_agent\":\"Mozilla/5.0\",\"accepted_at\":1722510730},\"priority\":\"primary\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/bank_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 224,
            "text": "{\"error\":{\"code\":\"BANK_ACCOUNT.INVALID_PARAMS\",\"message\":\"account_holder_name must be present when creating a Financial Connections payment method\",\"errors\":[]}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "51dca88967db2a67e788dd3e002f8671"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb42nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202503182355-b9c2645d96-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 284c5d344a, extlb2nuq 99aac35317"
            }
          ],
          "status": 422,
          "statusText": "Unprocessable Entity"
        },
        "time": 269,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
