{
  "log": {
    "_recordingName": "Address Service/verifies an address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7f1e3f418149f02a2ddbf89dbaea2faa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 416,
            "text": "{\"id\":\"adr_05aeaeb14cdd11eea2c4ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:44:26+00:00\",\"updated_at\":\"2023-09-06T17:44:26+00:00\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49c64f8ba7ae79afe6a001cc22a"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_05aeaeb14cdd11eea2c4ac1f6bc539ae"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"65e2ba92f97e4300eee3e46cfdd12531\""
            },
            {
              "name": "x-node",
              "value": "bigweb31nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 442,
      },
      {
        "_id": "6fb15dd4a3645542dc9759f10297a5ab",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses/adr_05aeaeb14cdd11eea2c4ac1f6bc539ae/verify"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 572,
            "text": "{\"address\":{\"id\":\"adr_05f89d8b4cdd11eead9a3cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:44:26+00:00\",\"updated_at\":\"2023-09-06T17:44:26+00:00\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":\"\",\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49d64f8ba7ae79afe82001cc257"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_05f89d8b4cdd11eead9a3cecef1b359e"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"0d3bd604e150854f75cac6aef6fe83eb\""
            },
            {
              "name": "x-node",
              "value": "bigweb33nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 483,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
