{
  "log": {
    "_recordingName": "Batch Resource/retrieves all batches",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "505f8072551c48200e6c5d184847e4f8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/batches?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1767,
            "text": "{\"batches\":[{\"id\":\"batch_5bc930741a924c129caf49490d8771b1\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"creating\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2022-07-29T22:02:40Z\",\"updated_at\":\"2022-07-29T22:02:40Z\",\"scan_form\":null,\"shipments\":[{\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"reference\":null,\"tracking_code\":\"9400100109361130689333\",\"id\":\"shp_55b15f16237448e4911e621fde16d47f\"}],\"status\":{\"created\":0,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":1,\"postage_purchase_failed\":0},\"pickup\":{\"id\":\"pickup_653dbeebd32b41178b2b2af49a5575ed\",\"object\":\"Pickup\",\"created_at\":\"2022-07-29T22:02:40Z\",\"updated_at\":\"2022-07-29T22:02:40Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2022-06-03T00:00:00Z\",\"max_datetime\":\"2022-06-03T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"messages\":[],\"confirmation\":null,\"address\":{\"id\":\"adr_2a5766080f8a11ed9f5bac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-07-29T22:02:40+00:00\",\"updated_at\":\"2022-07-29T22:02:40+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"carrier_accounts\":[],\"pickup_rates\":[]},\"label_url\":null},{\"id\":\"batch_6a44a435a4744a70ae41cfd30338cb58\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"creating\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2022-07-29T22:02:42Z\",\"updated_at\":\"2022-07-29T22:02:42Z\",\"scan_form\":null,\"shipments\":[{\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"reference\":null,\"tracking_code\":\"9400100109361130689340\",\"id\":\"shp_262e5347c98b40d1887a083a74bd4f1a\"}],\"status\":{\"created\":0,\"queued_for_purchase\":0[...]
