{
  "log": {
    "_recordingName": "Batch Resource/retrieves all batches",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eebc20f64d992a5118cc9105d167b560",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/batches?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1880,
            "text": "{\"batches\":[{\"id\":\"batch_a21ff209a3e245c080d6fc0f882dbf50\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"creating\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2022-05-02T23:07:59Z\",\"updated_at\":\"2022-05-02T23:07:59Z\",\"scan_form\":null,\"shipments\":[{\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"reference\":null,\"tracking_code\":\"9400100109361117468616\",\"id\":\"shp_21a9278999284e57a546ed462df40170\"}],\"status\":{\"created\":0,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":1,\"postage_purchase_failed\":0},\"pickup\":{\"id\":\"pickup_e9f67e3771c848c2bce807294bc33dbe\",\"object\":\"Pickup\",\"created_at\":\"2022-05-02T23:07:59Z\",\"updated_at\":\"2022-05-02T23:07:59Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2022-04-22T00:00:00Z\",\"max_datetime\":\"2022-04-22T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"messages\":[],\"confirmation\":null,\"address\":{\"id\":\"adr_b56eb5c2ca6c11ec8c45ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2022-05-02T23:07:59+00:00\",\"updated_at\":\"2022-05-02T23:07:59+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"carrier_accounts\":[],\"pickup_rates\":[]},\"label_url\":null},{\"id\":\"batch_8d66a34a275a4f7d8742aee863893f9e\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"creating\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2022-05-02T23:09:10Z\",\"updated_at\":\"2022-05-02T23:09:10Z\",\"scan_form\":null,\"shipments\":[{\"batch_status\":\"postage_purchased\",\"batch_message\":null,\"reference\":null,\"tracking_code\":\"9400100109361117468661\",\"id\":\"shp_dcbaad51a0b8418ca244a02abec42a54\"}],\"status\":{\"created\":0,\"queued_for_purchase\":0[...]
