{
  "log": {
    "_recordingName": "CustomsInfo Resource/creates a customs info",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5e6a1cc26f10a92363e68b98cf7cce24",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_info\":{\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"contents_type\":\"merchandise\",\"restriction_type\":\"none\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"customs_items\":[{\"description\":\"Sweet shirts\",\"quantity\":2,\"weight\":11,\"value\":23.25,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_infos"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 600,
            "text": "{\"id\":\"cstinfo_db8db8b6de494f54ae78194341718c24\",\"object\":\"CustomsInfo\",\"created_at\":\"2022-08-04T18:54:18Z\",\"updated_at\":\"2022-08-04T18:54:18Z\",\"contents_explanation\":null,\"contents_type\":\"merchandise\",\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"restriction_comments\":null,\"restriction_type\":\"none\",\"mode\":\"test\",\"declaration\":null,\"customs_items\":[{\"id\":\"cstitem_291a63f274de462a93fee6c6b59ff32f\",\"object\":\"CustomsItem\",\"created_at\":\"2022-08-04T18:54:18Z\",\"updated_at\":\"2022-08-04T18:54:18Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "ad6b177a62ec15dae2b8e698000c4345"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_infos/cstinfo_db8db8b6de494f54ae78194341718c24"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"4f0a9dad73831d2341ae23b32e7fae52\""
            },
            {
              "name": "x-node",
              "value": "bigweb6nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208041820-51968cb76d-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb2nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 141,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
