{
  "log": {
    "_recordingName": "CustomsInfo Resource/creates a customs info",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5e6a1cc26f10a92363e68b98cf7cce24",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_info\":{\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"contents_type\":\"merchandise\",\"restriction_type\":\"none\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"customs_items\":[{\"description\":\"Sweet shirts\",\"quantity\":2,\"weight\":11,\"value\":23.25,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_infos"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 600,
            "text": "{\"id\":\"cstinfo_6dab142fd48c4f568d9f182c8cc8119b\",\"object\":\"CustomsInfo\",\"created_at\":\"2022-08-09T15:14:44Z\",\"updated_at\":\"2022-08-09T15:14:44Z\",\"contents_explanation\":null,\"contents_type\":\"merchandise\",\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"restriction_comments\":null,\"restriction_type\":\"none\",\"mode\":\"test\",\"declaration\":null,\"customs_items\":[{\"id\":\"cstitem_7ff6433673b649a8ae864ba6be7610fe\",\"object\":\"CustomsItem\",\"created_at\":\"2022-08-09T15:14:44Z\",\"updated_at\":\"2022-08-09T15:14:44Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "03fa246d62f279e4e2aac1bb00746830"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_infos/cstinfo_6dab142fd48c4f568d9f182c8cc8119b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"81875b506bded73448e5a6f1a97e52a2\""
            },
            {
              "name": "x-node",
              "value": "bigweb3nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb1nuq 9ce216bfac"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 141,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
