{
  "log": {
    "_recordingName": "Shipment Resource/create a carbon offset shipment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7ecaca9e12fdd1caa7501ba338c5174b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"to_address\":{\"name\":\"Dr. Steve Brule\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"dr_steve_brule@gmail.com\"},\"from_address\":{\"name\":\"EasyPost\",\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\"},\"parcel\":{\"length\":20.2,\"width\":10.9,\"height\":5,\"weight\":65.9}},\"carbon_offset\":true}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1766,
            "text": "{\"created_at\":\"2022-07-21T21:38:08Z\",\"is_return\":false,\"messages\":[{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_785407083c0c43b2b74270c7962be6c7\",\"type\":\"rate_error\",\"message\":\"Invalid Access License number\"},{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_37788b00b3df4564a501d743b81236d5\",\"type\":\"rate_error\",\"message\":\"Invalid Access License number\"},{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_52401f808d204a939b7273d0ff2a86d0\",\"type\":\"rate_error\",\"message\":\"Invalid Access License number\"},{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_84eb72b6170b4b9db15419601139c436\",\"type\":\"rate_error\",\"message\":\"Invalid Access License number\"},{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_40a4125ae168494f98c4ab6913740713\",\"type\":\"rate_error\",\"message\":\"Invalid Access License number\"}],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"updated_at\":\"2022-07-21T21:38:08Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_69380a86093d11edb353ac1f6bc7b362\",\"object\":\"Address\",\"created_at\":\"2022-07-21T21:38:08+00:00\",\"updated_at\":\"2022-07-21T21:38:08+00:00\",\"name\":\"EasyPost\",\"company\":null,\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":null,\"order_id\":null,\"parcel\":{\"id\":\"prcl_0f33ddcd0f6447589815e6b913ee49cb\",\"object\":\"Parcel\",\"created_at\":\"2022-07-21T21:38:08Z\",\"updated_at\":\"2022-07-21T21:38:08Z\",\"length\":20.2,\"width\":10.9,\"height\":5,\"predefined_package\":null,\"weight\":65.9,\"mode\":\"test\"},\"postage_label\":null,\"rates\":[{\"id\":\"rate_cf43d21751c041279ebe233e5dc0759a\",\"object\":\"Rate\",\"created_at\":\"2022-07-21T21:38:08Z\",\"updated_at\":\"2022-07-21T21:38:08Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.82\",\"currency\":\"USD\",\"retail_rate\":\"13.15\",\"retail_currency\":\"USD\",\"list_rate\":\"9.82\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_444f56a7b4d64336a9a237b742e9ee8b\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"carbon_offset\":{\"object\":\"CarbonOffset\",\"grams\":154,\"price\":\"0.11\",\"currency\":\"USD\"}},{\"id\":\"rate_3c81348a9e604bac86fdd054948d2a84\",\"object\":\"Rate\",\"created_at\":\"2022-07-21T21:38:08Z\",\"updated_at\":\"2022-07-21T21:38:08Z\",\"mode\":\"test\",\"service\":\"ParcelSelect\",\"carrier\":\"USPS\",\"rate\":\"8.91\",\"currency\":\"USD\",\"retail_rate\":\"8.91\",\"retail_currency\":\"USD\",\"list_rate\":\"8.91\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":5,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":5,\"shipment_id\":\"shp_444f56a7b4d64336a9a237b742e9ee8b\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"carbon_offset\":{\"object\":\"CarbonOffset\",\"grams\":154,\"price\":\"0.11\",\"currency\":\"USD\"}},{\"id\":\"rate_a194f347a017419da58c678db42a6b08\",\"object\":\"Rate\",\"created_at\":\"2022-07-21T21:38:08Z\",\"updated_at\":\"2022-07-21T21:38:08Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"44.30\",\"currency\":\"USD\",\"retail_rate\":\"51.00\",\"retail_currency\":\"USD\",\"list_rate\":\"44.30\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":null,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":null,\"shipment_id\":\"shp_444f56a7b4d64336a9a237b742e9ee8b\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"carbon_offset\":{\"object\":\"CarbonOffset\",\"grams\":154,\"price\":\"0.11\",\"currency\":\"USD\"}}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":null,\"tracker\":null,\"to_address\":{\"id\":\"adr_6936307a093d11ed9a64ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2022-07-21T21:38:08+00:00\",\"updated_at\":\"2022-07-21T21:38:08+00:00\",\"name\":\"Dr. Steve Brule\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"dr_steve_brule@gmail.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_69380a86093d11edb353ac1f6bc7b362\",\"object\":\"Address\",\"created_at\":\"2022-07-21T21:38:08+00:00\",\"updated_at\":\"2022-07-21T21:38:08+00:00\",\"name\":\"EasyPost\",\"company\":null,\"street1\":\"417 Montgomery Street\",\"street2\":\"5th Floor\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94104\",\"country\":\"US\",\"phone\":\"4153334445\",\"email\":\"support@easypost.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_6936307a093d11ed9a64ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2022-07-21T21:38:08+00:00\",\"updated_at\":\"2022-07-21T21:38:08+00:00\",\"name\":\"Dr. Steve Brule\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"8573875756\",\"email\":\"dr_steve_brule@gmail.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"forms\":[],\"fees\":[],\"id\":\"shp_444f56a7b4d64336a9a237b742e9ee8b\",\"object\":\"Shipment\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "61ae037562d9c740e798d10300105f49"
            },
            {
              "name": "location",
              "value": "/api/v2/shipments/shp_444f56a7b4d64336a9a237b742e9ee8b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"5f91096624a59e51fa0fcddedbc37699\""
            },
            {
              "name": "x-node",
              "value": "bigweb5nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202207211838-2796cdef6c-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb1nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 971,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
