{
  "log": {
    "_recordingName": "ApiKey Service/retrieves all apiKeys",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1ef78b842c72a8e0bcddfb20fb8306aa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/api_keys"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 392,
            "text": "{\"id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"keys\":[{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"production\",\"created_at\":\"2022-02-02T20:19:29Z\",\"id\":\"ak_7ad5c167b49e4cd79ed29e0f6e572d78\"},{\"object\":\"ApiKey\",\"active\":true,\"key\":\"<REDACTED>\",\"mode\":\"test\",\"created_at\":\"2022-02-28T19:10:59Z\",\"id\":\"ak_72ed963e848048a6936590c5ab3caa0f\"}],\"children\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15b563e3ef70e786b08700035dcc"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c5b02d0e6175757d982c71e31363fad4\""
            },
            {
              "name": "x-node",
              "value": "bigweb12nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 259,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
