{
  "log": {
    "_recordingName": "Embeddable Service/creates an embeddable session",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b454a3643738e79207d40fc67df8e8e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/users/children?page_size=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 459,
            "text": "{\"children\":[{\"id\":\"user_e1c6edf4711745dcbc8d6a59a64d4729\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2025-11-17T21:21:11Z\"},{\"id\":\"user_f162e5e6fe964660adf29790a4dfd482\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2026-02-02T21:48:46Z\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b766a6b8bfce0e3071b03f2ba8a"
            },
            {
              "name": "x-node",
              "value": "bigweb66nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb5nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 397,
      },
      {
        "_id": "4f3a6b7560300e9dc210502bb554ee63",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"origin_host\":\"https://example.com\",\"user_id\":\"user_e1c6edf4711745dcbc8d6a59a64d4729\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/embeddables/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 135,
            "text": "{\"object\":\"EmbeddablesSession\",\"session_id\":\"Omj-nIfxu9W1fLXm\",\"expires_at\":\"2026-07-30T17:53:05Z\",\"created_at\":\"2026-07-30T17:38:05Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b766a6b8bfce0e3071b03f2bac3"
            },
            {
              "name": "x-node",
              "value": "bigweb65nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 391,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
