{
  "log": {
    "_recordingName": "Embeddable Service/creates an embeddable session",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b454a3643738e79207d40fc67df8e8e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/users/children?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 288,
            "text": "{\"children\":[{\"id\":\"user_e1c6edf4711745dcbc8d6a59a64d4729\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2025-11-17T21:21:11Z\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "56d897ab691b93abe7873c2202c0e3e6"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb57nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202511172009-5a977589c2-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0061e0a2e, extlb2nuq cbbd141214"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 327,
      },
      {
        "_id": "4f3a6b7560300e9dc210502bb554ee63",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"origin_host\":\"https://example.com\",\"user_id\":\"user_e1c6edf4711745dcbc8d6a59a64d4729\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/embeddables/session"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 180,
            "text": "{\"object\":\"EmbeddablesSession\",\"session_id\":\"GnsruAXxnoS9de69\",\"expires_at\":\"2025-11-17T21:44:28Z\",\"created_at\":\"2025-11-17T21:29:28Z\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "56d897ac691b93b7e7873c3a02c0f4a7"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb55nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202511172009-5a977589c2-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0061e0a2e, extlb2nuq cbbd141214"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 409,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
