{
  "log": {
    "_recordingName": "Event Service/retrieves an event",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e4e1116b1b9e0aa9f03f42906cca863",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/events?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 436,
            "text": "{\"events\":[{\"description\":\"batch.updated\",\"id\":\"evt_d29ad02ef38711ee91b20f4763e35961\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2024-04-05T20:05:17.455Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_d18c43acf38711eeabbc0d746b4c0dc2\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2024-04-05T20:05:15.682Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_cf1dc244f38711eea86a071921a88a9f\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2024-04-05T20:05:11.603Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_ce69f070f38711eeaf792dc7494b5ebd\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2024-04-05T20:05:10.424Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.created\",\"id\":\"evt_ce4e87fef38711eea8366972b74490e2\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2024-04-05T20:05:10.245Z\",\"mode\":\"test\",\"object\":\"Event\"}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a566105986f450a92d001997a0"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb42nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 342,
      },
      {
        "_id": "c54643efd700cd63a30cc7816565705d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/events/evt_d29ad02ef38711ee91b20f4763e35961"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 336,
            "text": "{\"description\":\"batch.updated\",\"mode\":\"test\",\"previous_attributes\":{\"state\":\"label_generating\"},\"created_at\":\"2024-04-05T20:05:17.000Z\",\"pending_urls\":[],\"completed_urls\":[],\"updated_at\":\"2024-04-05T20:05:17.000Z\",\"id\":\"evt_d29ad02ef38711ee91b20f4763e35961\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"object\":\"Event\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a066105986f407ba23001997f8"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb42nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 176,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
