{
  "log": {
    "_recordingName": "Event Service/retrieves an event",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e4e1116b1b9e0aa9f03f42906cca863",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/events?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 428,
            "text": "{\"events\":[{\"description\":\"tracker.created\",\"id\":\"evt_1fe7e54e4cdd11ee86060918ef63f8bf\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2023-09-06T17:45:10.183Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"tracker.created\",\"id\":\"evt_1c6b23ea4cdd11ee9b5c4b8cff59d419\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2023-09-06T17:45:04.333Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"tracker.created\",\"id\":\"evt_1bde4bc84cdd11ee880d257cbad4a12a\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2023-09-06T17:45:03.410Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"tracker.created\",\"id\":\"evt_1bb9d2d44cdd11eebdc04d659ac8b2b0\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2023-09-06T17:45:03.171Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"tracker.created\",\"id\":\"evt_1b39c49a4cdd11eebe3157bb4ef07f9f\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2023-09-06T17:45:02.331Z\",\"mode\":\"test\",\"object\":\"Event\"}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49764f8baa9e79b0245001cd20b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"b2c19d00fc0404bafc930e8af43261c5\""
            },
            {
              "name": "x-node",
              "value": "bigweb31nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 699,
      },
      {
        "_id": "911e7d5c847c6bcebba7aceebb1ccfc7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/events/evt_1fe7e54e4cdd11ee86060918ef63f8bf"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 316,
            "text": "{\"description\":\"tracker.created\",\"mode\":\"test\",\"previous_attributes\":{},\"created_at\":\"2023-09-06T17:45:10.000Z\",\"pending_urls\":[],\"completed_urls\":[],\"updated_at\":\"2023-09-06T17:45:10.000Z\",\"id\":\"evt_1fe7e54e4cdd11ee86060918ef63f8bf\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"object\":\"Event\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49764f8baaae79b0246001cd24c"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c89300d49a67cabb4cc3e3ecec86a100\""
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 421,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
