{
  "log": {
    "_recordingName": "Event Service/retrieves an event",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e4e1116b1b9e0aa9f03f42906cca863",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/events?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 432,
            "text": "{\"events\":[{\"description\":\"batch.updated\",\"id\":\"evt_c99a2990a7e111eda8fe63c85a31c987\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2023-02-08T18:52:51.015Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_c8df5a70a7e111edb93d49283dc48b77\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2023-02-08T18:52:49.791Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_c667b1b6a7e111ed883a15f841079524\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2023-02-08T18:52:45.651Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_c5a6ece2a7e111edaab341945ceb59b4\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2023-02-08T18:52:44.388Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.created\",\"id\":\"evt_c58cfb34a7e111ed946619161fbeb792\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2023-02-08T18:52:44.218Z\",\"mode\":\"test\",\"object\":\"Event\"}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15b163e3ef8ce786b43b00036661"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2a259002c8b1638d8c32afd78c1e78a3\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 573,
      },
      {
        "_id": "0a827974bead0face46fe49531a12890",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/events/evt_c99a2990a7e111eda8fe63c85a31c987"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 336,
            "text": "{\"description\":\"batch.updated\",\"mode\":\"test\",\"previous_attributes\":{\"state\":\"label_generating\"},\"created_at\":\"2023-02-08T18:52:51.000Z\",\"pending_urls\":[],\"completed_urls\":[],\"updated_at\":\"2023-02-08T18:52:51.000Z\",\"id\":\"evt_c99a2990a7e111eda8fe63c85a31c987\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"object\":\"Event\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15b063e3ef8de786b43c00036693"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"f1d4081bb987913f02ad32e3b5cc5cfb\""
            },
            {
              "name": "x-node",
              "value": "bigweb7nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 413,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
