{
  "log": {
    "_recordingName": "Report Resource/retrieves a shipment report",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b00ad223dba94d8acb40ff82c3d441b0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"shipment\",\"start_date\":\"2022-08-01\",\"end_date\":\"2022-08-01\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shipment"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 268,
            "text": "{\"id\":\"shprep_14a03c17e5ad4cd781fd1ba84878faf9\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-04T18:59:30Z\",\"updated_at\":\"2022-08-04T18:59:30Z\",\"start_date\":\"2022-08-01\",\"end_date\":\"2022-08-01\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3396dd4662ec1712e2b8f2b5000e2cd1"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6072ca371daff8ea2eee5e00fab82f3c\""
            },
            {
              "name": "x-node",
              "value": "bigweb3nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208041820-51968cb76d-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 403f17ff97, extlb1nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 140,
      },
      {
        "_id": "bd666a96b24f671cd1d8f88f8c3077ec",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shprep_14a03c17e5ad4cd781fd1ba84878faf9"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeTyp[...]
