{
  "log": {
    "_recordingName": "Report Resource/retrieves a shipment report",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bf4a686215791803725d6bdd2a7e0342",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"shipment\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shipment"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 272,
            "text": "{\"id\":\"shprep_c60ba140342445eb8a8e0968b61a4227\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-05-26T22:02:36Z\",\"updated_at\":\"2022-05-26T22:02:36Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3b783bbd628ff8fce787c8be00111fba"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6ba5a4275cd3f0fb420bb24014e50131\""
            },
            {
              "name": "x-node",
              "value": "bigweb3nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205261913-2cb17df73f-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb2nuq fc4d5d217f"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 239,
      },
      {
        "_id": "9595c1348d236aefb08bbcbc1c02a148",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shprep_c60ba140342445eb8a8e0968b61a4227"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeTyp[...]
