{
  "log": {
    "_recordingName": "Pickup Service/retrieves next page of pickups",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "63eab0f4b4e134e3405e3ba296a68110",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/pickups?page_size=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 5789,
            "text": "{\"pickups\":[{\"id\":\"pickup_5bd87b42559346c6abd05c32b1c7e49b\",\"object\":\"Pickup\",\"created_at\":\"2026-07-30T17:37:57Z\",\"updated_at\":\"2026-07-30T17:37:57Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2026-08-01T00:00:00Z\",\"max_datetime\":\"2026-08-01T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"messages\":[],\"confirmation\":null,\"address\":{\"id\":\"adr_670ae28f8c3d11f1965a002248041e50\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:57Z\",\"updated_at\":\"2026-07-30T17:37:57Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"carrier_accounts\":[],\"pickup_rates\":[{\"mode\":\"test\",\"service\":\"NextDay\",\"rate\":\"0.00\",\"currency\":\"USD\",\"created_at\":\"2026-07-30T17:37:58Z\",\"updated_at\":\"2026-07-30T17:37:58Z\",\"carrier\":\"USPS\",\"pickup_id\":\"pickup_5bd87b42559346c6abd05c32b1c7e49b\",\"id\":\"pickuprate_71e8074e82224dcfaee052808d25ced8\",\"object\":\"PickupRate\"}]},{\"id\":\"pickup_a0c10a2d35404d569142bf195cb8b1e0\",\"object\":\"Pickup\",\"created_at\":\"2026-07-30T17:37:55Z\",\"updated_at\":\"2026-07-30T17:37:55Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2026-08-01T00:00:00Z\",\"max_datetime\":\"2026-08-01T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"m[...]
