{
  "log": {
    "_recordingName": "Pickup Service/retrieves next page of pickups",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "63eab0f4b4e134e3405e3ba296a68110",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/pickups?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1367,
            "text": "{\"pickups\":[{\"id\":\"pickup_4bd19ac1ae83426181119ee80a7c35d5\",\"object\":\"Pickup\",\"created_at\":\"2024-04-05T20:05:53Z\",\"updated_at\":\"2024-04-05T20:05:53Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2024-04-08T00:00:00Z\",\"max_datetime\":\"2024-04-08T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"messages\":[],\"confirmation\":null,\"address\":{\"id\":\"adr_e849cc66f38711eeadc6ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:05:53+00:00\",\"updated_at\":\"2024-04-05T20:05:53+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"carrier_accounts\":[],\"pickup_rates\":[{\"mode\":\"test\",\"service\":\"NextDay\",\"rate\":\"0.00\",\"currency\":\"USD\",\"created_at\":\"2024-04-05T20:05:54Z\",\"updated_at\":\"2024-04-05T20:05:54Z\",\"carrier\":\"USPS\",\"pickup_id\":\"pickup_4bd19ac1ae83426181119ee80a7c35d5\",\"id\":\"pickuprate_6b8d504517b74909ad2e42ded034176c\",\"object\":\"PickupRate\"}]},{\"id\":\"pickup_e738a1c84c8e4e74989f32ad93a6abf6\",\"object\":\"Pickup\",\"created_at\":\"2024-04-05T20:05:51Z\",\"updated_at\":\"2024-04-05T20:05:51Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2024-04-08T00:00:00Z\",\"max_datetime\":\"2024-04-08T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"m[...]
