{
  "log": {
    "_recordingName": "Pickup Service/retrieves next page of pickups",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "63eab0f4b4e134e3405e3ba296a68110",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/pickups?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1378,
            "text": "{\"pickups\":[{\"id\":\"pickup_8b5e64e31188482d85539ad05c7818f9\",\"object\":\"Pickup\",\"created_at\":\"2024-07-30T16:11:34Z\",\"updated_at\":\"2024-07-30T16:11:34Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2024-08-01T00:00:00Z\",\"max_datetime\":\"2024-08-01T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"messages\":[],\"confirmation\":null,\"address\":{\"id\":\"adr_6446b66a4e8e11efa691ac1f6bc53342\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:34+00:00\",\"updated_at\":\"2024-07-30T16:11:34+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"carrier_accounts\":[],\"pickup_rates\":[{\"mode\":\"test\",\"service\":\"NextDay\",\"rate\":\"0.00\",\"currency\":\"USD\",\"created_at\":\"2024-07-30T16:11:36Z\",\"updated_at\":\"2024-07-30T16:11:36Z\",\"carrier\":\"USPS\",\"pickup_id\":\"pickup_8b5e64e31188482d85539ad05c7818f9\",\"id\":\"pickuprate_206a63257feb446197cca16d51330e25\",\"object\":\"PickupRate\"}]},{\"id\":\"pickup_8041b276ddba473b91fcd544ae0133c7\",\"object\":\"Pickup\",\"created_at\":\"2024-07-30T16:11:31Z\",\"updated_at\":\"2024-07-30T16:11:31Z\",\"mode\":\"test\",\"status\":\"unknown\",\"reference\":null,\"min_datetime\":\"2024-08-01T00:00:00Z\",\"max_datetime\":\"2024-08-01T00:00:00Z\",\"is_account_address\":false,\"instructions\":\"Pickup at front door\",\"m[...]
