{
  "log": {
    "_recordingName": "Report Resource/creates a report with additional columns",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1a9b0c9ff0765b5fe99873634738f2c9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"shipment\",\"start_date\":\"2022-08-01\",\"end_date\":\"2022-08-01\",\"additional_columns\":[\"from_name\",\"from_company\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shipment"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 272,
            "text": "{\"id\":\"shprep_0e5c17299bf84359a3d419626d7b8a98\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-04T18:59:30Z\",\"updated_at\":\"2022-08-04T18:59:30Z\",\"start_date\":\"2022-08-01\",\"end_date\":\"2022-08-01\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3396dd4562ec1712e2b8f2b4000e2cb9"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"8eb4a1116bf2539b934e3ab70acacf9a\""
            },
            {
              "name": "x-node",
              "value": "bigweb6nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208041820-51968cb76d-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 403f17ff97, extlb1nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 148,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
