{
  "log": {
    "_recordingName": "ScanForm Service/retrieves all scanforms",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9dc15515d98dfb44925bc57024f9353a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/scan_forms?page_size=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4522,
            "text": "{\"scan_forms\":[{\"id\":\"sf_e225bb33196342d6a948e5b5ae4836c3\",\"object\":\"ScanForm\",\"created_at\":\"2026-07-30T17:38:01Z\",\"updated_at\":\"2026-07-30T17:38:01Z\",\"tracking_codes\":[\"9400100208303112554697\"],\"address\":{\"id\":\"adr_68afb7cf8c3d11f182cc0022480b361d\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:38:00Z\",\"updated_at\":\"2026-07-30T17:38:00Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20260730/e80a1427f6c1554a9e8d4cae47cf45c40c.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_01deb1e6a1194280850eaa9fe2fc774b\",\"confirmation\":null},{\"id\":\"sf_1ece501e35bd40b48ab261670823bb5c\",\"object\":\"ScanForm\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:38:00Z\",\"tracking_codes\":[\"9400100208303112554642\"],\"address\":{\"id\":\"adr_67b4978e8c3d11f187dd0022480c5359\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:58Z\",\"updated_at\":\"2026-07-30T17:37:58Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"sta[...]
