{
  "log": {
    "_recordingName": "ScanForm Service/retrieves all scanforms",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dc15515d98dfb44925bc57024f9353a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/scan_forms?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1052,
            "text": "{\"scan_forms\":[{\"id\":\"sf_958cc93272e34b17b810ab73272e8984\",\"object\":\"ScanForm\",\"created_at\":\"2024-07-30T16:10:36Z\",\"updated_at\":\"2024-07-30T16:10:36Z\",\"tracking_codes\":[\"9400100110368068951637\"],\"address\":{\"id\":\"adr_3e74bf494e8e11efa8ddac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:10:31+00:00\",\"updated_at\":\"2024-07-30T16:10:31+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240730/e865bfe9fc7a1d4d0a8470fa873f858f6e.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_2bf90ea3b8cd44b8b4a227fd561ce416\",\"confirmation\":null},{\"id\":\"sf_7f6b4ff737954203921a36b601fb651e\",\"object\":\"ScanForm\",\"created_at\":\"2024-07-30T16:11:59Z\",\"updated_at\":\"2024-07-30T16:11:59Z\",\"tracking_codes\":[\"9400100110368068953112\"],\"address\":{\"id\":\"adr_7253a7ee4e8e11efac40ac1f6bc53342\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:58+00:00\",\"updated_at\":\"2024-07-30T16:11:58+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francis[...]
