{
  "log": {
    "_recordingName": "ScanForm Service/retrieves all scanforms",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dc15515d98dfb44925bc57024f9353a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/scan_forms?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1372,
            "text": "{\"scan_forms\":[{\"id\":\"sf_491f45cb518d4123bdd9e141eacdfee6\",\"object\":\"ScanForm\",\"created_at\":\"2023-09-06T17:39:14Z\",\"updated_at\":\"2023-09-06T17:39:14Z\",\"tracking_codes\":[\"9400100105440258920789\"],\"address\":{\"id\":\"adr_441f00664cdc11eeb990ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:39:01+00:00\",\"updated_at\":\"2023-09-06T17:39:01+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230906/e80d907289564d4f85a74f1bd83b716910.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_5d0610fb58e2463b85e9c0b4d75b11d8\",\"confirmation\":null},{\"id\":\"sf_30e7151ebe414a80bf84147a8063dc8f\",\"object\":\"ScanForm\",\"created_at\":\"2023-09-06T17:40:59Z\",\"updated_at\":\"2023-09-06T17:41:00Z\",\"tracking_codes\":[\"9400100105440258921120\"],\"address\":{\"id\":\"adr_8429c3fc4cdc11ee9ad6ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2023-09-06T17:40:48+00:00\",\"updated_at\":\"2023-09-06T17:40:48+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francis[...]
