{
  "log": {
    "_recordingName": "ScanForm Service/retrieves all scanforms",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dc15515d98dfb44925bc57024f9353a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/scan_forms?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1063,
            "text": "{\"scan_forms\":[{\"id\":\"sf_643ff289ef7143f6a357ef9b0ceef51f\",\"object\":\"ScanForm\",\"created_at\":\"2024-04-05T20:05:08Z\",\"updated_at\":\"2024-04-05T20:05:08Z\",\"tracking_codes\":[\"9400100110322030272076\"],\"address\":{\"id\":\"adr_c9ba0479f38711eeb3d73cecef1b359e\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:05:02+00:00\",\"updated_at\":\"2024-04-05T20:05:02+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240405/e8bf68a73cf4b741a8b6a7c7c35c772cd9.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_6f6d9fa54eb94e958faa2551c07a41a9\",\"confirmation\":null},{\"id\":\"sf_e9414eda6b88427dac46fbe8cbec04e5\",\"object\":\"ScanForm\",\"created_at\":\"2024-04-05T20:06:17Z\",\"updated_at\":\"2024-04-05T20:06:18Z\",\"tracking_codes\":[\"9400100110322030272366\"],\"address\":{\"id\":\"adr_f5f41ef8f38711eebeb9ac1f6bc53342\",\"object\":\"Address\",\"created_at\":\"2024-04-05T20:06:16+00:00\",\"updated_at\":\"2024-04-05T20:06:16+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francis[...]
