{
  "log": {
    "_recordingName": "ScanForm Service/retrieves all scanforms",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dc15515d98dfb44925bc57024f9353a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/scan_forms?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1347,
            "text": "{\"scan_forms\":[{\"id\":\"sf_cb3e66a11693480bb2e11eb906a392ce\",\"object\":\"ScanForm\",\"created_at\":\"2023-02-08T19:56:45Z\",\"updated_at\":\"2023-02-08T19:56:46Z\",\"tracking_codes\":[\"9400100104262179071699\"],\"address\":{\"id\":\"adr_b63ca411a7ea11eda7d0ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2023-02-08T19:56:43+00:00\",\"updated_at\":\"2023-02-08T19:56:43+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230208/2f8f595246994c2c8b62737bb840373a.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_8aefd25fde3e4736902cad9a56cba6ce\",\"confirmation\":null},{\"id\":\"sf_96517908dfd64037864ba3baa05ee31f\",\"object\":\"ScanForm\",\"created_at\":\"2023-02-08T19:56:43Z\",\"updated_at\":\"2023-02-08T19:56:43Z\",\"tracking_codes\":[\"9400100104262179071682\"],\"address\":{\"id\":\"adr_b510ac44a7ea11eda1b4ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2023-02-08T19:56:42+00:00\",\"updated_at\":\"2023-02-08T19:56:42+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francis[...]
