{
  "log": {
    "_recordingName": "Address Service/creates an address with verify_strict param",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "dd1cfb17f3cff46a89c25b053eeabfd0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"verify_strict\":true,\"address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 631,
            "text": "{\"id\":\"adr_650956fb8c3d11f1855f0022480c5359\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:54Z\",\"updated_at\":\"2026-07-30T17:37:54Z\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":\"\",\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8448,\"longitude\":-118.39278,\"time_zone\":\"America/Los_Angeles\"}}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_650956fb8c3d11f1855f0022480c5359"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b766a6b8bf2e0e306b103f2a6de"
            },
            {
              "name": "x-node",
              "value": "bigweb65nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 193,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
