{
  "log": {
    "_recordingName": "PaymentMethod Resource/retrieves all payment methods",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "71ace4456439a9a0117303fa79616cec",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/payment_methods"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 332,
            "text": "{\"id\":\"cust_2261a5b9801d4877b7a6774a4beb06d9\",\"object\":\"PaymentMethods\",\"primary_payment_method\":{\"id\":\"card_ba9f3d54d1b24708859396b1e7c2ddc8\",\"disabled_at\":null,\"object\":\"CreditCard\",\"name\":null,\"last4\":\"6170\",\"exp_month\":5,\"exp_year\":2028,\"brand\":\"Visa\"},\"secondary_payment_method\":{\"id\":\"card_24c7774bc7af400a98db4c13d73cd038\",\"disabled_at\":null,\"object\":\"CreditCard\",\"name\":null,\"last4\":\"6170\",\"exp_month\":5,\"exp_year\":2028,\"brand\":\"Visa\"}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "f5a1f04a6298e8faff14802900d5ef1f"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"49b03c9201f6883f588771f630feaa7f\""
            },
            {
              "name": "x-node",
              "value": "bigweb4nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206020045-73e51fcbbc-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq 0910011e7e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1683,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
