{
  "log": {
    "_recordingName": "SmartRate Service/recommend ship date",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "1d53c423f323f433cd011febbc588eff",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_zip\":\"94107\",\"to_zip\":\"90277\",\"desired_delivery_date\":\"2026-08-03\",\"carriers\":[\"USPS\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/smartrate/deliver_on"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2646,
            "text": "{\"carriers_without_tint_estimates\":null,\"desired_delivery_date\":\"2026-08-03\",\"from_zip\":\"94107\",\"results\":[{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":4,\"percentile_75\":4,\"percentile_85\":5,\"percentile_90\":5,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":6},\"delivery_date_confidence\":0.79,\"estimated_transit_days\":4,\"ship_on_date\":\"2026-07-30\"},\"service\":\"dhlparcelexpedited\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":4,\"percentile_75\":5,\"percentile_85\":5,\"percentile_90\":5,\"percentile_95\":5,\"percentile_97\":6,\"percentile_99\":7},\"delivery_date_confidence\":0.63,\"estimated_transit_days\":4,\"ship_on_date\":\"2026-07-30\"},\"service\":\"dhlparcelground\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":1,\"percentile_75\":3,\"percenti[...]
