{
  "log": {
    "_recordingName": "SmartRate Service/recommend ship date",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5527f0f3396978eb5f67788110baf597",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_zip\":\"94107\",\"to_zip\":\"90277\",\"desired_delivery_date\":\"2024-08-03\",\"carriers\":[\"USPS\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/smartrate/deliver_on"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 512,
            "text": "{\"carriers_without_tint_estimates\":null,\"desired_delivery_date\":\"2024-08-03\",\"from_zip\":\"94107\",\"results\":[{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":1,\"percentile_75\":3,\"percentile_85\":3,\"percentile_90\":3,\"percentile_95\":4,\"percentile_97\":4,\"percentile_99\":7},\"delivery_date_confidence\":0.57,\"estimated_transit_days\":1,\"ship_on_date\":\"2024-08-02\"},\"service\":\"express\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":3,\"percentile_75\":3,\"percentile_85\":3,\"percentile_90\":5,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":7},\"delivery_date_confidence\":0.49,\"estimated_transit_days\":3,\"ship_on_date\":\"2024-07-31\"},\"service\":\"groundadvantage\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":2,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":4,\"percentile_97\":5,\"percentile_99\":8},\"delivery_date_confidence\":0.53,\"estimated_transit_days\":2,\"ship_on_date\":\"2024-08-01\"},\"service\":\"librarymail\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":2,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":8},\"delivery_date_confidence\":0.49,\"estimated_transit_days\":2,\"ship_on_date\":\"2024-08-01\"},\"service\":\"mediamail\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":3,\"percentile_75\":3,\"percentile_85\":3,\"percentile_90\":5,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":7},\"delivery_date_confidence\":0.51,\"estimated_transit_days\":3,\"ship_on_date\":\"2024-07-31\"},\"service\":\"priority\"}],\"saturday_delivery\":null,\"to_zip\":\"90277\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a17166a910ede2b87c3c00357758"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb53nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 182,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
