{
  "log": {
    "_recordingName": "SmartRate Service/recommend ship date",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3892af501b06929c997d6d894396b2d3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"from_zip\":\"94107\",\"to_zip\":\"90277\",\"desired_delivery_date\":\"2024-07-14\",\"carriers\":[\"USPS\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/smartrate/deliver_on"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 460,
            "text": "{\"carriers_without_tint_estimates\":null,\"desired_delivery_date\":\"2024-07-14\",\"from_zip\":\"94107\",\"results\":[{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":2,\"percentile_75\":3,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":7},\"delivery_date_confidence\":0.02,\"estimated_transit_days\":1,\"ship_on_date\":\"2024-07-13\"},\"service\":\"express\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":4,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":8},\"delivery_date_confidence\":0,\"estimated_transit_days\":3,\"ship_on_date\":\"2024-07-11\"},\"service\":\"groundadvantage\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":4,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":7},\"delivery_date_confidence\":0,\"estimated_transit_days\":3,\"ship_on_date\":\"2024-07-11\"},\"service\":\"librarymail\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":4,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":8},\"delivery_date_confidence\":0,\"estimated_transit_days\":3,\"ship_on_date\":\"2024-07-11\"},\"service\":\"mediamail\"},{\"carrier\":\"USPS\",\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":4,\"percentile_75\":4,\"percentile_85\":4,\"percentile_90\":4,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":7},\"delivery_date_confidence\":0,\"estimated_transit_days\":3,\"ship_on_date\":\"2024-07-11\"},\"service\":\"priority\"}],\"saturday_delivery\":null,\"to_zip\":\"90277\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b8e53c2066904aa9f40a846c00331f24"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb35nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407111940-3cb16a3462-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq fa152d4755, extlb2nuq fa152d4755"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 213,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
