{
  "log": {
    "_recordingName": "Pickup Service/cancels a pickup",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "0e8a36bf9911f9473993492b09d56cb4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4},\"service\":\"GroundAdvantage\",\"carrier_accounts\":[\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"],\"carrier\":\"USPS\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 2198,
            "text": "{\"created_at\":\"2024-07-30T16:11:41Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9400100110368068952917\",\"updated_at\":\"2024-07-30T16:11:42Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_685875224e8e11efbdb0ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:41+00:00\",\"updated_at\":\"2024-07-30T16:11:41+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"50.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_1dd330567bed4461a42b50eb8d08a224\",\"object\":\"Parcel\",\"created_at\":\"2024-07-30T16:11:41Z\",\"updated_at\":\"2024-07-30T16:11:41Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_41e4dc796705409094aa7847bfbf39e9\",\"created_at\":\"2024-07-30T16:11:42Z\",\"updated_at\":\"2024-07-30T16:11:42Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2024-07-30T16:11:42Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240730/e8eddcfb2e9dc44689a61efc82c740c04c.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_9ffe4feb50524a0189cbcfb7e946d3c2\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:11:41Z\",\"updated_at\":\"2024-07-30T16:11:41Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"6.90\",\"currency\":\"USD\",\"retail_rate\":\"9.80\",\"retail_currency\":\"USD\",\"list_rate\":\"8.25\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_3e46729ec9c044939d326baf213ab3d5\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_20db5ab6a89f4f1c8d1c1a2fa801f493\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:11:41Z\",\"updated_at\":\"2024-07-30T16:11:41Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"5.93\",\"currency\":\"USD\",\"retail_rate\":\"8.45\",\"retail_currency\":\"USD\",\"list_rate\":\"6.40\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":3,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":3,\"shipment_id\":\"shp_3e46729ec9c044939d326baf213ab3d5\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_8ea9ebe2353b45ea9ba6055e2d6ec763\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:11:41Z\",\"updated_at\":\"2024-07-30T16:11:41Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"33.10\",\"currency\":\"USD\",\"retail_rate\":\"37.90\",\"retail_currency\":\"USD\",\"list_rate\":\"33.10\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_3e46729ec9c044939d326baf213ab3d5\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":{\"id\":\"rate_20db5ab6a89f4f1c8d1c1a2fa801f493\",\"object\":\"Rate\",\"created_at\":\"2024-07-30T16:11:42Z\",\"updated_at\":\"2024-07-30T16:11:42Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"5.93\",\"currency\":\"USD\",\"retail_rate\":\"8.45\",\"retail_currency\":\"USD\",\"list_rate\":\"6.40\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":3,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":3,\"shipment_id\":\"shp_3e46729ec9c044939d326baf213ab3d5\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},\"tracker\":{\"id\":\"trk_f494d87ceeef48efb36ddf6b00e22e24\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100110368068952917\",\"status\":\"unknown\",\"status_detail\":\"unknown\",\"created_at\":\"2024-07-30T16:11:42Z\",\"updated_at\":\"2024-07-30T16:11:42Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":null,\"shipment_id\":\"shp_3e46729ec9c044939d326baf213ab3d5\",\"carrier\":\"USPS\",\"tracking_details\":[],\"fees\":[],\"carrier_detail\":null,\"public_url\":\"https://track.easypost.com/djE6dHJrX2Y0OTRkODdjZWVlZjQ4ZWZiMzZkZGY2YjAwZTIyZTI0\"},\"to_address\":{\"id\":\"adr_6855ce1b4e8e11ef8520ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:41+00:00\",\"updated_at\":\"2024-07-30T16:11:41+00:00\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":\"\",\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_685875224e8e11efbdb0ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:41+00:00\",\"updated_at\":\"2024-07-30T16:11:41+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_6855ce1b4e8e11ef8520ac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-07-30T16:11:41+00:00\",\"updated_at\":\"2024-07-30T16:11:41+00:00\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":\"\",\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":false,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":33.8436,\"longitude\":-118.39177,\"time_zone\":\"America/Los_Angeles\"}}}},\"forms\":[],\"fees\":[{\"object\":\"Fee\",\"type\":\"LabelFee\",\"amount\":\"0.00000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"PostageFee\",\"amount\":\"5.93000\",\"charged\":true,\"refunded\":false},{\"object\":\"Fee\",\"type\":\"InsuranceFee\",\"amount\":\"0.50000\",\"charged\":true,\"refunded\":false}],\"id\":\"shp_3e46729ec9c044939d326baf213ab3d5\",\"object\":\"Shipment\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a16e66a910bde2b8781d00354890"
            },
            {
              "name": "location",
              "value": "/api/v2/shipments/shp_3e46729ec9c044939d326baf213ab3d5"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1282,
      },
      {
        "_id": "d3215adb8db5a2d610e095285af629aa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"pickup\":{\"address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"min_datetime\":\"2024-08-01\",\"max_datetime\":\"2024-08-01\",\"instructions\":\"Pickup at front door\",\"shipment\":{\"created_at\":\"2024-07-30T16:11:41Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9400100110368068952917\",\"updated_at\":\"2024-07-30T16:11:42Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_685875224e8e11efbdb0ac1f6bc539aa\",\[...]
