{
  "log": {
    "_recordingName": "CarrierAccount Resource/retrieves all carrier accounts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f11dc6684aeaeffe92e8365e08cda36e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1000,
            "text": "[{\"id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"object\":\"CarrierAccount\",\"type\":\"UspsAccount\",\"clone\":false,\"created_at\":\"2022-02-02T20:19:29Z\",\"updated_at\":\"2022-03-09T19:19:26Z\",\"description\":\"USPS Account\",\"reference\":null,\"billing_type\":\"easypost\",\"readable\":\"USPS\",\"logo\":null,\"fields\":{\"credentials\":{\"company_name\":{\"visibility\":\"visible\",\"label\":\"Account Holder Name\",\"value\":\"\"},\"address_street\":{\"visibility\":\"visible\",\"label\":\"Street Address\",\"value\":\"\"},\"address_city\":{\"visibility\":\"visible\",\"label\":\"City\",\"value\":\"\"},\"address_state\":{\"visibility\":\"visible\",\"label\":\"State\",\"value\":\"\"},\"address_zip\":{\"visibility\":\"visible\",\"label\":\"ZIP Code\",\"value\":\"\"},\"phone\":{\"visibility\":\"visible\",\"label\":\"Phone Number\",\"value\":\"\"},\"email\":{\"visibility\":\"visible\",\"label\":\"Email Address\",\"value\":null},\"shipper_id\":{\"visibility\":\"visible\",\"label\":\"Shipper Identifier (Optional)\",\"value\":\"\"}}},\"credentials\":{\"company_name\":\"\",\"address_street\":\"\",\"address_city\":\"\",\"address_state\":\"\",\"address_zip\":\"\",\"phone\":\"\",\"email\":null,\"shipper_id\":\"\"},\"test_credentials\":null},{\"id\":\"ca_9b8143142a4940459a8e14396bf574f9\",\"object\":\"CarrierAccount\",\"type\":\"DhlExpressDefaultAccount\",\"clone\":false,\"created_at\":\"2022-02-02T20:19:29Z\",\"updated_at\":\"2022-02-02T20:19:29Z\",\"description\":\"DHL Express Account\",\"reference\":null,\"billing_type\":\"easypost\",\"readable\":\"DHL Express\",\"logo\":null,\"fields\":{\"credentials\":{}},\"credentials\":{},\"test_credentials\":null},{\"id\":\"ca_bae108e31bab4062b7620c75cffad67f\",\"object\":\"CarrierAccount\",\"type\":\"LsoDefaultAccount\",\"clone\":false,\"created_at\":\"2022-02-02T20:19:29Z\",\"updated_at\":\"2022-02-02T20:19:29Z\",\"description\":\"LSO Account\",\"reference\":null,\"billing_type\":\"easypost\",\"readable\":\"LSO\",\"logo\":null,\"fields\":{\"credentials\":{}},\"credentials\":{},\"test_credentials\":null},{\"id\":\"ca_40a4125ae168494f98c4ab6913740713\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"created_at\":\"2022-05-25T22:18:06Z\",\"updated_at\":\"2022-05-25T22:18:07Z\",\"description\":\"My custom description\",\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"UPS\",\"logo\":null,\"fields\":{\"credentials\":{\"account_number\":{\"visibility\":\"readonly\",\"label\":\"UPS Account Number\",\"value\":\"A1A1A1\"}}},\"credentials\":{\"account_number\":\"A1A1A1\"},\"test_credentials\":null},{\"id\":\"ca_84eb72b6170b4b9db15419601139c436\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"created_at\":\"2022-05-25T22:23:35Z\",\"updated_at\":\"2022-05-25T22:23:35Z\",\"description\":\"UPS Account\",\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"UPS\",\"logo\":null,\"fields\":{\"credentials\[...]
