{
  "log": {
    "_recordingName": "User Resource/deletes a user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eeac783445761852d803b6ce2db060bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test User\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/users"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 516,
            "text": "{\"id\":\"user_a63de4321f7f4e27bd5eb59b7be42e77\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-10-07T16:27:50Z\",\"default_carbon_offset\":false,\"children\":[],\"api_keys\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "895bf83263405386e2b7ded30012f9be"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"d945428f29f25ca4c8751016639c348b\""
            },
            {
              "name": "x-node",
              "value": "bigweb8nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210062334-76175f429e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb1nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 972,
      },
      {
        "_id": "5efcc67a4bc19550a162d2712b96bf3d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/users/user_a63de4321f7f4e27bd5eb59b7be42e77"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "895bf83263405387e2b7ded40012fa0f"
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210062334-76175f429e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, extlb1nuq 29913d444b"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 325,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
