{
  "log": {
    "_recordingName": "CarrierAccount Service/updates a UPS carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "51110e81f98cbbcf36e02d92b319e601",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account_oauth_registrations\":{\"type\":\"UpsAccount\",\"account_number\":\"123456789\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/register_oauth"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 892,
            "text": "{\"id\":\"ca_8a327077162d441cb4f5073cf4ba1ca6\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"created_at\":\"2025-05-23T19:41:13Z\",\"updated_at\":\"2025-05-23T19:41:13Z\",\"description\":null,\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"UPS\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6ae239356830cf59e7875120008fa793"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb34nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202505231841-d89645a184-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 668d3fc830, extlb2nuq 99aac35317"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 420,
      },
      {
        "_id": "78e5eb7356afeda24e761589f91357db",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"account_number\":\"987654321\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_8a327077162d441cb4f5073cf4ba1ca6"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 892,
            "text": "{\"id\":\"ca_8a327077162d441cb4f5073cf4ba1ca6\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"create[...]
