{
  "log": {
    "_recordingName": "CarrierAccount Service/updates a UPS carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "01fee270a4fb0bcbc78e2c11416157cc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ups_oauth_registrations\":{\"type\":\"UpsAccount\",\"account_number\":\"123456789\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/ups_oauth_registrations"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 872,
            "text": "{\"id\":\"ca_8b71f2a511ee41c0a939859c2f3894fc\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"created_at\":\"2024-07-30T16:10:48Z\",\"updated_at\":\"2024-07-30T16:10:48Z\",\"description\":null,\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"UPS\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a16c66a91088e2b873fc003515c9"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb38nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 205,
      },
      {
        "_id": "9d366268890bceee6f5c330a590e5b54",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_8b71f2a511ee41c0a939859c2f3894fc"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mi[...]
