{
  "log": {
    "_recordingName": "CarrierAccount Service/updates a UPS carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "01fee270a4fb0bcbc78e2c11416157cc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ups_oauth_registrations\":{\"type\":\"UpsAccount\",\"account_number\":\"123456789\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/ups_oauth_registrations"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 876,
            "text": "{\"id\":\"ca_f7a7a4ce171c47399ffe62de4b8cab6f\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"created_at\":\"2024-07-09T21:51:58Z\",\"updated_at\":\"2024-07-09T21:51:58Z\",\"description\":null,\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"UPS\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f7ff674668db0fef42c736c0030c425"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb42nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407092027-324ee50b5a-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq fa152d4755, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 220,
      },
      {
        "_id": "de02fc43b52fe4f43c2da5678fcf2129",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_f7a7a4ce171c47399ffe62de4b8cab6f"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mi[...]
