{
  "log": {
    "_recordingName": "EndShipper Resource/retrieves an EndShipper object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5cdb349a4f1f26ba190b7527466ac887",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"test@example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/end_shippers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "{\"id\":\"es_fd96fcd7a5264c26a1aee19b2e7e3073\",\"object\":\"EndShipper\",\"created_at\":\"2022-08-24T21:07:17+00:00\",\"updated_at\":\"2022-08-24T21:07:17+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":\"\",\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "7605edc163069305f7cd35bb0079b955"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"e449d584b7664e48fd75cec0bb4e6a9c\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208241853-b300c23ebd-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 6aa9972c1e, intlb1wdc 6aa9972c1e, extlb4wdc 9ce216bfac"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 348,
      },
      {
        "_id": "34428ab195dab74e2b0b710d867f5f40",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/end_shippers/es_fd96fcd7a5264c26a1aee19b2e7e3073"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeTy[...]
