{
  "log": {
    "_recordingName": "CarrierAccount Resource/retrieves a carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1f1143bec068c03dcfacefcac4771057",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"type\":\"DhlEcsAccount\",\"credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"},\"test_credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 544,
            "text": "{\"id\":\"ca_011e2553aa434f268c4d01ce4ffb6820\",\"object\":\"CarrierAccount\",\"type\":\"DhlEcsAccount\",\"clone\":false,\"created_at\":\"2022-10-11T21:07:57Z\",\"updated_at\":\"2022-10-11T21:07:57Z\",\"description\":\"DHL eCommerce Solutions Account\",\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"DHL eCommerce Solutions\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "c8debaea6345db2de788e12300035d26"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"a0494fab5c8a90ee03fd8ffbcc6d79d9\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210112015-9b4b59a6bc-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 337,
      },
      {
        "_id": "b33efb1ea3c579da9f9e15fa5251a831",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_011e2553aa434f268c4d01ce4ffb6820"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mi[...]
