{
  "log": {
    "_recordingName": "CarrierAccount Resource/retrieves a carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1f1143bec068c03dcfacefcac4771057",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"type\":\"DhlEcsAccount\",\"credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"},\"test_credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 548,
            "text": "{\"id\":\"ca_f54149c29bd04905a80623950568d81a\",\"object\":\"CarrierAccount\",\"type\":\"DhlEcsAccount\",\"clone\":false,\"created_at\":\"2022-10-07T16:27:45Z\",\"updated_at\":\"2022-10-07T16:27:45Z\",\"description\":\"DHL eCommerce Solutions Account\",\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"DHL eCommerce Solutions\",\"logo\":null,\"fields\":{\"credentials\":{\"client_id\":{\"visibility\":\"visible\",\"label\":\"DHL eCommerce Solutions client ID\",\"value\":\"123456\"},\"client_secret\":{\"visibility\":\"password\",\"label\":\"DHL eCommerce Solutions client secret\",\"value\":\"********\"},\"pickup_id\":{\"visibility\":\"visible\",\"label\":\"DHL eCommerce Solutions pickup ID\",\"value\":\"123456\"},\"distribution_center\":{\"visibility\":\"visible\",\"label\":\"DHL eCommerce Solutions distribution center\",\"value\":\"USLAX1\"}},\"test_credentials\":{\"client_id\":{\"visibility\":\"visible\",\"label\[...]
