{
  "log": {
    "_recordingName": "Batch Resource/creates a batch",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "107334a70bc3bc7beeb3281e7d95f33e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"batch\":{\"shipments\":[{\"to_address\":{\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"phone\":\"5555555555\"},\"from_address\":{\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4},\"service\":\"First\",\"carrier_accounts\":[\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"],\"carrier\":\"USPS\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/batches"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 328,
            "text": "{\"id\":\"batch_e31b1b84d6464d41af44967338b46e82\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"creating\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2022-05-23T22:43:04Z\",\"updated_at\":\"2022-05-23T22:43:04Z\",\"scan_form\":null,\"shipments\":[],\"status\":{\"created\":0,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":0,\"postage_purchase_failed\":0},\"pickup\":null,\"label_url\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "79329042628c0df8e799fb0b000b4c06"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"abbf5a90b22d4b19f67557f801a18898\""
            },
            {
              "name": "x-node",
              "value": "bigweb4nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205232148-f798679516-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb1nuq c51cdb8bf2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
