{
  "log": {
    "_recordingName": "EndShipper Resource/retrieves all EndShipper objects",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a16a9832308f9de7b7929f132ace892e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/end_shippers?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 596,
            "text": "{\"end_shippers\":[{\"id\":\"es_1c5d0739799f408e9943383c639b30f2\",\"object\":\"EndShipper\",\"created_at\":\"2022-05-17T23:43:19+00:00\",\"updated_at\":\"2022-05-17T23:43:19+00:00\",\"name\":\"JACK SPARROW\",\"company\":\"EASYPOST\",\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"TEST@EXAMPLE.COM\"},{\"id\":\"es_e591f790ddeb497a9469eb9104d9a90b\",\"object\":\"EndShipper\",\"created_at\":\"2022-05-17T23:43:19+00:00\",\"updated_at\":\"2022-05-17T23:43:19+00:00\",\"name\":\"JACK SPARROW\",\"company\":\"EASYPOST\",\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"TEST@EXAMPLE.COM\"},{\"id\":\"es_3e5d2c14d0c24434b2809058fe9bf764\",\"object\":\"End[...]
