{
  "log": {
    "_recordingName": "EndShipper Resource/retrieves all EndShipper objects",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a16a9832308f9de7b7929f132ace892e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/end_shippers?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 516,
            "text": "{\"end_shippers\":[{\"id\":\"es_9b6451b40b6a4e67bef56824ef7a089b\",\"object\":\"EndShipper\",\"mode\":\"test\",\"created_at\":\"2022-10-05T20:01:37+00:00\",\"updated_at\":\"2022-10-05T20:01:37+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"TEST@EXAMPLE.COM\"},{\"id\":\"es_ae165c7294b444df93f3168bfa256da7\",\"object\":\"EndShipper\",\"mode\":\"test\",\"created_at\":\"2022-10-11T19:09:18+00:00\",\"updated_at\":\"2022-10-11T19:09:18+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"TEST@EXAMPLE.COM\"},{\"id\":\"es_196eb0fb66d24f7c8b1265c9692c39f7\",\"object\":\"EndShipper\",\"mode\":\"test\",\"created_at\":\"2022-10-11T19:09:18+00:00\",\"updated_at\":\"2022-10-11T19:09:18+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"TEST@EXAMPLE.COM\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "a9571b196345bf5fe788513f00248be7"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"6338fce498b767f17bc7a3bd159e1f93\""
            },
            {
              "name": "x-node",
              "value": "bigweb3nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210111824-2b8ab2303a-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, extlb1nuq 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 760,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
