{
  "log": {
    "_recordingName": "EndShipper Resource/retrieves all EndShipper objects",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "12a1ee10134358a240c25a777fc9aa8a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/beta/end_shippers?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 588,
            "text": "[{\"id\":\"es_5a876db42a344ddbab7b568810a4aac6\",\"object\":\"EndShipper\",\"created_at\":\"2022-05-16T18:57:41+00:00\",\"updated_at\":\"2022-05-16T18:57:41+00:00\",\"name\":\"JACK SPARROW\",\"company\":\"EASYPOST\",\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\"},{\"id\":\"es_28341b31d8994ec8b60c520e248bcbf9\",\"object\":\"EndShipper\",\"created_at\":\"2022-05-16T18:58:16+00:00\",\"updated_at\":\"2022-05-16T18:58:16+00:00\",\"name\":\"JACK SPARROW\",\"company\":\"EASYPOST\",\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\"},{\"id\":\"es_e716a9de24ff44deb3d488384f5096b7\",\"object\":\"EndShipper\",\"[...]
