{
  "log": {
    "_recordingName": "EndShipper Service/retrieves an EndShipper object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "654d6ade30c8c3521fb28c56e8ab452d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/end_shippers"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 350,
            "text": "{\"id\":\"es_b6971a9e4ced4fdebe71f02f93026c54\",\"object\":\"EndShipper\",\"mode\":\"test\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"name\":\"ELIZABETH SWAN\",\"company\":null,\"street1\":\"179 N HARBOR DR\",\"street2\":\"\",\"city\":\"REDONDO BEACH\",\"state\":\"CA\",\"zip\":\"90277-2506\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b796a6b8bf7e0e306f103f2b12d"
            },
            {
              "name": "x-node",
              "value": "bigweb35nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 182,
      },
      {
        "_id": "8ef62f1ad78ae35e217f11414ac597ca",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/end_shippers/es_b6971a9e4ced4fdebe71f02f93026c54"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=ut[...]
