{
  "log": {
    "_recordingName": "Webhook Service/updates a webhook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b24db32e32579b942c0339426601968e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"url\":\"http://example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 216,
            "text": "{\"id\":\"hook_fe5b4650ee2011ef9d9877e98563bc8f\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2025-02-18T17:51:35Z\",\"disabled_at\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "83524fdf67b4c8a6e7874127001855c7"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb36nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202502142320-7e87f21aad-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 51d74985a2, extlb2nuq 99aac35317"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 427,
      },
      {
        "_id": "b923d67d670e72b76b11c09ff8234047",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"webhook_secret\":\"sécret\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks/hook_fe5b4650ee2011ef9d9877e98563bc8f"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 216,
            "text": "{\"id\":\"hook_fe5b4650ee2011ef9d9877e98563bc8f\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2025-02-18T17:51[...]
