{
  "log": {
    "_recordingName": "Webhook Service/updates a webhook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b24db32e32579b942c0339426601968e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"url\":\"http://example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 216,
            "text": "{\"id\":\"hook_0ca77594a7e211ed8daa755795c7b78b\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2023-02-08T18:54:44Z\",\"disabled_at\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15af63e3eff3e786b90900038a3c"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c9b0b0516044d931b5718a3902ed5722\""
            },
            {
              "name": "x-node",
              "value": "bigweb12nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 541,
      },
      {
        "_id": "f8c23a68c3a67a5192fdff193a9a823f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks/hook_0ca77594a7e[...]
