{
  "log": {
    "_recordingName": "Webhook Service/updates a webhook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b24db32e32579b942c0339426601968e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"url\":\"http://example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 181,
            "text": "{\"id\":\"hook_67dcf84c8c3d11f1bac571d9afe49eb4\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2026-07-30T17:37:59Z\",\"disabled_at\":null,\"custom_headers\":[]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b776a6b8bf6e0e306d503f2af35"
            },
            {
              "name": "x-node",
              "value": "bigweb53nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 171,
      },
      {
        "_id": "f1d02d3436e6238d39d3f46cb15550ec",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook_secret\":\"sécret\",\"custom_headers\":[{\"name\":\"test\",\"value\":\"header\"}]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks/hook_67dcf84c8c3d11f1bac571d9afe49eb4"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 213,
            "text": "{\"id\":\"hook_67dcf84c8c3d11f1bac571d9afe49eb4\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"crea[...]
