{
  "log": {
    "_recordingName": "Webhook Service/updates a webhook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b24db32e32579b942c0339426601968e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"url\":\"http://example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 232,
            "text": "{\"id\":\"hook_7210da58eef111efb97859b66c79d9d1\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2025-02-19T18:43:44Z\",\"disabled_at\":null,\"custom_headers\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "4b64bb5467b6265fe2b8f7b50007d40b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb56nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202502191732-9cdc8ea15b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 51d74985a2, extlb1nuq 99aac35317"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 317,
      },
      {
        "_id": "da253ae2af58f9c7d754a641a3314e8f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PATCH",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook_secret\":\"sécret\",\"custom_headers\":[{\"name\":\"test\",\"value\":\"header\"}]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks/hook_7210da58eef111efb97859b66c79d9d1"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 256,
            "text": "{\"id\":\"hook_7210da58eef111efb97859b66c79d9d1\",\"object\":\"Webhook\",\"mode\":\"test\",\"u[...]
