{
  "log": {
    "_recordingName": "EndShipper Service/retrieves all EndShipper objects",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "a16a9832308f9de7b7929f132ace892e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/end_shippers?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 644,
            "text": "{\"end_shippers\":[{\"id\":\"es_9b6451b40b6a4e67bef56824ef7a089b\",\"object\":\"EndShipper\",\"mode\":\"test\",\"created_at\":\"2022-10-05T20:01:37+00:00\",\"updated_at\":\"2022-10-05T20:01:37+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\"},{\"id\":\"es_ae165c7294b444df93f3168bfa256da7\",\"object\":\"EndShipper\",\"mode\":\"test\",\"created_at\":\"2022-10-11T19:09:18+00:00\",\"updated_at\":\"2022-10-11T19:09:18+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":null,\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\"},{\"id\":\"es_196eb0fb66d24f7c8b1265c9692c39f7\",\"object\":\"EndSh[...]
