{
  "log": {
    "_recordingName": "User Resource/creates a child user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eeac783445761852d803b6ce2db060bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test User\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/users"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 484,
            "text": "{\"id\":\"user_47d3417c6fc442fa9ef43f8a174e582d\",\"object\":\"User\",\"parent_id\":\"user_2cfd34d1261a4a9b93d56c313a9a824b\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-06-09T18:48:39Z\",\"children\":[],\"api_keys\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "03ae640162a24087eb288d400029971a"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c138ba5cccbc9413dbbcf54bbc1f9f3d\""
            },
            {
              "name": "x-node",
              "value": "bigweb8nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206090041-73f986ccd8-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 0910011e7e, intlb2wdc 0910011e7e, extlb1wdc 0910011e7e"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1232,
      },
      {
        "_id": "2651aa729f14bfdfc616941a62e1cdf0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/users/user_47d3417c6fc442fa9ef43f8a174e582d"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "4f3afc3a62a24088eb288d41002babb1"
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206090041-73f986ccd8-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 0910011e7e, extlb2nuq 0910011e7e"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 230,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
