{
  "log": {
    "_recordingName": "User Resource/creates a child user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eeac783445761852d803b6ce2db060bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test User\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/users"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 480,
            "text": "{\"id\":\"user_afa1082f52bb429795927d22714c300b\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-08-09T15:15:51Z\",\"children\":[],\"api_keys\":[]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "03fa247262f27a27e2aac63a00747ee4"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c7316b30c0123711854c8ea5ba535e89\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb1nuq 9ce216bfac"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 814,
      },
      {
        "_id": "ac9de3034e391636959a5c11b62ecac4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/users/user_afa1082f52bb429795927d22714c300b"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "03fa246d62f27a28e2aac63b00747f1f"
            },
            {
              "name": "x-node",
              "value": "bigweb5nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 403f17ff97, extlb1nuq 9ce216bfac"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 248,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
