{
  "log": {
    "_recordingName": "User Service/deletes a user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "eeac783445761852d803b6ce2db060bc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"name\":\"Test User\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/users"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 532,
            "text": "{\"id\":\"user_ee996aa23e6047f8acf2142ef84ab333\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2023-09-06T17:48:46Z\",\"default_carbon_offset\":false,\"has_elevate_access\":false,\"children\":[],\"api_keys\":[{\"object\":\"ApiKey\",\"key\":\"<REDACTED>\",\"mode\":\"test\",\"created_at\":\"2023-09-06T17:48:46Z\",\"active\":true,\"id\":\"ak_44c19d65097b484e817d7d8919feaaeb\"},{\"object\":\"ApiKey\",\"key\":\"<REDACTED>\",\"mode\":\"production\",\"created_at\":\"2023-09-06T17:48:46Z\",\"active\":true,\"id\":\"ak_f33e25e58dfd460fa67b545596154ea5\"}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "df2a5b8064f8bb7de79b0a65001d33a0"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"17990dd88a1e22c7234db024ac995a7a\""
            },
            {
              "name": "x-node",
              "value": "bigweb43nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 2bcb349163, extlb1nuq 003ad9bca0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 1408,
      },
      {
        "_id": "9f6c142d23c312af2b33b580561bbcaa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/users/user_ee996aa23e6047f8acf2142ef84ab333"
        },
        "response": {
          "content": {
            "mimeType": "text/plain",
            "size": 0
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "df2a5b7c64f8bb7fe79b0a66001d341f"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2bcb349163, extlb1nuq 003ad9bca0"
            }
          ],
          "status": 204,
          "statusText": "No Content"
        },
        "time": 507,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
