{
  "log": {
    "_recordingName": "ReferralCustomer Service/retrieves next page of referral customer",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9514a2e5f2cde078c2d6bf4659e16caf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/referral_customers?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 752,
            "text": "{\"has_more\":true,\"referral_customers\":[{\"id\":\"user_634b6daa05744bfaa205058f06864363\",\"object\":\"User\",\"parent_id\":null,\"name\":\"Firstname Lastname\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-04-26T15:50:28Z\",\"default_carbon_offset\":false,\"balance\":\"0.00000\",\"price_per_shipment\":\"0.00000\",\"recharge_amount\":null,\"secondary_recharge_amount\":null,\"recharge_threshold\":null,\"has_billing_method\":null,\"cc_fee_rate\":\"0.0325\",\"default_insurance_amount\":\"50.00\",\"insurance_fee_rate\":\"0.005\",\"insurance_fee_minimum\":\"0.25\",\"email\":\"<REDACTED>\",\"children\":[]},{\"id\":\"user_35cb81fb8af1454dabf1f6afa7330634\",\"object\":\"User\",\"parent_id\":null,\"name\":\"Firstname Lastname\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2022-04-27T20:20:52Z\",\"default_carbon_offset\":false,\"balance\":\"0.00000\",\"price_per_shipment\":\"0.00000\",\"recharge_amount\":\"100.00\",\"secondary_recharge_amount\":\"100.00\",\"recharge_threshold\":\"0.00\",\"has_billing_method\":true,\"cc_fee_rate\":\"0.0325\",\"default_insurance_amount\":\"50.0[...]
