{
  "log": {
    "_recordingName": "EndShipper Resource/creates an EndShipper object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2d63b58097faf9b5bd8a0b7d7e16cb48",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"test@example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/end_shippers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "{\"id\":\"es_bfdf2438976d45f69b4e8393cb32e436\",\"object\":\"EndShipper\",\"created_at\":\"2022-05-26T22:02:06+00:00\",\"updated_at\":\"2022-05-26T22:02:06+00:00\",\"name\":\"JACK SPARROW\",\"company\":\"EASYPOST\",\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":\"\",\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"TEST@EXAMPLE.COM\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3b783bba628ff8dee787c3ff0011168f"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"10814eb7e921288a00e3f94ff1a60a58\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205261913-2cb17df73f-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb2nuq fc4d5d217f"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 296,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
