{
  "log": {
    "_recordingName": "Report Resource/creates a report by specifying columns",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1a4e362275dad1a6e9894381e716c3a8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"shipment\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"columns\":[\"usps_zone\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shipment"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 272,
            "text": "{\"id\":\"shprep_b9b432a50bf64b37a4c60279b89af290\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-09T15:13:31Z\",\"updated_at\":\"2022-08-09T15:13:31Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "03fa246c62f2799be2aabddb0074538a"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2e297568697d7f36b46b21a307ea9f33\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb1nuq 9ce216bfac"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 149,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
