{
  "log": {
    "_recordingName": "Report Resource/creates a report by specifying columns",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "12f88607a7072fc61aaae0526029c3b4",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"shipment\",\"start_date\":\"2022-08-01\",\"end_date\":\"2022-08-01\",\"columns\":[\"usps_zone\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shipment"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 272,
            "text": "{\"id\":\"shprep_cd3295f716d14d6db96c28b46477efd5\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-08-04T18:59:30Z\",\"updated_at\":\"2022-08-04T18:59:30Z\",\"start_date\":\"2022-08-01\",\"end_date\":\"2022-08-01\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3396dd4862ec1712e2b8f2b3000e2c87"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c4ab6d36868a86de16b4e17c49faa441\""
            },
            {
              "name": "x-node",
              "value": "bigweb8nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208041820-51968cb76d-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 403f17ff97, extlb1nuq 403f17ff97"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 389,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
