{
  "log": {
    "_recordingName": "Report Resource/creates a report by specifying columns",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "94e6c4b808e7b047766e9b9116bead3a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"type\":\"shipment\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"columns\":[\"usps_zone\"]}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shipment"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 272,
            "text": "{\"id\":\"shprep_666357780c6242b7a68acc44aa99d02f\",\"object\":\"ShipmentReport\",\"created_at\":\"2022-05-23T22:51:12Z\",\"updated_at\":\"2022-05-23T22:51:12Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "7e75eefb628c0fe0e79a64a0000a81e9"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"80bfe4f0f0f26b205f6ff9a28ca77e65\""
            },
            {
              "name": "x-node",
              "value": "bigweb8nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205232148-f798679516-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb2nuq c51cdb8bf2"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 208,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
