{
  "log": {
    "_recordingName": "CarrierMetadataService/retrieves all carrier metadata",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "ca5329a2075dabe10e4969260b5e9023",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/metadata/carriers"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 257497,
            "text": "{\"carriers\":[{\"human_readable\":\"Accurate\",\"name\":\"accurate\",\"predefined_packages\":[],\"service_levels\":[{\"carrier\":\"accurate\",\"description\":null,\"dimensions\":[],\"human_readable\":null,\"max_weight\":null,\"name\":\"Route\"}],\"shipment_options\":[],\"supported_features\":[]},{\"human_readable\":\"Amazon Shipping\",\"name\":\"amazonshipping\",\"predefined_packages\":[],\"service_levels\":[{\"carrier\":\"amazonshipping\",\"description\":null,\"dimensions\":[],\"human_readable\":null,\"max_weight\":null,\"name\":\"Amazon Shipping Ground\"}],\"shipment_options\":[],\"supported_features\":[{\"carrier\":\"amazonshipping\",\"description\":null,\"name\":\"labels\",\"supported\":true},{\"carrier\":\"amazonshipping\",\"description\":null,\"name\":\"rating\",\"supported\":true},{\"carrier\":\"amazonshipping\",\"description\":null,\"name\":\"refunds\",\"supported\":true},{\"carrier\":\"amazonshipping\",\"description\":null,\"name\":\"tracking\",\"supported\":true}]},{\"human_readable\":\"APC\",\"name\":\"apc\",\"predefined_packages\":[],\"service_levels\":[{\"carrier\":\"apc\",\"description\":null,\"dimensions\":[],\"human_readable\":\"APC Expedited DDU\",\"max_weight\":nu[...]
