{
  "log": {
    "_recordingName": "Refund Resource/retrieves a refund",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2ab677bcc63e4eeae5996e2963b4d00a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/refunds?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 532,
            "text": "{\"refunds\":[{\"id\":\"rfnd_d3eb6e60e8b34ff7ad9189c808cfc5f7\",\"object\":\"Refund\",\"created_at\":\"2022-08-04T18:54:35Z\",\"updated_at\":\"2022-08-04T18:54:35Z\",\"tracking_code\":\"9400100109361131620403\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_8fac927e20434f179bef64298e27032e\"},{\"id\":\"rfnd_a07ca5bb38ad41009f26fa30a8ccaa3b\",\"object\":\"Refund\",\"created_at\":\"2022-07-29T22:03:06Z\",\"updated_at\":\"2022-07-30T22:03:07Z\",\"tracking_code\":\"9400100109361130689432\",\"confirmation_number\":null,\"status\":\"rejected\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_841f6ba6056e478585327e537976eb1f\"},{\"id\":\"rfnd_0cab79e89cc94eb7a4c9adddb21daa37\",\"object\":\"Refund\",\"created_at\":\"2022-07-29T22:02:49Z\",\"updated_at\":\"2022-07-30T22:02:49Z\",\"tracking_code\":\"9400100109361130689364\",\"confirmation_number\":null,\"status\":\"rejected\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_396540b5262d4d64be32a6700566a84a\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "ad6b177f62ec15ebe2b8ea0d000c47b1"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"a387a4e8bc1512a6a563579b80703a88\""
            },
            {
              "name": "x-node",
              "value": "bigweb6nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208041820-51968cb76d-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb2nuq 403f17ff97"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 146,
      },
      {
        "_id": "cb020d330deb05a078d677cdd67e4174",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/refunds/rfnd_d3eb6e60e8b34ff7ad9189c808cfc5f7"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType"[...]
