{
  "log": {
    "_recordingName": "Refund Resource/retrieves a refund",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2ab677bcc63e4eeae5996e2963b4d00a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/refunds?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 683,
            "text": "{\"refunds\":[{\"id\":\"rfnd_eb388e15704941b2a462e55990b6ed55\",\"object\":\"Refund\",\"created_at\":\"2022-08-09T15:15:15Z\",\"updated_at\":\"2022-08-09T15:15:15Z\",\"tracking_code\":\"9400100109361132354116\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_9f71d5dc4d3743e9bd26fcfcf2dae910\"},{\"id\":\"rfnd_db0fe9b1ac014d2ca5738a8202c38848\",\"object\":\"Refund\",\"created_at\":\"2022-08-04T19:07:37Z\",\"updated_at\":\"2022-08-05T19:07:37Z\",\"tracking_code\":\"9400100109361131623374\",\"confirmation_number\":null,\"status\":\"rejected\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_b0a5832a03bc49fca33bc6e97197ae76\"},{\"id\":\"rfnd_852883c0a8874cd7bad7be23f214ab14\",\"object\":\"Refund\",\"created_at\":\"2022-08-04T19:07:29Z\",\"updated_at\":\"2022-08-05T19:07:29Z\",\"tracking_code\":\"9400100109361131623329\",\"confirmation_number\":null,\"status\":\"rejected\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_203e571826ac4326855eb687f6ff3bdd\"},{\"id\":\"rfnd_37d7c9a15c6842fb92b3c4b1ad5e9d0e\",\"object\":\"Refund\",\"created_at\":\"2022-08-04T19:07:18Z\",\"updated_at\":\"2022-08-05T19:07:18Z\",\"tracking_code\":\"9400100109361131623244\",\"confirmation_number\":null,\"status\":\"rejected\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_133fde8fe6cc4884b9adf0e1c9ef2374\"},{\"id\":\"rfnd_5a53029b4cfb40178352eb19ad77ab9b\",\"object\":\"Refund\",\"created_at\":\"2022-08-04T18:54:53Z\",\"updated_at\":\"2022-08-05T18:54:53Z\",\"tracking_code\":\"9400100109361131620496\",\"confirmation_number\":null,\"status\":\"rejected\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_2072c39338c44bff997a6245ac134472\"}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "03fa246d62f27a03e2aac26300747297"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"88b1592a1ee17b37d7fbf05847c5d741\""
            },
            {
              "name": "x-node",
              "value": "bigweb4nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 403f17ff97, extlb1nuq 9ce216bfac"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 397,
      },
      {
        "_id": "f4400f0b33d282cd4e7360d65a29e531",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/refunds/rfnd_eb388e15704941b2a462e55990b6ed55"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType"[...]
