{
  "log": {
    "_recordingName": "Refund Resource/retrieves a refund",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ba1982c9e1f55bbf101f37f9ba633e77",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/refunds?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 508,
            "text": "{\"refunds\":[{\"id\":\"rfnd_3cf3f1c250414a559d170de66f73d2ea\",\"object\":\"Refund\",\"created_at\":\"2022-05-23T22:51:10Z\",\"updated_at\":\"2022-05-23T22:51:10Z\",\"tracking_code\":\"9400100109361120469907\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_ca76f3c8f81647308da5e422446b8d21\"},{\"id\":\"rfnd_a773dca5ffa544d39c818fdfe0ec2367\",\"object\":\"Refund\",\"created_at\":\"2022-05-23T16:58:34Z\",\"updated_at\":\"2022-05-23T16:58:34Z\",\"tracking_code\":\"9400100109361120417403\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_4b5d2f95c97b4e1685e5cc0f4202e8ac\"},{\"id\":\"rfnd_09de2343f6a74f24b91211d5d8abe87d\",\"object\":\"Refund\",\"created_at\":\"2022-05-23T16:58:14Z\",\"updated_at\":\"2022-05-23T16:58:14Z\",\"tracking_code\":\"9400100109361120417243\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_6762987163c94426a26966157a3a7976\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "7e75eefa628c0fdfe79a649d000a81ba"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"74e9537af2b3926148cc7d18b84f57a1\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205232148-f798679516-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq c51cdb8bf2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 228,
      },
      {
        "_id": "c69ad59724b038fa14795696ec3d34e2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/refunds/rfnd_3cf3f1c250414a559d170de66f73d2ea"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType"[...]
