{
  "log": {
    "_recordingName": "Pickup Resource/retrieves a pickup",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "cfdb47d6a8c6175624e1765cf8b870ea",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4},\"carrier_accounts\":[\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"],\"carrier\":\"USPS\",\"service\":\"First\"},\"carbon_offset\":false}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 2262,
            "text": "{\"created_at\":\"2022-08-09T15:15:00Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":\"9400100109361132354062\",\"updated_at\":\"2022-08-09T15:15:01Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_092c67cc17f611edb040ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2022-08-09T15:15:00+00:00\",\"updated_at\":\"2022-08-09T15:15:00+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"test@example.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":\"50.00\",\"order_id\":null,\"parcel\":{\"id\":\"prcl_99dea76d9fb84f3ab6140cfad6bb8272\",\"object\":\"Parcel\",\"created_at\":\"2022-08-09T15:15:00Z\",\"updated_at\":\"2022-08-09T15:15:00Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"},\"postage_label\":{\"object\":\"PostageLabel\",\"id\":\"pl_903e491f2a1547d7a8d1b6ee8ace542f\",\"created_at\":\"2022-08-09T15:15:00Z\",\"updated_at\":\"2022-08-09T15:15:00Z\",\"date_advance\":0,\"integrated_form\":\"none\",\"label_date\":\"2022-08-09T15:15:00Z\",\"label_resolution\":300,\"label_size\":\"4x6\",\"label_type\":\"default\",\"label_file_type\":\"image/png\",\"label_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220809/455b0fa9a21642748ee51febb982b639.png\",\"label_pdf_url\":null,\"label_zpl_url\":null,\"label_epl2_url\":null,\"label_file\":null},\"rates\":[{\"id\":\"rate_75515f0ccb8c4328aa97c3d235913541\",\"object\":\"Rate\",\"created_at\":\"2022-08-09T15:15:00Z\",\"updated_at\":\"2022-08-09T15:15:00Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"29.50\",\"currency\":\"USD\",\"retail_rate\":\"33.55\",\"retail_currency\":\"USD\",\"list_rate\":\"29.50\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":null,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":null,\"shipment_id\":\"shp_fe26149a2a74403e89150c28cab6dcb6\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_359fbbffc989442ba3ba74038a6a9305\",\"object\":\"Rate\",\"created_at\":\"2022-08-09T15:15:00Z\",\"updated_at\":\"2022-08-09T15:15:00Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"7.90\",\"currency\":\"USD\",\"retail_rate\":\"9.45\",\"retail_currency\":\"USD\",\"list_rate\":\"7.90\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":fa[...]
