{
  "log": {
    "_recordingName": "Parcel Service/retrieves a parcel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3bc4c772b53d611f3eaf3bac4d02990f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 248,
            "text": "{\"id\":\"prcl_b94c3f60ebfb4b578af50022e3aaebab\",\"object\":\"Parcel\",\"created_at\":\"2023-02-08T18:53:27Z\",\"updated_at\":\"2023-02-08T18:53:27Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15b563e3efa7e786b4a000036f4e"
            },
            {
              "name": "location",
              "value": "/api/prcl_b94c3f60ebfb4b578af50022e3aaebab/parcels"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"70964d9e7f50c69b99eb8f5c92edfb7b\""
            },
            {
              "name": "x-node",
              "value": "bigweb5nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 262,
      },
      {
        "_id": "dbf93e3d8b478150f1ab6b2f2a924645",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels/prcl_b94c3f60ebfb4b578af50022e3aaebab"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType"[...]
