{
  "log": {
    "_recordingName": "Parcel Service/retrieves a parcel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3bc4c772b53d611f3eaf3bac4d02990f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 229,
            "text": "{\"id\":\"prcl_710c90afa60044e69befbb46ae74f3f2\",\"object\":\"Parcel\",\"weight\":15.4,\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"mode\":\"test\",\"created_at\":\"2026-07-30T17:38:04Z\",\"updated_at\":\"2026-07-30T17:38:04Z\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "location",
              "value": "/api/v2/parcels/prcl_710c90afa60044e69befbb46ae74f3f2"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b766a6b8bfce0e3071603f2b913"
            },
            {
              "name": "x-node",
              "value": "bigweb67nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 158,
      },
      {
        "_id": "5b5dc450f49e40fb886c8321a26cad0c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels/prcl_710c90afa60044e69befbb46ae74f3f2"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8[...]
