{
  "log": {
    "_recordingName": "Parcel Service/retrieves a parcel",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3bc4c772b53d611f3eaf3bac4d02990f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 248,
            "text": "{\"id\":\"prcl_5d467fda20314e3dbf461e78e978b541\",\"object\":\"Parcel\",\"created_at\":\"2023-09-06T17:46:13Z\",\"updated_at\":\"2023-09-06T17:46:13Z\",\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"weight\":15.4,\"mode\":\"test\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49964f8bae5e79b02ab001ce7f7"
            },
            {
              "name": "location",
              "value": "/api/v2/parcels/prcl_5d467fda20314e3dbf461e78e978b541"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"84a6bf859173fc33d449911ab7a39867\""
            },
            {
              "name": "x-node",
              "value": "bigweb38nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 411,
      },
      {
        "_id": "1308891a1a91600c5ce172976f961bc2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/parcels/prcl_5d467fda20314e3dbf461e78e978b541"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType"[...]
