{
  "log": {
    "_recordingName": "Event Resource/retrieves an event",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e4e1116b1b9e0aa9f03f42906cca863",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/events?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 436,
            "text": "{\"events\":[{\"description\":\"batch.updated\",\"id\":\"evt_fd92b03617f511edbcbc65a8279fd771\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2022-08-09T15:14:40.702Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_fca5aa9817f511edbeb9252101ccc043\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2022-08-09T15:14:39.149Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_fa3b2eea17f511ed907e41c8992637bb\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2022-08-09T15:14:35.096Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_f985086817f511ed98893fd0248ad484\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2022-08-09T15:14:33.902Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.created\",\"id\":\"evt_f977dc7417f511edb8584ddafad84f6e\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"created_at\":\"2022-08-09T15:14:33.816Z\",\"mode\":\"test\",\"object\":\"Event\"}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "03fa247262f279e5e2aac1d80074686b"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"5bcd7a6447e7d532d554afc046f02610\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 403f17ff97, extlb1nuq 9ce216bfac"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 316,
      },
      {
        "_id": "0ae06c3ee9017fc2647fb25f9128bd06",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/events/evt_fd92b03617f511edbcbc65a8279fd771"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 336,
            "text": "{\"description\":\"batch.updated\",\"mode\":\"test\",\"previous_attributes\":{\"state\":\"label_generating\"},\"created_at\":\"2022-08-09T15:14:41.000Z\",\"pending_urls\":[],\"completed_urls\":[],\"updated_at\":\"2022-08-09T15:14:41.000Z\",\"id\":\"evt_fd92b03617f511edbcbc65a8279fd771\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"pending\",\"object\":\"Event\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "03fa247162f279e6e2aac1d90074687f"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"128b95d8c0aa3476df4aebd85ec7d68b\""
            },
            {
              "name": "x-node",
              "value": "bigweb6nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 403f17ff97, extlb1nuq 9ce216bfac"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 145,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
