{
  "log": {
    "_recordingName": "Event Resource/retrieves an event",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "7e4e1116b1b9e0aa9f03f42906cca863",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/events?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 416,
            "text": "{\"events\":[{\"description\":\"batch.updated\",\"id\":\"evt_6e8336a6969c11ed895b6d9a7f7feeec\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"completed\",\"created_at\":\"2023-01-17T19:23:33.151Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.created\",\"id\":\"evt_6e6a5b0e969c11ed8aee4f2b2b439465\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"completed\",\"created_at\":\"2023-01-17T19:23:32.988Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.updated\",\"id\":\"evt_d566bcfa969a11ed8fba730eedf24f0b\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"completed\",\"created_at\":\"2023-01-17T19:12:06.776Z\",\"mode\":\"test\",\"object\":\"Event\"},{\"description\":\"batch.created\",\"id\":\"evt_d55462c6969a11ed99a83d786377169e\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"completed\",\"created_at\":\"2023-01-17T19:12:06.656Z\",\"mode\":\"test\",\"object\":\"Event\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "7b09154863c6f5f1ecc3c62600069fd1"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"affacaa11563dfd36d0a60c29870506b\""
            },
            {
              "name": "x-node",
              "value": "bigweb12nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202301171822-b2d49ffa70-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, extlb1nuq 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 477,
      },
      {
        "_id": "5d54aa9aac1a33fc34ad8a50336ed9e0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/events/evt_6e8336a6969c11ed895b6d9a7f7feeec"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 356,
            "text": "{\"description\":\"batch.updated\",\"mode\":\"test\",\"previous_attributes\":{\"state\":\"creating\"},\"created_at\":\"2023-01-17T19:23:33.000Z\",\"pending_urls\":[],\"completed_urls\":[\"http://example.com\"],\"updated_at\":\"2023-01-17T19:24:03.000Z\",\"id\":\"evt_6e8336a6969c11ed895b6d9a7f7feeec\",\"user_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"status\":\"completed\",\"object\":\"Event\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "7b09154d63c6f5f1ecb1b5ed00069ffc"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"b382ff879f2196611cf42cb6e2b45b93\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202301171822-b2d49ffa70-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb1nuq 29913d444b"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 279,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
