{
  "log": {
    "_recordingName": "Address Resource/verifies an address",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "38a0c6c20256a393112523e873cf4a18",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"phone\":\"5555555555\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 408,
            "text": "{\"id\":\"adr_ba82fe85e1e311ecade0ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2022-06-01T19:47:54+00:00\",\"updated_at\":\"2022-06-01T19:47:54+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "f5a1f0476297c26ae786c07c00096635"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_ba82fe85e1e311ecade0ac1f6bc72124"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"be46d089fb3a6581628cef2d5f572b70\""
            },
            {
              "name": "x-node",
              "value": "bigweb4nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206011908-268b477d75-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq 0910011e7e"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 224,
      },
      {
        "_id": "cc7606afbd05ece1d8c5d2a5be381d0b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/addresses/adr_ba82fe85e1e311ecade0ac1f6bc72124/verify"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 560,
            "text": "{\"address\":{\"id\":\"adr_baa981d6e1e311ec94a3ac1f6bc7b362\",\"object\":\"Address\",\"created_at\":\"2022-06-01T19:47:54+00:00\",\"updated_at\":\"2022-06-01T19:47:54+00:00\",\"name\":\"JACK SPARROW\",\"company\":\"EASYPOST\",\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":\"\",\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":true,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{\"zip4\":{\"success\":true,\"errors\":[],\"details\":null},\"delivery\":{\"success\":true,\"errors\":[],\"details\":{\"latitude\":37.77551,\"longitude\":-122.39697,\"time_zone\":\"America/Los_Angeles\"}}}}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "f5a1f0436297c26ae786c07d00096655"
            },
            {
              "name": "location",
              "value": "/api/v2/addresses/adr_baa981d6e1e311ec94a3ac1f6bc7b362"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"bc3b0a8a6420fbb6f96954930c2cf3ba\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206011908-268b477d75-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq 0910011e7e"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 243,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
