{
  "log": {
    "_recordingName": "CarrierAccount Service/creates a carrier account with a custom workflow",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0e0d5cf01960f224000dcbf5479bcd38",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"type\":\"FedexAccount\",\"registration_data\":{}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/register"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 357,
            "text": "{\"error\":{\"code\":\"GONE\",\"message\":\"The requested resource is no longer available at the server and no forwarding address is known.\",\"errors\":[{\"message\":\"FedEx account registrations must use the multi-factor authentication (MFA) registration workflow. See: https://support.easypost.com/hc/en-us/articles/35262738410253-FedEx-Multi-Factor-Authentication\"}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "76795b4f6a6b8320e0d5447c03eb3109"
            },
            {
              "name": "x-node",
              "value": "bigweb33nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb2nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 410,
          "statusText": "Gone"
        },
        "time": 513,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
