{
  "log": {
    "_recordingName": "CarrierAccount Service/creates a carrier account with a custom workflow",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3ffd10a262f075c91ea68b04d83896c9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"type\":\"FedexAccount\",\"registration_data\":{\"some\":\"data\"}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/register"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 392,
            "text": "{\"error\":{\"code\":\"UNPROCESSABLE_ENTITY\",\"message\":\"The request was understood, but cannot be processed.\",\"errors\":[{\"field\":\"shipping_streets\",\"message\":\"must be present and a string\"},{\"field\":\"shipping_city\",\"message\":\"must be present and a string\"},{\"field\":\"shipping_state\",\"message\":\"must be present and a string\"},{\"field\":\"shipping_postal_code\",\"message\":\"must be present and a string\"},{\"field\":\"shipping_country_code\",\"message\":\"must be present and a string\"},{\"field\":\"corporate_first_name\",\"message\":\"must be present and a string\"},{\"field\":\"corporate_last_name\",[...]
