{
  "log": {
    "_recordingName": "Webhook Resource/creates a webhook",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b24db32e32579b942c0339426601968e",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"webhook\":{\"url\":\"http://example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 216,
            "text": "{\"id\":\"hook_eafb3f94e1e311ecbe7c195460f2c3f0\",\"object\":\"Webhook\",\"mode\":\"test\",\"url\":\"http://example.com\",\"created_at\":\"2022-06-01T19:49:16Z\",\"disabled_at\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "f5a1f0476297c2bbe786c51f0009979c"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"59fd4745ee998ffe037fd67772af9ce9\""
            },
            {
              "name": "x-node",
              "value": "bigweb7nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206011908-268b477d75-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb2nuq 0910011e7e"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 378,
      },
      {
        "_id": "d34248250465d284faddc1611f442018",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/webhooks/hook_eafb3f94e1e311ecbe7c195460f2c3f0"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeT[...]
