{
  "log": {
    "_recordingName": "Order Service/buys an order",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "46167ff45ba88bcf313eaf89e16b4cb3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"order\":{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"shipments\":[{\"parcel\":{\"weight\":10.2}},{\"parcel\":{\"weight\":17.5}}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/orders"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 12961,
            "text": "{\"object\":\"Order\",\"id\":\"order_fd06d55a0d2e435fa03cee1f26fee03c\",\"mode\":\"test\",\"is_return\":false,\"reference\":\"\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"}},\"messages\":[{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_3abe58dbb6c6463cbbc8d00a733634e8\",\"type\":\"rate_error\",\"message\":\"Account numbers should be 6 characters or less.\"},{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_3abe58dbb6c6463cbbc8d00a733634e8\",\"type\":\"rate_message\",\"message\":\"UPS multi-shipment rate includes this shipment.\"}],\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"customs_info\":null,\"from_address\":{\"id\":\"adr_682120828c3d11f188270022480c5359\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"to_address\":{\"id\":\"adr_681c00278c3d11f19e5700224804dbec\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_681c00278c3d11f19e5700224804dbec\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"return_address\":{\"id\":\"adr_682120828c3d11f188270022480c5359\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"shipments\":[{\"id\":\"shp_401e18f1a78d466397423029b05b4d47\",\"created_at\":\"2026-07-30T17:37:59Z\",\"is_return\":false,\"messages\":[{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_3abe58dbb6c6463cbbc8d00a733634e8\",\"type\":\"rate_error\",\"message\":\"Account numbers should be 6 characters or less.\"}],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"updated_at\":\"2026-07-30T17:37:59Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_682120828c3d11f188270022480c5359\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":null,\"order_id\":\"order_fd06d55a0d2e435fa03cee1f26fee03c\",\"parcel\":{\"id\":\"prcl_ef0b8b2940e8478886fb1729f2898121\",\"object\":\"Parcel\",\"weight\":10.2,\"length\":null,\"width\":null,\"height\":null,\"predefined_package\":null,\"mode\":\"test\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\"},\"postage_label\":null,\"rates\":[{\"id\":\"rate_e4e0cd90164941369d800c5b241012b2\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"39.05\",\"currency\":\"USD\",\"retail_rate\":\"43.45\",\"retail_currency\":\"USD\",\"list_rate\":\"39.05\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":1,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":1,\"shipment_id\":\"shp_401e18f1a78d466397423029b05b4d47\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_c84d7a0c94554b078228186f5d3941c2\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.22\",\"currency\":\"USD\",\"retail_rate\":\"11.90\",\"retail_currency\":\"USD\",\"list_rate\":\"10.40\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_401e18f1a78d466397423029b05b4d47\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_089bb32a41444b549d2d9efdd8a674cd\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"6.25\",\"currency\":\"USD\",\"retail_rate\":\"10.60\",\"retail_currency\":\"USD\",\"list_rate\":\"7.46\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_401e18f1a78d466397423029b05b4d47\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":null,\"tracker\":null,\"to_address\":{\"id\":\"adr_681c00278c3d11f19e5700224804dbec\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_682120828c3d11f188270022480c5359\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_681c00278c3d11f19e5700224804dbec\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:37:59Z\",\"updated_at\":\"2026-07-30T17:37:59Z\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"forms\":[],\"fees\":[],\"object\":\"Shipment\"},{\"id\":\"shp_cd9a57a1e9da4ed8bd88e594b98e4d3d\",\"created_at\":\"2026-07-30T17:37:59Z\",\"is_return\":false,\"messages\":[{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_3abe58dbb6c6463cbbc8d00a733634e8\",\"type\":\"rate_message\",\"message\":\"UPS multi-shipment rate includes this shipment.\"}],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"[...]
