{
  "log": {
    "_recordingName": "Order Service/buys an order",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "46167ff45ba88bcf313eaf89e16b4cb3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"order\":{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"shipments\":[{\"parcel\":{\"weight\":10.2}},{\"parcel\":{\"weight\":17.5}}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/orders"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 2190,
            "text": "{\"mode\":\"test\",\"reference\":\"\",\"is_return\":false,\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"}},\"messages\":[],\"created_at\":\"2024-06-14T16:36:00Z\",\"updated_at\":\"2024-06-14T16:36:00Z\",\"customs_info\":null,\"from_address\":{\"id\":\"adr_2f09334d2a6c11efa298ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-06-14T16:36:00+00:00\",\"updated_at\":\"2024-06-14T16:36:00+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"to_address\":{\"id\":\"adr_2f0790bb2a6c11efa2ebac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-06-14T16:36:00+00:00\",\"updated_at\":\"2024-06-14T16:36:00+00:00\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_2f0790bb2a6c11efa2ebac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2024-06-14T16:36:00+00:00\",\"updated_at\":\"2024-06-14T16:36:00+00:00\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"return_address\":{\"id\":\"adr_2f09334d2a6c11efa298ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-06-14T16:36:00+00:00\",\"updated_at\":\"2024-06-14T16:36:00+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"shipments\":[{\"created_at\":\"2024-06-14T16:36:00Z\",\"is_return\":false,\"messages\":[],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"updated_at\":\"2024-06-14T16:36:00Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_2f09334d2a6c11efa298ac1f6bc539aa\",\"object\":\"Address\",\"created_at\":\"2024-06-14T16:36:00+00:00\",\"updated_at\":\"2024-06-14T16:36:00+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":null,\"order_id\":\"order_bb68df3ed66e46f0b9312133886bc34f\",\"parcel\":{\"id\":\"prcl_8d32abb5d2fb412582877e13d76b5359\",\"object\":\"Parcel\",\"created_at\":\"2024-06-14T16:36:00Z\",\"updated_at\":\"2024-06-14T16:36:00Z\",\"length\":null,\"width\":null,\"height\":null,\"predefined_package\":null,\"weight\":10.2,\"mode\":\"test\"},\"postage_label\":null,\"rates\":[{\"id\":\"rate_14efc3d02c664ea18df668e39886200f\",\"object\":\"Rate\",\"created_at\":\"2024-06-14T16:36:00Z\",\"updated_at\":\"2024-06-14T16:36:00Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"6.88\",\"currency\":\"USD\",\"retail_rate\":\"9.80\",\"retail_currency\":\"USD\",\"list_rate\":\"8.25\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_aa5185297dab463e8a49771014cd9f88\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_f1e98ce91cb14248bcb97e015c6ee115\",\"object\":\"Rate\",\"created_at\":\"2024-06-14T16:36:00Z\",\"updated_at\":\"2024-06-14T16:36:00Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"5.07\",\"currency\":\"USD\",\"retail_rate\":\"6.70\",\"retail_currency\":\"USD\",\"list_rate\":\"5.07\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":3,\"delivery_date\":null,\"delivery_date_guarante[...]
