{
  "log": {
    "_recordingName": "Refund Resource/retrieves all refunds",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ba1982c9e1f55bbf101f37f9ba633e77",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/refunds?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 664,
            "text": "{\"refunds\":[{\"id\":\"rfnd_fa94da88ecf643d7a9297d47a065f033\",\"object\":\"Refund\",\"created_at\":\"2022-05-26T22:02:34Z\",\"updated_at\":\"2022-05-26T22:02:34Z\",\"tracking_code\":\"9400100109361121272193\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_a3bc86feb32e454f9cd3f573572a5ff9\"},{\"id\":\"rfnd_98264bad7bed4ae9952750d2c70f4a7b\",\"object\":\"Refund\",\"created_at\":\"2022-05-26T21:04:25Z\",\"updated_at\":\"2022-05-26T21:04:25Z\",\"tracking_code\":\"9400100109361121223171\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_d5692c70fc754a0eabb420869f750e24\"},{\"id\":\"rfnd_da10a8861b004e129bd7b47d3ab2336b\",\"object\":\"Refund\",\"created_at\":\"2022-05-26T21:04:02Z\",\"updated_at\":\"2022-05-26T21:04:02Z\",\"tracking_code\":\"9400100109361121223102\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_27d6841d74df4b91b58e8af051c80714\"},{\"id\":\"rfnd_9929662088ef445089b5c08325345fcc\",\"object\":\"Refund\",\"created_at\":\"2022-05-26T20:58:04Z\",\"updated_at\":\"2022-05-26T20:58:04Z\",\"tracking_code\":\"9400100109361121212434\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_2015971d37f1426b9e9a98a81cda779a\"},{\"id\":\"rfnd_35b8e5a2603040ec8d8fb86569a05b4b\",\"object\":\"Refund\",\"created_at\":\"2022-05-26T20:49:56Z\",\"updated_at\":\"2022-05-26T20:49:56Z\",\"tracking_code\":\"9400100109361121211710\",\"confirmation_number\":null,\"status\":\"submitted\",\"carrier\":\"USPS\",\"shipment_id\":\"shp_21413566cbce4608afce42696012abec\"}],\"has_more\":true}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3b783bbb628ff8fbe787c8a100111f42"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"feacd899337161d22c5a55d53fea48a9\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205261913-2cb17df73f-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq fc4d5d217f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 267,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
