{
  "log": {
    "_recordingName": "Report Service/creates a report",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "3a15ba1d5f47dd74181909cc7030e53a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"start_date\":\"2026-07-30\",\"end_date\":\"2026-07-30\",\"type\":\"shipment\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shipment"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 298,
            "text": "{\"columns\":null,\"created_at\":\"2026-07-30T17:44:07Z\",\"end_date\":\"2026-07-30\",\"id\":\"shprep_6da21baae02948afb36038ad0b47621a\",\"include_children\":null,\"mode\":\"test\",\"object\":\"ShipmentReport\",\"start_date\":\"2026-07-30\",\"status\":\"new\",\"updated_at\":null,\"url\":null,\"url_expires_at\":null,\"utc_offset\":null}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b786a6b8d67e0e317fb03f53390"
            },
            {
              "name": "x-node",
              "value": "bigweb56nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 578,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
