{
  "log": {
    "_recordingName": "EndShipper Resource/updates an EndShipper object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5cdb349a4f1f26ba190b7527466ac887",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"test@example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/end_shippers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 376,
            "text": "{\"id\":\"es_bae0e65672384e41941f1f5269f32e6e\",\"object\":\"EndShipper\",\"mode\":\"test\",\"created_at\":\"2022-10-11T19:09:19+00:00\",\"updated_at\":\"2022-10-11T19:09:19+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":\"\",\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "a9571b136345bf5fe788514000248c49"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"57e89d15d598b4de689f416541e12291\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202210111824-2b8ab2303a-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb1nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 260,
      },
      {
        "_id": "74987805723dc2f95157216fc5b4bd8d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"id\":\"es_bae0e65672384e41941f1f5269f32e6e\",\"object\":\"EndShipper\",\"name\":\"Captain Sparrow\",\"s[...]
