{
  "log": {
    "_recordingName": "EndShipper Resource/updates an EndShipper object",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5cdb349a4f1f26ba190b7527466ac887",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"test@example.com\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/end_shippers"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "{\"id\":\"es_384a0fa88cd84332a9ab9e234c26c1ea\",\"object\":\"EndShipper\",\"created_at\":\"2022-08-24T21:07:19+00:00\",\"updated_at\":\"2022-08-24T21:07:19+00:00\",\"name\":\"JACK SPARROW\",\"company\":null,\"street1\":\"388 TOWNSEND ST APT 20\",\"street2\":\"\",\"city\":\"SAN FRANCISCO\",\"state\":\"CA\",\"zip\":\"94107-1670\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "0d77b08063069307e68bbd02007d3a9e"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"9506ede0076b591d9201086a5ffc8b84\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208241853-b300c23ebd-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 6aa9972c1e, intlb1wdc 6aa9972c1e, extlb3wdc 9ce216bfac"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 569,
      },
      {
        "_id": "3e002df3828856e0e7a8942591a86ec3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"address\":{\"id\":\"es_384a0fa88cd84332a9ab9e234c26c1ea\",\"object\":\"EndShipper\",\"name\":\"Captain Sparrow\",\"s[...]
