{
  "log": {
    "_recordingName": "CustomsItem Resource/creates a customs item",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "579d158465628a6311f11a54f2d4ecfe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_item\":{\"description\":\"Sweet shirts\",\"quantity\":2,\"value\":23.25,\"weight\":11,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_items"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 364,
            "text": "{\"id\":\"cstitem_f1f5d9ba641b45ef8ec13287f9c3c8d2\",\"object\":\"CustomsItem\",\"created_at\":\"2022-06-01T19:48:25Z\",\"updated_at\":\"2022-06-01T19:48:25Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "f5a1f0446297c289e786c1070009776a"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_items/cstitem_f1f5d9ba641b45ef8ec13287f9c3c8d2"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"632e35c7a033e0c27ffb3df23e89a6a8\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202206011908-268b477d75-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq 0910011e7e"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 211,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
