{
  "log": {
    "_recordingName": "Luma Service/gets service recommendations from Luma based on your ruleset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "716b845bff14e88cd3f8e7bdb477babe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4},\"ruleset_name\":\"cheapest_delivery\",\"planned_ship_date\":\"2026-08-01\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/luma/promise"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 873,
            "text": "{\"luma_info\":{\"ai_results\":[{\"carrier\":\"USPS\",\"meets_ruleset_requirements\":true,\"predicted_deliver_by_date\":\"2026-08-03\",\"predicted_deliver_days\":2,\"rate_usd\":\"9.22\",\"service\":\"Priority\"},{\"carrier\":\"USPS\",\"meets_ruleset_requirements\":true,\"predicted_deliver_by_date\":\"2026-08-03\",\"predicted_deliver_days\":2,\"rate_usd\":\"6.98\",\"service\":\"GroundAdvantage\"},{\"carrier\":\"USPS\",\"meets_ruleset_requirements\":true,\"predicted_deliver_by_date\":\"2026-08-02\",\"predicted_deliver_days\":1,\"rate_usd\":\"39.05\",\"service\":\"Express\"}],\"matching_rule_idx\":0,\"ruleset_description\":\"Buy the cheapest rate that satisfies all of the following:\\nRule 0\\n    \\nOtherwise buy the cheapest rate\",\"luma_selected_rate\":{\"carrier\":\"USPS\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"currency\":\"USD\",\"rate\":\"6.98\",\"service\":\"GroundAdvantage\",\"luma_predicted_deliver_by_date\":\"2026-08-03\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b796a6b8bfce0e3071803f2b9e7"
            },
            {
              "name": "x-node",
              "value": "bigweb59nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb5nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 611,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
