{
  "log": {
    "_recordingName": "Luma Service/gets service recommendations from Luma based on your ruleset",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "76decaf90d0fd5d1eeb6ec644318b280",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4},\"ruleset_name\":\"cheapest_delivery\",\"planned_ship_date\":\"2025-06-13\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/luma/promise"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 508,
            "text": "{\"luma_info\":{\"ai_results\":[{\"carrier\":\"USPS\",\"meets_ruleset_requirements\":true,\"predicted_deliver_by_date\":\"2025-06-16\",\"predicted_deliver_days\":3,\"rate_usd\":\"6.07\",\"service\":\"GroundAdvantage\"},{\"carrier\":\"USPS\",\"meets_ruleset_requirements\":true,\"predicted_deliver_by_date\":\"2025-06-14\",\"predicted_deliver_days\":1,\"rate_usd\":\"34.15\",\"service\":\"Express\"},{\"carrier\":\"USPS\",\"meets_ruleset_requirements\":true,\"predicted_deliver_by_date\":\"2025-06-15\",\"predicted_deliver_days\":2,\"rate_usd\":\"7.42\",\"service\":\"Priority\"}],\"matching_rule_idx\":0,\"ruleset_description\":\"Buy the cheapest rate that satisfies all of the following:\\nRule 0\\n    \\nOtherwise buy the cheapest rate\",\"luma_selected_rate\":{\"carrier\":\"USPS\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"currency\":\"USD\",\"rate\":\"6.07\",\"service\":\"GroundAdvantage\",\"luma_predicted_deliver_by_date\":\"2025-06-16\"}}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "bcf2cbba684c50b9e2bcc9560043dce8"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb59nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202506131433-d7d0bc55a0-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq e8fe6f4ec2, extlb1nuq 99aac35317"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 319,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
