{
  "log": {
    "_recordingName": "CarrierAccount Service/creates a carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "1f1143bec068c03dcfacefcac4771057",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account\":{\"type\":\"DhlEcsAccount\",\"credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"},\"test_credentials\":{\"client_id\":\"123456\",\"client_secret\":\"123abc\",\"distribution_center\":\"USLAX1\",\"pickup_id\":\"123456\"}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 544,
            "text": "{\"id\":\"ca_d4180516aab0434d8cfea1c895e8d8e1\",\"object\":\"CarrierAccount\",\"type\":\"DhlEcsAccount\",\"clone\":false,\"created_at\":\"2023-02-08T18:52:51Z\",\"updated_at\":\"2023-02-08T18:52:51Z\",\"description\":\"DHL eCommerce Solutions Account\",\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"DHL eCommerce Solutions\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":{}}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15b563e3ef83e786b3d90003636a"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"0c6e66841c939c865bd416d10d84a5be\""
            },
            {
              "name": "x-node",
              "value": "bigweb8nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 360,
      },
      {
        "_id": "c76a76fe8fbf6fc8a1842335ce65faf5",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_d4180516aab0434d8cfea1c895e8d8e1"
        },
        "response": {
          "content": {
            "encoding": "base64",
            [...]
