{
  "log": {
    "_recordingName": "CustomsItem Resource/retrieves a customs item",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "e268ed95a5920c20a4f7f09f3a28af38",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_item\":{\"description\":\"Sweet shirts\",\"quantity\":2,\"value\":23.25,\"weight\":11,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_items"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 364,
            "text": "{\"id\":\"cstitem_176819ae7b8b404a8420c88051d6233a\",\"object\":\"CustomsItem\",\"created_at\":\"2022-05-26T22:02:13Z\",\"updated_at\":\"2022-05-26T22:02:13Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11.0,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3b783bbb628ff8e4e787c44200111894"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_items/cstitem_176819ae7b8b404a8420c88051d6233a"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c0f54612a37dd3f5f4968adcc28d9f6\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205262146-0562c799aa-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb2nuq fc4d5d217f"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 373,
      },
      {
        "_id": "d5db9a60a5e0320ee1b21d6bbc8f0fa2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_items/cstitem_176819ae7b8b404a8420c88051d6233a"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "[...]
