{
  "log": {
    "_recordingName": "User Resource/updates a user",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "00678472a98c74738ad985e056c9ecbd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/users"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 548,
            "text": "{\"id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"object\":\"User\",\"parent_id\":null,\"name\":\"EasyPost Node Client Library Tests\",\"phone_number\":\"5555555555\",\"verified\":true,\"created_at\":\"2022-02-02T20:19:29Z\",\"balance\":\"0.00000\",\"price_per_shipment\":\"0.00000\",\"recharge_amount\":null,\"secondary_recharge_amount\":null,\"recharge_threshold\":null,\"has_billing_method\":null,\"cc_fee_rate\":\"0.0325\",\"default_insurance_amount\":\"50.00\",\"insurance_fee_rate\":\"0.005\",\"insurance_fee_minimum\":\"0.25\",\"email\":\"dev+easypost-node@easypost.com\",\"children\":[{\"id\":\"user_440324784cde4116a7df4372e7b483aa\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"8005550100\",\"verified\":true,\"created_at\":\"2022-03-15T20:14:00Z\",\"children\":[]}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3b783bba628ff914e787c927001125e9"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"96184765d910ddc8252e53ad48af0707\""
            },
            {
              "name": "x-node",
              "value": "bigweb1nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205261913-2cb17df73f-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq fc4d5d217f"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 235,
      },
      {
        "_id": "43b020c2d945e46d252ad6bc2a3122f2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "PUT",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"user\":{\"id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"object\":\"User\",\"name\":\"EasyPost Node Client Library Tests\",\"email\":\"dev+easypost-node@easypost.com\",\"phone_number\":\"5555555555\",\"children\":[{\"id\":\"user_440324784cde4116a7df4372e7b483aa\",\"object\":\"User\",\"parent_id\":\"user_0e95f038c18f432fbc50f84855dc20c6\",\"name\":\"Test User\",\"phone_number\":\"8005550100\",\"verified\":true,\"created_at\":\"2022-03-15T20:14:00Z\",\"children\":[]}],\"balance\":\"0.00000\",\"price_pe[...]
