{
  "log": {
    "_recordingName": "Report Service/retrieves a shipment report",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d2e03ff87ef7553db0e77fd331b48811",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"type\":\"shipment\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shipment"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 276,
            "text": "{\"id\":\"shprep_607bf2bf310a403b88e7a7412a7c219b\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-09-06T17:46:51Z\",\"updated_at\":\"2023-09-06T17:46:51Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49864f8bb0be79b0645001cf6af"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"e17caae2f60ef2d1dbe92318188cae0b\""
            },
            {
              "name": "x-node",
              "value": "bigweb36nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 458,
      },
      {
        "_id": "19c13198862b9e5522753b9f61daef25",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/reports/shprep_607bf2bf310a403b88e7a7412a7c219b"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeTyp[...]
