{
  "log": {
    "_recordingName": "Report Service/retrieves all reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1187,
            "text": "{\"reports\":[{\"id\":\"shprep_607bf2bf310a403b88e7a7412a7c219b\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-09-06T17:46:51Z\",\"updated_at\":\"2023-09-06T17:46:52Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20230906/e81aebd39b3501454d8cbac80d1cc11021.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20230906%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230906T174652Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=c8ee95b66cc21ed83a854a1b3f9babe6dc373d54c0158f6cc515b59bc0344ae8\",\"url_expires_at\":\"2023-09-06T17:47:22Z\",\"include_children\":false},{\"id\":\"shprep_d446bcf719484dbc815c7576e6e57dfd\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-09-06T17:46:51Z\",\"updated_at\":\"2023-09-06T17:46:51Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20230906/e8c942b9a1389246ef902563a7c18fcd7b.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20230906%2Fus-west-2%2Fs3%2[...]
