{
  "log": {
    "_recordingName": "Report Service/retrieves all reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 844,
            "text": "{\"reports\":[{\"id\":\"shprep_d3bfdbd34bdf440096eb93904d45f19d\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-08T18:53:51Z\",\"updated_at\":\"2023-02-08T18:53:51Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false},{\"id\":\"shprep_9c506e646e764a559d34fec32fde363f\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-08T18:53:51Z\",\"updated_at\":\"2023-02-08T18:53:51Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"new\",\"url\":null,\"url_expires_at\":null,\"include_children\":false},{\"id\":\"shprep_c942da574ec84a13987edc5cdc66d302\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-08T18:53:50Z\",\"updated_at\":\"2023-02-08T18:53:50Z\",\"start_d[...]
