{
  "log": {
    "_recordingName": "Report Service/retrieves all reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1188,
            "text": "{\"reports\":[{\"id\":\"shprep_d3bfdbd34bdf440096eb93904d45f19d\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-08T18:53:51Z\",\"updated_at\":\"2023-02-08T18:54:09Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20230208/7acaa6b3b34344e19d210bb859aab028.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20230216%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230216T205548Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=b64217183ddbfc5f5e73ac3f94b4f1589a6ea4a3cb7c7f0337d6e708c0db3e02\",\"url_expires_at\":\"2023-02-16T20:56:18Z\",\"include_children\":false},{\"id\":\"shprep_9c506e646e764a559d34fec32fde363f\",\"object\":\"ShipmentReport\",\"created_at\":\"2023-02-08T18:53:51Z\",\"updated_at\":\"2023-02-08T18:54:09Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20230208/4775e2f862d14cdf9c8e5ef3ae51998e.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20230216%2Fus-west-2%2Fs3%2Fa[...]
