{
  "log": {
    "_recordingName": "Report Service/retrieves all reports",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "4b745f2dea54667df49e5f08a0ece503",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/reports/shipment?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1190,
            "text": "{\"reports\":[{\"id\":\"shprep_179fd4290a86410686a8ebc3610fb65e\",\"object\":\"ShipmentReport\",\"created_at\":\"2024-04-05T20:06:15Z\",\"updated_at\":\"2024-04-05T20:06:16Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20240405/e875174bbcb5384758bdd677ac137eb6e5.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQ7T7W7W7P%2F20240405%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20240405T200616Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=07afada30bba6da8f6868c7e23515dfd1dd5075d147574aed4532dda9ff7a810\",\"url_expires_at\":\"2024-04-05T20:06:46Z\",\"include_children\":false},{\"id\":\"shprep_5e76f4eecd7f45ef932b049b65fcf59e\",\"object\":\"ShipmentReport\",\"created_at\":\"2024-04-05T20:06:15Z\",\"updated_at\":\"2024-04-05T20:06:15Z\",\"start_date\":\"2022-04-11\",\"end_date\":\"2022-04-11\",\"mode\":\"test\",\"status\":\"available\",\"url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20240405/e853a38d7e24624003917d2425773d02e8.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQ7T7W7W7P%2F20240405%2Fus-west-2%2Fs3%2[...]
