{
  "log": {
    "_recordingName": "User Service/retrieves a paginated list of children",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b454a3643738e79207d40fc67df8e8e7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/users/children?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 384,
            "text": "{\"children\":[{\"id\":\"user_484dd58db70a4f31b4bb862998cf0e04\",\"object\":\"User\",\"parent_id\":\"user_0f6b83e3530b401cb1e8aeaa6a250d4d\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2023-05-16T22:01:20Z\"},{\"id\":\"user_14e894c0d541459395f4456e7cf4f175\",\"object\":\"User\",\"parent_id\":\"user_0f6b83e3530b401cb1e8aeaa6a250d4d\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2023-09-27T22:05:26Z\"},{\"id\":\"user_f04df3dad13848339a7975d295d6629f\",\"object\":\"User\",\"parent_id\":\"user_0f6b83e3530b401cb1e8aeaa6a250d4d\",\"name\":\"Test User\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2023-11-30T19:23:22Z\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3c78c4076596fbbae799ed64000533f1"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb43nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202401041812-437974c716-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 2c48984abf, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 484,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
