{
  "log": {
    "_recordingName": "User Service/retrieves a paginated list of children",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "360e29b6c46cb77351451f989a439019",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com//beta/users/children?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 332,
            "text": "{\"children\":[{\"id\":\"user_584be78af2f141e988b6c60dda9dd8fd\",\"object\":\"User\",\"parent_id\":\"user_54356a6b96c940d8913961a3c7b909f2\",\"name\":\"Test User2\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2023-12-11T17:13:38Z\"},{\"id\":\"user_437e724f37de412db6df8821968d8d3c\",\"object\":\"User\",\"parent_id\":\"user_54356a6b96c940d8913961a3c7b909f2\",\"name\":\"Test User2\",\"phone_number\":\"<REDACTED>\",\"verified\":true,\"created_at\":\"2023-12-11T17:13:43Z\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "76c4c42865774e8fe779868800208452"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202312082253-518d5f5344-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq b3de2c47ef, extlb1nuq 003ad9bca0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 452,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
