{
  "log": {
    "_recordingName": "BetaReferralCustomerService/returns a client secret for credit cards",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2124d3e01a4505be6b97eaafde138d7d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/setup_intents"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 152,
            "text": "{\"client_secret\":\"seti_0R4SwyDqT4huGUvdCDXKapc7_secret_RyPmVrvEPq5I7iZEfimSUxDqd9Mld8K\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "51dca88667db24cbe788657d0027795e"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb59nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202503182355-b9c2645d96-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 284c5d344a, extlb2nuq 99aac35317"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 908,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
