{
  "log": {
    "_recordingName": "BetaReferralCustomerService/returns a client secret for credit cards",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2124d3e01a4505be6b97eaafde138d7d",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "null"
          },
          "queryString": [],
          "url": "https://api.easypost.com/beta/setup_intents"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 88,
            "text": "{\"client_secret\":\"seti_0TyxuCDqT4huGUvdpIpvO5Iy_secret_UyvlA256PNA5uRUILG5MsWSr6WEeZJy\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b756a6b8bfce0e3071403f2b950"
            },
            {
              "name": "x-node",
              "value": "bigweb66nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 457,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
