{
  "log": {
    "_recordingName": "ScanForm Service/retrieves next page of scanforms",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dc15515d98dfb44925bc57024f9353a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/scan_forms?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1208,
            "text": "{\"scan_forms\":[{\"id\":\"sf_b9815e9d96cd4d84b4a0204f98f76e45\",\"object\":\"ScanForm\",\"created_at\":\"2023-10-13T18:34:37Z\",\"updated_at\":\"2023-10-13T18:34:37Z\",\"tracking_codes\":[\"9400100105440269751907\"],\"address\":{\"id\":\"adr_28c0510f69f711ee867cac1f6bc539ae\",\"object\":\"Address\",\"created_at\":\"2023-10-13T18:34:35+00:00\",\"updated_at\":\"2023-10-13T18:34:35+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20231013/e872b9a561fe6c45dcb506c95f11535c39.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_012cf5bdbc6248a8872d680540c0995c\",\"confirmation\":null},{\"id\":\"sf_22783dd088924dcdbb76dba74a8dd753\",\"object\":\"ScanForm\",\"created_at\":\"2023-10-13T18:34:34Z\",\"updated_at\":\"2023-10-13T18:34:35Z\",\"tracking_codes\":[\"9400100105440269751884\"],\"address\":{\"id\":\"adr_2748089f69f711eebefdac1f6bc53342\",\"object\":\"Address\",\"created_at\":\"2023-10-13T18:34:33+00:00\",\"updated_at\":\"2023-10-13T18:34:33+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francis[...]
