{
  "log": {
    "_recordingName": "CustomsItem Service/retrieves a customs item",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "f7d8f75d4ec96a131547deba4ed2722a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_item\":{\"description\":\"Sweet shirts\",\"quantity\":2,\"weight\":11,\"value\":23.25,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_items"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 368,
            "text": "{\"id\":\"cstitem_b2e04b37e031416f8df94353c16a2d69\",\"object\":\"CustomsItem\",\"created_at\":\"2023-02-08T18:52:57Z\",\"updated_at\":\"2023-02-08T18:52:57Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "d34c15b563e3ef89e786b4020003655b"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_items/cstitem_b2e04b37e031416f8df94353c16a2d69"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"c45ec898d5e01f152b1e8a2dd51f6ef1\""
            },
            {
              "name": "x-node",
              "value": "bigweb4nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202302080012-372523128b-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 29913d444b, extlb2nuq 29913d444b"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 259,
      },
      {
        "_id": "4c5e88f24cb0bdccd45b14c5d05cadc3",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_items/cstitem_b2e04b37e031416f8df94353c16a2d69"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "[...]
