{
  "log": {
    "_recordingName": "CustomsInfo Resource/retrieves a customs info",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5e6a1cc26f10a92363e68b98cf7cce24",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_info\":{\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"contents_type\":\"merchandise\",\"restriction_type\":\"none\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"customs_items\":[{\"description\":\"Sweet shirts\",\"quantity\":2,\"weight\":11,\"value\":23.25,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_infos"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 600,
            "text": "{\"id\":\"cstinfo_627ac63f36534a42869d32357266e8b3\",\"object\":\"CustomsInfo\",\"created_at\":\"2022-08-09T15:14:45Z\",\"updated_at\":\"2022-08-09T15:14:45Z\",\"contents_explanation\":null,\"contents_type\":\"merchandise\",\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"restriction_comments\":null,\"restriction_type\":\"none\",\"mode\":\"test\",\"declaration\":null,\"customs_items\":[{\"id\":\"cstitem_2a75ce44a3384d519aa3c6e52d9bb257\",\"object\":\"CustomsItem\",\"created_at\":\"2022-08-09T15:14:45Z\",\"updated_at\":\"2022-08-09T15:14:45Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "03fa247062f279e4e2aac1bc0074683c"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_infos/cstinfo_627ac63f36534a42869d32357266e8b3"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"88de1f3631aaee832fdedaab8110f0b2\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202208082237-c4da0af8f6-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 403f17ff97, extlb1nuq 9ce216bfac"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 206,
      },
      {
        "_id": "c452c192f21eac21d3c3b59fafbd5dfe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_infos/cstinfo_627ac63f36534a42869d32357266e8b3"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "[...]
