{
  "log": {
    "_recordingName": "CustomsInfo Resource/retrieves a customs info",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dd863c20a136eb5e4ab90a46e22dfc7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_info\":{\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"contents_type\":\"merchandise\",\"restriction_type\":\"none\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"customs_items\":[{\"description\":\"Sweet shirts\",\"quantity\":2,\"weight\":11,\"value\":23.25,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_infos"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 600,
            "text": "{\"id\":\"cstinfo_1d2234d561c3427e94587255e4dbf9b4\",\"object\":\"CustomsInfo\",\"created_at\":\"2022-05-26T22:02:12Z\",\"updated_at\":\"2022-05-26T22:02:12Z\",\"contents_explanation\":null,\"contents_type\":\"merchandise\",\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"restriction_comments\":null,\"restriction_type\":\"none\",\"mode\":\"test\",\"declaration\":null,\"customs_items\":[{\"id\":\"cstitem_7c2eb58ae3424eef97e4075d7734fcdd\",\"object\":\"CustomsItem\",\"created_at\":\"2022-05-26T22:02:12Z\",\"updated_at\":\"2022-05-26T22:02:12Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11.0,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "3b783bbf628ff8e4e787c43f00111858"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_infos/cstinfo_1d2234d561c3427e94587255e4dbf9b4"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"428e366a32124488f80d0ceb725526e1\""
            },
            {
              "name": "x-node",
              "value": "bigweb2nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205261913-2cb17df73f-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq 570dfcbc0a, extlb2nuq fc4d5d217f"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 227,
      },
      {
        "_id": "f84a35cba11d2f782e1a3329958cc1c8",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_infos/cstinfo_1d2234d561c3427e94587255e4dbf9b4"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "[...]
