{
  "log": {
    "_recordingName": "CustomsInfo Resource/retrieves a customs info",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dd863c20a136eb5e4ab90a46e22dfc7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"customs_info\":{\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"contents_type\":\"merchandise\",\"restriction_type\":\"none\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"customs_items\":[{\"description\":\"Sweet shirts\",\"quantity\":2,\"weight\":11,\"value\":23.25,\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_infos"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 600,
            "text": "{\"id\":\"cstinfo_dc572f7e629a4c9193cdbe1a63e0da15\",\"object\":\"CustomsInfo\",\"created_at\":\"2022-05-23T22:50:49Z\",\"updated_at\":\"2022-05-23T22:50:49Z\",\"contents_explanation\":null,\"contents_type\":\"merchandise\",\"customs_certify\":true,\"customs_signer\":\"Steve Brule\",\"eel_pfc\":\"NOEEI 30.37(a)\",\"non_delivery_option\":\"return\",\"restriction_comments\":null,\"restriction_type\":\"none\",\"mode\":\"test\",\"declaration\":null,\"customs_items\":[{\"id\":\"cstitem_71fd0a311f644d5da95b08a2600f4eb7\",\"object\":\"CustomsItem\",\"created_at\":\"2022-05-23T22:50:49Z\",\"updated_at\":\"2022-05-23T22:50:49Z\",\"description\":\"Sweet shirts\",\"hs_tariff_number\":\"654321\",\"origin_country\":\"US\",\"quantity\":2,\"value\":\"23.25\",\"weight\":11.0,\"code\":null,\"mode\":\"test\",\"manufacturer\":null,\"currency\":null,\"eccn\":null,\"printed_commodity_identifier\":null}]}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "7e75eef7628c0fc9e79a6123000a7bc2"
            },
            {
              "name": "location",
              "value": "/api/v2/customs_infos/cstinfo_dc572f7e629a4c9193cdbe1a63e0da15"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"69489ceeb5ad0ae3cdc814a455623047\""
            },
            {
              "name": "x-node",
              "value": "bigweb7nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202205232243-0f3bbc53de-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 570dfcbc0a, extlb2nuq c51cdb8bf2"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 220,
      },
      {
        "_id": "a7ccad3f32b09c5b4c0b91ea182b6ee7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/customs_infos/cstinfo_dc572f7e629a4c9193cdbe1a63e0da15"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "[...]
