{
  "log": {
    "_recordingName": "CarrierAccount Service/creates a UPS carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "01fee270a4fb0bcbc78e2c11416157cc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ups_oauth_registrations\":{\"type\":\"UpsAccount\",\"account_number\":\"123456789\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/ups_oauth_registrations"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 884,
            "text": "{\"id\":\"ca_56b9136b2fba405b8d45c09255e2fa6e\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"created_at\":\"2024-07-30T16:10:46Z\",\"updated_at\":\"2024-07-30T16:10:46Z\",\"description\":null,\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"UPS\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a16f66a91086e2b873da003513e9"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb32nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 194,
      },
      {
        "_id": "9f9d56cb9905559c7f64a248997b2df7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_56b9136b2fba405b8d45c09255e2fa6e"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a17266a91086e2b873db00351414"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
