{
  "log": {
    "_recordingName": "CarrierAccount Service/creates a UPS carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "01fee270a4fb0bcbc78e2c11416157cc",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"ups_oauth_registrations\":{\"type\":\"UpsAccount\",\"account_number\":\"123456789\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/ups_oauth_registrations"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 880,
            "text": "{\"id\":\"ca_a0f925127475489c8105cbba22aab94c\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"created_at\":\"2024-07-09T22:30:22Z\",\"updated_at\":\"2024-07-09T22:30:22Z\",\"description\":null,\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"UPS\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f7ff67a668db9fef44f7ea100384590"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb41nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407092204-225a75da0e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq fa152d4755, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 208,
      },
      {
        "_id": "f23bdd2d402d9278e8fb744c1ff49b55",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_a0f925127475489c8105cbba22aab94c"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f7ff674668db9fef42e98d1003845bd"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb33nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407092204-225a75da0e-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq fa152d4755, extlb2nuq fa152d4755"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 199,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
