{
  "log": {
    "_recordingName": "CarrierAccount Service/creates a UPS carrier account",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "51110e81f98cbbcf36e02d92b319e601",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"carrier_account_oauth_registrations\":{\"type\":\"UpsAccount\",\"account_number\":\"123456789\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/register_oauth"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 884,
            "text": "{\"id\":\"ca_1de9af1b7f7742fbb7ed87d6118581bd\",\"object\":\"CarrierAccount\",\"type\":\"UpsAccount\",\"clone\":false,\"created_at\":\"2025-05-23T19:41:12Z\",\"updated_at\":\"2025-05-23T19:41:12Z\",\"description\":null,\"reference\":null,\"billing_type\":\"carrier\",\"readable\":\"UPS\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6be4a8f26830cf58e787511e004703e4"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb53nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202505231841-d89645a184-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 668d3fc830, extlb1nuq 99aac35317"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 754,
      },
      {
        "_id": "2afe2642013b64095187ead8e8aa23d9",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "DELETE",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts/ca_1de9af1b7f7742fbb7ed87d6118581bd"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 44,
            "text": "{}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6be4a8f66830cf59e787511f00470478"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb53nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202505231841-d89645a184-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 668d3fc830, extlb1nuq 99aac35317"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 437,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
