{
  "log": {
    "_recordingName": "CarrierAccount Service/retrieves all carrier accounts",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bf653893a62ff1615c55338c62bb98a2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/carrier_accounts"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 744,
            "text": "[{\"id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"object\":\"CarrierAccount\",\"type\":\"UspsAccount\",\"clone\":false,\"created_at\":\"2022-02-02T20:19:29Z\",\"updated_at\":\"2022-03-09T19:19:26Z\",\"description\":\"USPS Account\",\"reference\":null,\"billing_type\":\"easypost\",\"readable\":\"USPS\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":null},{\"id\":\"ca_9b8143142a4940459a8e14396bf574f9\",\"object\":\"CarrierAccount\",\"type\":\"DhlExpressDefaultAccount\",\"clone\":false,\"created_at\":\"2022-02-02T20:19:29Z\",\"updated_at\":\"2022-02-02T20:19:29Z\",\"description\":\"DHL Express Account\",\"reference\":null,\"billing_type\":\"easypost\",\"readable\":\"DHL Express\",\"logo\":null,\"fields\":[],\"credentials\":{},\"test_credentials\":null},{\"id\":\"ca_bae108e31bab4062b7620c75cffad67f\",\"object\":\"CarrierAccount\",\"type\":\"L[...]
