{
  "log": {
    "_recordingName": "Batch Service/retrieves a batch",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d99e418ca6754bc1e5615f1e3dcebcfe",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"batch\":{\"shipments\":[{\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4},\"service\":\"First\",\"carrier_accounts\":[\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"],\"carrier\":\"USPS\"}]}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/batches"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 328,
            "text": "{\"id\":\"batch_bf8ab1b8a0e0417aad26dd4bbf0896d5\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"creating\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2024-04-05T20:05:01Z\",\"updated_at\":\"2024-04-05T20:05:01Z\",\"scan_form\":null,\"shipments\":[],\"status\":{\"created\":0,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":0,\"postage_purchase_failed\":0},\"pickup\":null,\"label_url\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a16610596df43d806e00197af0"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb43nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 182,
      },
      {
        "_id": "18d3764d7f28f0490a59ecaa36f5ecdd",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/batches/batch_bf8ab1b8a0e0417aad26dd4bbf0896d5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 404,
            "text": "{\"id\":\"batch_bf8ab1b8a0e0417aad26dd4bbf0896d5\",\"object\":\"Batch\",\"mode\":\"test\",\"state\":\"created\",\"num_shipments\":1,\"reference\":null,\"created_at\":\"2024-04-05T20:05:01Z\",\"updated_at\":\"2024-04-05T20:05:01Z\",\"scan_form\":null,\"shipments\":[{\"batch_status\":\"created\",\"batch_message\":null,\"reference\":null,\"tracking_code\":null,\"id\":\"shp_4d3f3ae1e1904fa3b08f6dba5aaf75bb\"}],\"status\":{\"created\":1,\"queued_for_purchase\":0,\"creation_failed\":0,\"postage_purchased\":0,\"postage_purchase_failed\":0},\"pickup\":null,\"label_url\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a16610596df419c62a00197b15"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb36nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 162,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
