{
  "log": {
    "_recordingName": "Tracker Service/retrieves next page of trackers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "668c2f412433bc90021ad9c7e03a4f26",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/trackers?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1586,
            "text": "{\"trackers\":[{\"id\":\"trk_ab346939cd0d4670abf22cb86d593e20\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100110368068953525\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"created_at\":\"2024-07-30T16:12:27Z\",\"updated_at\":\"2024-07-30T16:12:27Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":\"2024-07-30T16:12:27Z\",\"shipment_id\":\"shp_bfdaf6ccca0245b6b37befd97be761db\",\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment Info Sent to USPS\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2024-06-30T16:12:27Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}},{\"object\":\"TrackingDetail\",\"message\":\"Shipping Label Created\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2024-07-01T04:49:27Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"}}],\"fees\":[],\"carrier_detail\":{\"object\":\"CarrierDetail\",\"service\":\"First-Class Package Service\",\"container_type\":null,\"est_delivery_date_local\":null,\"est_delivery_time_local\":null,\"origin_location\":\"HOUSTON TX, 77001\",\"origin_tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"},\"destination_location\":\"CHARLESTON SC, 29401\",\"destination_tracking_location\":null,\"guaranteed_delivery_date\":null,\"alternate_identifier\":null,\"initial_delivery_attempt\":null},\"public_url\":\"https://track.easypost.com/djE6dHJrX2FiMzQ2OTM5Y2QwZDQ2NzBhYmYyMmNiODZkNTkzZTIw\"},{\"id\":\"trk_5ff5530b042b4c949b28faa82a1e4d31\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100110368068953495\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"created_at\":\"2024-07-30T16:12:25Z\",\"updated_at\":\"2024-07-30T16:12:25Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":\"2024-07-30T16:12:25Z\",\"shipment_id\":\"shp_1944c1048c264ec3b0bbceff14a39fb5\[...]
