{
  "log": {
    "_recordingName": "Tracker Service/retrieves next page of trackers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "668c2f412433bc90021ad9c7e03a4f26",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/trackers?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 676,
            "text": "{\"trackers\":[{\"id\":\"trk_e1e33a61f02846cb80905b1a50ea5ba0\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400110898825022579493\",\"status\":\"error\",\"status_detail\":\"unknown\",\"created_at\":\"2023-03-22T17:18:05Z\",\"updated_at\":\"2023-03-22T17:18:05Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":null,\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"In test mode, only test tracking numbers are valid. Test tracking numbers are EZ1000000001, EZ2000000002, ... , EZ7000000007\",\"description\":null,\"status\":\"error\",\"status_detail\":null,\"datetime\":\"2023-03-22T17:18:05Z\",\"source\":\"ProcessingError\",\"carrier_code\":null,\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}}],\"fees\":[],\"carrier_detail\":null,\"public_url\":\"https://track.easypost.com/djE6dHJrX2UxZTMzYTYxZjAyODQ2Y2I4MDkwNWIxYTUwZWE1YmEw\"}],\"has_more\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "eb57f5c564232c8ee0dc8ac1001e2ff7"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"78f0ff69612d63e807594ae5196cfe3d\""
            },
            {
              "name": "x-node",
              "value": "bigweb9nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202303271939-29966fef42-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb1nuq a40ea751fd, intlb2wdc a40ea751fd, extlb3wdc a29e4ad05c"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 279,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
