{
  "log": {
    "_recordingName": "Tracker Service/retrieves next page of trackers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "668c2f412433bc90021ad9c7e03a4f26",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/trackers?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1639,
            "text": "{\"trackers\":[{\"id\":\"trk_6cb7435783b043d7a520e5172b2a38ec\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"EZ1000000001\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"created_at\":\"2023-09-06T17:48:37Z\",\"updated_at\":\"2023-09-06T17:48:37Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":\"2023-09-06T17:48:37Z\",\"shipment_id\":null,\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment Info Sent to USPS\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2023-08-06T17:48:37Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null}},{\"object\":\"TrackingDetail\",\"message\":\"Shipping Label Created\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2023-08-07T06:25:37Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"}}],\"fees\":[{\"object\":\"Fee\",\"type\":\"TrackerFee\",\"amount\":\"0.02000\",\"charged\":false,\"refunded\":false}],\"carrier_detail\":{\"object\":\"CarrierDetail\",\"service\":\"First-Class Package Service\",\"container_type\":null,\"est_delivery_date_local\":null,\"est_delivery_time_local\":null,\"origin_location\":\"HOUSTON TX, 77001\",\"origin_tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"},\"destination_location\":\"CHARLESTON SC, 29401\",\"destination_tracking_location\":null,\"guaranteed_delivery_date\":null,\"alternate_identifier\":null,\"initial_delivery_attempt\":null},\"public_url\":\"https://track.easypost.com/djE6dHJrXzZjYjc0MzU3ODNiMDQzZDdhNTIwZTUxNzJiMmEzOGVj\"},{\"id\":\"trk_deed4362277f4ff0924fbd23d55e35dc\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100105440258925500\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"created_at\":\"2023-09-06T17:48:34Z\",\"updated_at\":\"2023-09-06T17:48:34Z\",\"signed_by\":null,\"weight\":null,\"est_delivery_date\":\"2023-09-06T17:48:34Z\",\"shipment_id\":\"shp_363c7b265d9141148431c51a98a88028\[...]
