{
  "log": {
    "_recordingName": "Tracker Service/retrieves next page of trackers",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "668c2f412433bc90021ad9c7e03a4f26",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/trackers?page_size=5"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 22380,
            "text": "{\"trackers\":[{\"id\":\"trk_ce5fd8457dc74d52afb5139ca885165a\",\"object\":\"Tracker\",\"mode\":\"test\",\"tracking_code\":\"9400100208303112554215\",\"status\":\"delivered\",\"status_detail\":\"arrived_at_destination\",\"created_at\":\"2026-07-30T17:10:21Z\",\"updated_at\":\"2026-07-30T17:13:21Z\",\"signed_by\":\"John Tester\",\"weight\":null,\"est_delivery_date\":\"2026-07-30T17:13:21Z\",\"shipment_id\":\"shp_38ceb004e030461783222d51eb42eb50\",\"carrier\":\"USPS\",\"tracking_details\":[{\"object\":\"TrackingDetail\",\"message\":\"Pre-Shipment Info Sent to USPS\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2026-06-30T17:13:21Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":null,\"state\":null,\"country\":null,\"zip\":null},\"est_delivery_date\":null,\"datetime_local\":\"2026-06-30T17:13:21+00:00\",\"geocode_confidence\":\"LOW\"},{\"object\":\"TrackingDetail\",\"message\":\"Shipping Label Created\",\"description\":\"\",\"status\":\"pre_transit\",\"status_detail\":\"status_update\",\"datetime\":\"2026-07-01T05:50:21Z\",\"source\":\"USPS\",\"carrier_code\":\"\",\"tracking_location\":{\"object\":\"TrackingLocation\",\"city\":\"HOUSTON\",\"state\":\"TX\",\"country\":null,\"zip\":\"77063\"},\"est_delivery_date\":null,\"datetime_local\":\"2026-07-01T05:50:21+00:00\",\"geocode_confidence\":\"LOW\"},{\"object\":\"Tracki[...]
