{
  "log": {
    "_recordingName": "ReferralCustomer Service/add a referral user credit card",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "74dcf9e88cc6af64e4261fe9786d644c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/partners/stripe_public_key"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 104,
            "text": "{\"public_key\":\"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a7661059b0f3f981710019c178"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb36nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 144,
      },
      {
        "_id": "9acb6c7c7e45fb72f853826cbecbbe29",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "card",
              "value": {
                "cvc": "778",
                "exp_month": "05",
                "exp_year": "2028",
                "number": "4536410136126170"
              }
            }
          ],
          "url": "https://api.stripe.com/v1/tokens?card%5Bnumber%5D=4536410136126170&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=778"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 789,
            "text": "{\"id\":\"tok_0P2J1ZDqT4huGUvdrAkqmNVZ\",\"object\":\"token\",\"card\":{\"id\":\"card_0P2J1ZDqT4huGUvdEl1SFRCx\",\"object\":\"card\",\"address_city\":null,\"address_country\":null,\"address_line1\":null,\"address_line1_check\":null,\"address_line2\":null,\"address_state\":null,\"address_zip\":null,\"address_zip_check\":null,\"brand\":\"Visa\",\"country\":\"US\",\"cvc_check\":\"unchecked\",\"dynamic_last4\":null,\"exp_month\":5,\"exp_year\":2028,\"funding\":\"credit\",\"last4\":\"6170\",\"name\":null,\"networks\":{\"preferred\":null},\"tokenization_method\":null,\"wallet\":null},\"client_ip\":\"<REDACTED>\",\"created\":1712347569,\"livemode\":true,\"type\":\"card\",\"used\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "0960dfa7-8c99-4f15-a4ee-0d3ae794dd31"
            },
            {
              "name": "original-request",
              "value": "req_raaDihlOSrqQfH"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2020-08-27"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 568,
      },
      {
        "_id": "1b2ae81366241060e9a616ce5fd0233f",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"credit_card\":{\"stripe_object_id\":\"tok_0P2J1ZDqT4huGUvdrAkqmNVZ\",\"priority\":\"primary\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/credit_cards"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 208,
            "text": "{\"id\":\"pm_3569d54ab9a54489aa578eb0db3776c0\",\"disabled_at\":null,\"object\":\"CreditCard\",\"name\":null,\"last4\":\"6170\",\"exp_month\":5,\"exp_year\":2028,\"brand\":\"Visa\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "1f0ae7a5661059b1f4303df60019c224"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb40nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202404051854-b9502cad97-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq 39c21b8207, extlb2nuq 60566a9ec2"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 3095,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
