{
  "log": {
    "_recordingName": "ReferralCustomer Service/add a referral user credit card",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "74dcf9e88cc6af64e4261fe9786d644c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/partners/stripe_public_key"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 104,
            "text": "{\"public_key\":\"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a17366a910c7e2b87b500035512e"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb35nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb4nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      },
      {
        "_id": "9acb6c7c7e45fb72f853826cbecbbe29",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "card",
              "value": {
                "cvc": "778",
                "exp_month": "05",
                "exp_year": "2028",
                "number": "4536410136126170"
              }
            }
          ],
          "url": "https://api.stripe.com/v1/tokens?card%5Bnumber%5D=4536410136126170&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=778"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 788,
            "text": "{\"id\":\"tok_0PiIeRDqT4huGUvdhd7DywHH\",\"object\":\"token\",\"card\":{\"id\":\"card_0PiIeRDqT4huGUvdlRWvegOn\",\"object\":\"card\",\"address_city\":null,\"address_country\":null,\"address_line1\":null,\"address_line1_check\":null,\"address_line2\":null,\"address_state\":null,\"address_zip\":null,\"address_zip_check\":null,\"brand\":\"Visa\",\"country\":\"US\",\"cvc_check\":\"unchecked\",\"dynamic_last4\":null,\"exp_month\":5,\"exp_year\":2028,\"funding\":\"credit\",\"last4\":\"6170\",\"name\":null,\"networks\":{\"preferred\":null},\"tokenization_method\":null,\"wallet\":null},\"client_ip\":\"<REDACTED>\",\"created\":1722355911,\"livemode\":true,\"type\":\"card\",\"used\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "e3b71985-379a-4a10-ae00-673b9eda6961"
            },
            {
              "name": "original-request",
              "value": "req_xn5rlFmgvFyM9Y"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2020-08-27"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 469,
      },
      {
        "_id": "281f1d83d3c3fe4b0ca75d0dfc961986",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"credit_card\":{\"stripe_object_id\":\"tok_0PiIeRDqT4huGUvdhd7DywHH\",\"priority\":\"primary\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/credit_cards"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 240,
            "text": "{\"id\":\"pm_0fe4cff2be514f36b7ca5ff75e81246c\",\"disabled_at\":null,\"object\":\"CreditCard\",\"name\":null,\"last4\":\"6170\",\"exp_month\":5,\"exp_year\":2028,\"brand\":\"Visa\",\"requires_mandate_collection\":false}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "6107a17266a910c7e2b87b52003551b9"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb43nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202407300015-6e288fe720-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-canary",
              "value": "direct"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq c0f5e722d1, extlb2nuq fa152d4755"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 2750,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
