{
  "log": {
    "_recordingName": "ReferralCustomer Service/add a referral user credit card",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "74dcf9e88cc6af64e4261fe9786d644c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.easypost.com/v2/partners/stripe_public_key"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 104,
            "text": "{\"public_key\":\"pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49c64f8bb01e79b0620001cf383"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"86cc970265a111486b443bf66ef85e91\""
            },
            {
              "name": "x-node",
              "value": "bigweb35nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 641,
      },
      {
        "_id": "9acb6c7c7e45fb72f853826cbecbbe29",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [
            {
              "name": "card",
              "value": {
                "cvc": "778",
                "exp_month": "05",
                "exp_year": "2028",
                "number": "4536410136126170"
              }
            }
          ],
          "url": "https://api.stripe.com/v1/tokens?card%5Bnumber%5D=4536410136126170&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=778"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 738,
            "text": "{\"id\":\"tok_0NnPoMDqT4huGUvdq5Emrdc1\",\"object\":\"token\",\"card\":{\"id\":\"card_0NnPoMDqT4huGUvd0qGnXQxC\",\"object\":\"card\",\"address_city\":null,\"address_country\":null,\"address_line1\":null,\"address_line1_check\":null,\"address_line2\":null,\"address_state\":null,\"address_zip\":null,\"address_zip_check\":null,\"brand\":\"Visa\",\"country\":\"US\",\"cvc_check\":\"unchecked\",\"dynamic_last4\":null,\"exp_month\":5,\"exp_year\":2028,\"funding\":\"credit\",\"last4\":\"6170\",\"name\":null,\"tokenization_method\":null,\"wallet\":null},\"client_ip\":\"<REDACTED>\",\"created\":1694022402,\"livemode\":true,\"type\":\"card\",\"used\":false}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "idempotency-key",
              "value": "e813444a-6e67-4d7e-a2db-9b27ae4a5ef4"
            },
            {
              "name": "original-request",
              "value": "req_w6y8vfruRxBeZn"
            },
            {
              "name": "stripe-should-retry",
              "value": "false"
            },
            {
              "name": "stripe-version",
              "value": "2020-08-27"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 435,
      },
      {
        "_id": "486644a3a965019bc24e40bf746a3b95",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"credit_card\":{\"stripe_object_id\":\"tok_0NnPoMDqT4huGUvdq5Emrdc1\",\"priority\":\"primary\"}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/credit_cards"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 448,
            "text": "{\"id\":974393902712771600,\"public_id\":\"card_3edcf1bb1c4d411dbdbb3a8a3131a53f\",\"external_reference_id\":\"card_0NnPoMDqT4huGUvd0qGnXQxC\",\"payment_gateway_id\":56205,\"created_at\":\"2023-09-06T17:46:44Z\",\"updated_at\":\"2023-09-06T17:46:44Z\",\"disabled_at\":null,\"type\":\"credit_card\",\"fingerprint\":\"orogTATbHCLF2hsX\",\"bank_name\":null,\"brand\":\"Visa\",\"exp_month\":5,\"exp_year\":2028,\"address_zip_check\":null,\"cvc_check\":\"pass\",\"country\":\"US\",\"last4\":\"6170\",\"verified\":null}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "b9d2c49e64f8bb03e79b0622001cf3e2"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"9ef6592d86cb6442593e24fe8b337f7e\""
            },
            {
              "name": "x-node",
              "value": "bigweb35nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202309052324-fe928dc813-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb2nuq 2bcb349163, extlb2nuq 003ad9bca0"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 2934,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
