{
  "log": {
    "_recordingName": "ScanForm Resource/retrieves all scanforms",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b6b820e73c67ade49d2dd39d0821d4c2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/scan_forms?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1350,
            "text": "{\"scan_forms\":[{\"id\":\"sf_d083efe80e04451c8bf169688b7621b7\",\"object\":\"ScanForm\",\"created_at\":\"2022-05-26T22:02:40Z\",\"updated_at\":\"2022-05-26T22:02:40Z\",\"tracking_codes\":[\"9400100109361121272223\"],\"address\":{\"id\":\"adr_8ef4e2a1dd3f11ec89a9ac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-05-26T22:02:39+00:00\",\"updated_at\":\"2022-05-26T22:02:39+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220526/afa7b5a68c324b058321e2ac2ccdf7d0.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_f4da8df1395f475185027ee84aaba79c\",\"confirmation\":null},{\"id\":\"sf_e54a00e1da2940f5962db58052a9615f\",\"object\":\"ScanForm\",\"created_at\":\"2022-05-26T22:02:38Z\",\"updated_at\":\"2022-05-26T22:02:38Z\",\"tracking_codes\":[\"9400100109361121272216\"],\"address\":{\"id\":\"adr_8de424a8dd3f11ec9e77ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2022-05-26T22:02:37+00:00\",\"updated_at\":\"2022-05-26T22:02:37+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San[...]
