{
  "log": {
    "_recordingName": "ScanForm Resource/retrieves all scanforms",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dc15515d98dfb44925bc57024f9353a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/scan_forms?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1368,
            "text": "{\"scan_forms\":[{\"id\":\"sf_68d27a5084614081b2deb12e5f9887fe\",\"object\":\"ScanForm\",\"created_at\":\"2022-07-29T22:02:50Z\",\"updated_at\":\"2022-07-29T22:02:51Z\",\"tracking_codes\":[\"9400100109361130689371\"],\"address\":{\"id\":\"adr_2f9a1b360f8a11eda07dac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-07-29T22:02:49+00:00\",\"updated_at\":\"2022-07-29T22:02:49+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220729/3ede11527819405299d15c77a4bcaa86.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_f13b8e64056f43e6b5f1dece43505249\",\"confirmation\":null},{\"id\":\"sf_c32a960d6ebd478aa52ed61e2e116b5c\",\"object\":\"ScanForm\",\"created_at\":\"2022-07-29T22:02:52Z\",\"updated_at\":\"2022-07-29T22:02:52Z\",\"tracking_codes\":[\"9400100109361130689388\"],\"address\":{\"id\":\"adr_309856150f8a11eda0bcac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-07-29T22:02:51+00:00\",\"updated_at\":\"2022-07-29T22:02:51+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San[...]
