{
  "log": {
    "_recordingName": "ScanForm Resource/retrieves all scanforms",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dc15515d98dfb44925bc57024f9353a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/scan_forms?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1378,
            "text": "{\"scan_forms\":[{\"id\":\"sf_7991ecb169544293bd5d4eab38da373a\",\"object\":\"ScanForm\",\"created_at\":\"2022-08-09T15:15:19Z\",\"updated_at\":\"2022-08-09T15:15:20Z\",\"tracking_codes\":[\"9400100109361132354130\"],\"address\":{\"id\":\"adr_144b66a917f611ed9af0ac1f6bc7b362\",\"object\":\"Address\",\"created_at\":\"2022-08-09T15:15:18+00:00\",\"updated_at\":\"2022-08-09T15:15:18+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":\"test@example.com\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220809/768b7208197e40a9a817b539339602af.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_78f1c289933e4d799d55f1485ef2b615\",\"confirmation\":null},{\"id\":\"sf_46309fb6d0a1478c91ed0c2fd6649eff\",\"object\":\"ScanForm\",\"created_at\":\"2022-08-09T15:15:18Z\",\"updated_at\":\"2022-08-09T15:15:18Z\",\"tracking_codes\":[\"9400100109361132354123\"],\"address\":{\"id\":\"adr_1376534417f611edb546ac1f6bc72124\",\"object\":\"Address\",\"created_at\":\"2022-08-09T15:15:17+00:00\",\"updated_at\":\"2022-08-09T15:15:17+00:00\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francis[...]
