{
  "log": {
    "_recordingName": "ScanForm Resource/retrieves all scanforms",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "9dc15515d98dfb44925bc57024f9353a",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page_size",
              "value": "5"
            }
          ],
          "url": "https://api.easypost.com/v2/scan_forms?page_size=5"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 1358,
            "text": "{\"scan_forms\":[{\"id\":\"sf_024c3dc282314a1386bbd2f05f1827dd\",\"object\":\"ScanForm\",\"created_at\":\"2022-06-01T19:48:55Z\",\"updated_at\":\"2022-06-01T19:48:55Z\",\"tracking_codes\":[\"9400100109361121892902\"],\"address\":{\"id\":\"adr_ddfa6253e1e311ecab3aac1f6b0a0d1e\",\"object\":\"Address\",\"created_at\":\"2022-06-01T19:48:53+00:00\",\"updated_at\":\"2022-06-01T19:48:53+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"5555555555\",\"email\":null,\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"status\":\"created\",\"message\":null,\"form_url\":\"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220601/0a14ee24738d4238b497ed205a27a22c.pdf\",\"form_file_type\":null,\"batch_id\":\"batch_2630ab47b36844269bc7c2ce073e0009\",\"confirmation\":null},{\"id\":\"sf_2f07a53fefe54712a44ec8a4407e7e55\",\"object\":\"ScanForm\",\"created_at\":\"2022-06-01T19:48:53Z\",\"updated_at\":\"2022-06-01T19:48:53Z\",\"tracking_codes\":[\"9400100109361121892896\"],\"address\":{\"id\":\"adr_dce7e674e1e311eca1acac1f6bc7b362\",\"object\":\"Address\",\"created_at\":\"2022-06-01T19:48:52+00:00\",\"updated_at\":\"2022-06-01T19:48:52+00:00\",\"name\":\"Jack Sparrow\",\"company\":\"EasyPost\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San[...]
