{
  "log": {
    "_recordingName": "ApiKey Service/creates, disables, enables, and deletes an API key",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "88943f478714367a3a4dea4e2afadd88",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"mode\":\"production\"}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/api_keys"
        },
        "response": {
          "content": {
            "encoding": "base64",
            "mimeType": "application/json; charset=utf-8",
            "size": 264,
            "text": "{\"object\":\"ApiKey\",\"key\":\"<REDACTED>\",\"mode\":\"production\",\"created_at\":\"2026-02-02T21:53:27Z\",\"active\":true,\"id\":\"ak_0244541a97eb465fa3e783ef44c842f5\"}"
          },
          "headers": [
            {
              "name": "x-ep-request-uuid",
              "value": "cfd5bd4169811cd7e2bbb17d028cf82c"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-node",
              "value": "bigweb53nuq"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202602022023-e2aafa4ad5-master"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-proxied",
              "value": "intlb3nuq d9379ca146, extlb1nuq cbbd141214"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 233,
      },
      {
        "_id": "9d730cbb171d11c900e0c62dfa065985",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/api_keys/ak_0244541a97eb46[...]
