{
  "log": {
    "_recordingName": "Shipment Service/retrieve estimated delivery dates for each of the Rates of a shipment",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "66a1452a15128dd58c4223dd020f429c",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"shipment\":{\"from_address\":{\"name\":\"Jack Sparrow\",\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"to_address\":{\"name\":\"Elizabeth Swan\",\"street1\":\"179 N Harbor Dr\",\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"email\":\"test@example.com\",\"phone\":\"5555555555\"},\"parcel\":{\"length\":10,\"width\":8,\"height\":4,\"weight\":15.4}}}"
          },
          "queryString": [],
          "url": "https://api.easypost.com/v2/shipments"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 4444,
            "text": "{\"id\":\"shp_9915eed83ce6438fad2f2917f7a04f9d\",\"created_at\":\"2026-07-30T17:38:22Z\",\"is_return\":false,\"messages\":[{\"carrier\":\"UPS\",\"carrier_account_id\":\"ca_3abe58dbb6c6463cbbc8d00a733634e8\",\"type\":\"rate_error\",\"message\":\"Account numbers should be 6 characters or less.\"}],\"mode\":\"test\",\"options\":{\"currency\":\"USD\",\"payment\":{\"type\":\"SENDER\"},\"date_advance\":0},\"reference\":null,\"status\":\"unknown\",\"tracking_code\":null,\"updated_at\":\"2026-07-30T17:38:23Z\",\"batch_id\":null,\"batch_status\":null,\"batch_message\":null,\"customs_info\":null,\"from_address\":{\"id\":\"adr_762c4fbc8c3d11f1aa0800224804dbec\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:38:22Z\",\"updated_at\":\"2026-07-30T17:38:22Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"insurance\":null,\"order_id\":null,\"parcel\":{\"id\":\"prcl_291f76a6d7414851bce62d6943da37ac\",\"object\":\"Parcel\",\"weight\":15.4,\"length\":10,\"width\":8,\"height\":4,\"predefined_package\":null,\"mode\":\"test\",\"created_at\":\"2026-07-30T17:38:22Z\",\"updated_at\":\"2026-07-30T17:38:22Z\"},\"postage_label\":null,\"rates\":[{\"id\":\"rate_cb7c0b0d7385442395a41a53cdbad737\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:38:23Z\",\"updated_at\":\"2026-07-30T17:38:23Z\",\"mode\":\"test\",\"service\":\"Express\",\"carrier\":\"USPS\",\"rate\":\"39.05\",\"currency\":\"USD\",\"retail_rate\":\"43.45\",\"retail_currency\":\"USD\",\"list_rate\":\"39.05\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":1,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":1,\"shipment_id\":\"shp_9915eed83ce6438fad2f2917f7a04f9d\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_9fb89fe5bf0c43d9aa9b47027f236c63\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:38:23Z\",\"updated_at\":\"2026-07-30T17:38:23Z\",\"mode\":\"test\",\"service\":\"Priority\",\"carrier\":\"USPS\",\"rate\":\"9.22\",\"currency\":\"USD\",\"retail_rate\":\"11.90\",\"retail_currency\":\"USD\",\"list_rate\":\"10.40\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_9915eed83ce6438fad2f2917f7a04f9d\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"},{\"id\":\"rate_548fc8c955324e50b2cbda75f22e979b\",\"object\":\"Rate\",\"created_at\":\"2026-07-30T17:38:23Z\",\"updated_at\":\"2026-07-30T17:38:23Z\",\"mode\":\"test\",\"service\":\"GroundAdvantage\",\"carrier\":\"USPS\",\"rate\":\"6.98\",\"currency\":\"USD\",\"retail_rate\":\"10.60\",\"retail_currency\":\"USD\",\"list_rate\":\"7.46\",\"list_currency\":\"USD\",\"billing_type\":\"easypost\",\"delivery_days\":2,\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"est_delivery_days\":2,\"shipment_id\":\"shp_9915eed83ce6438fad2f2917f7a04f9d\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\"}],\"refund_status\":null,\"scan_form\":null,\"selected_rate\":null,\"tracker\":null,\"to_address\":{\"id\":\"adr_762c4f558c3d11f1aa0700224804dbec\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:38:22Z\",\"updated_at\":\"2026-07-30T17:38:22Z\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"usps_zone\":4,\"return_address\":{\"id\":\"adr_762c4fbc8c3d11f1aa0800224804dbec\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:38:22Z\",\"updated_at\":\"2026-07-30T17:38:22Z\",\"name\":\"Jack Sparrow\",\"company\":null,\"street1\":\"388 Townsend St\",\"street2\":\"Apt 20\",\"city\":\"San Francisco\",\"state\":\"CA\",\"zip\":\"94107\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"buyer_address\":{\"id\":\"adr_762c4f558c3d11f1aa0700224804dbec\",\"object\":\"Address\",\"created_at\":\"2026-07-30T17:38:22Z\",\"updated_at\":\"2026-07-30T17:38:22Z\",\"name\":\"Elizabeth Swan\",\"company\":null,\"street1\":\"179 N Harbor Dr\",\"street2\":null,\"city\":\"Redondo Beach\",\"state\":\"CA\",\"zip\":\"90277\",\"country\":\"US\",\"phone\":\"<REDACTED>\",\"email\":\"<REDACTED>\",\"mode\":\"test\",\"carrier_facility\":null,\"residential\":null,\"federal_tax_id\":null,\"state_tax_id\":null,\"verifications\":{}},\"forms\":[],\"fees\":[],\"object\":\"Shipment\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "easypost-api-version",
              "value": "2015-01-01"
            },
            {
              "name": "location",
              "value": "/api/v2/shipments/shp_9915eed83ce6438fad2f2917f7a04f9d"
            },
            {
              "name": "x-backend",
              "value": "easypost"
            },
            {
              "name": "x-ep-request-uuid",
              "value": "d6c23b766a6b8c0ee0e306b003f2d700"
            },
            {
              "name": "x-node",
              "value": "bigweb34nuq"
            },
            {
              "name": "x-proxied",
              "value": "intlb6nuq 1bff4a8790, extlb1nuq e8c67c6320"
            },
            {
              "name": "x-version-label",
              "value": "easypost-202607300115-be0cf87c94-main"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 402,
      },
      {
        "_id": "57db69ca6f290dfe82b563e7ced882f0",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "planned_ship_date",
              "value": "2026-08-01"
            }
          ],
          "url": "https://api.easypost.com/v2/shipments/shp_9915eed83ce6438fad2f2917f7a04f9d/smartrate/delivery_date?planned_ship_date=2026-08-01"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2342,
            "text": "{\"rates\":[{\"easypost_time_in_transit_data\":{\"days_in_transit\":{\"percentile_50\":2,\"percentile_75\":2,\"percentile_85\":3,\"percentile_90\":4,\"percentile_95\":5,\"percentile_97\":5,\"percentile_99\":7},\"easypost_estimated_delivery_date\":\"2026-08-01\",\"planned_ship_date\":\"2026-08-01\"},\"rate\":{\"carrier\":\"USPS\",\"carrier_account_id\":\"ca_5ba7ca3632c54adeb17ad4bcac13c890\",\"created_at\":\"2026-07-30T17:38:23Z\",\"currency\":\"USD\",\"delivery_date\":null,\"delivery_date_guaranteed\":false,\"delivery_days\":1,\"est_delivery_days\":1,\"id\":\"rate_cb7c0b0d7385442395a41a53cdbad737\",\"list_currency\":\"USD\",\"list_rate\":39.05,\"mode\":\"test\",\"object\":\"Rate\",\"rate\":39.05,\"retail_currency\":\"USD\",\"retail_rate\":43.45,\"service\":\"Express\",\"shi[...]
